{% extends "base.html" %}
{% block assets_js %}
    {# Sobreescribo los JS de base.html #}
    {%- assets "js_labs" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets -%}
{% endblock %}
{% block head %}
    {%- assets "css_labs" -%}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />
    {%- endassets -%}
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div id="search2">
        <img src="/static/img/home/logo.png" alt="foofind" width="350" />
        <span{%- if g.lang in ["zh", "pt","eu"] %} class="small"{% endif %}>{{_('i_want_that_file')}}</span>
        {{flash()}}
        <form method="get" action="{{ url_for('files.search') }}">
            <fieldset id="params">
                {{- form.q(autocomplete="off") -}}
                <span>
                    <select id="type" name="type">
                    {%- for value,option in form.type.choices %}
                        <option value="{{ value }}" class="type_img img_{{ value }}" title="botones">{{ option }}</option>
                    {%- endfor %}
                    </select>
                </span>
            </fieldset>
            <fieldset>
                {{- form.search_submit -}}
            </fieldset>            
        </form>
    </div>
    <div id="extra">
        <div id="live">
            <div class="texto">
                <h3>{{_("index_change")}}</h3>
                <p>{{_("index_comunity")}}</p>
                <p>{{_("index_first")}}</p>
                <h4>{{_("index_suggestion")}}</h4>
            </div>
            <div class="social">
                {#<h4>{{_('newhome_they_use_foofind')}}</h4>#}
                <div id="fb-root"></div>
                <div class="fb-like-box" data-href="http://www.facebook.com/foofind" data-width="600" data-height="180" data-show-faces="true" data-border-color="#F5F5F5" data-stream="false" data-header="false"></div>
                <div class="g-plusone" data-size="medium" data-href="http://foofind.is"></div>
                <a href="https://twitter.com/foofind" class="twitter-follow-button" data-show-count="false" data-lang="{{ g.lang }}">Seguir a @foofind</a>
                <script>
                    (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/{{ lang }}/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    window.___gcfg={lang:'{{ g.lang }}'};(function(){var po=document.createElement('script');po.type='text/javascript';po.async=true;po.src='https://apis.google.com/js/plusone.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po, s)})();
                </script>
            </div>
        </div>
    </div>
{% endblock %}
{% block logos %}
    <div>
        <img src="/static/planavanza2_mini.png" alt="plan_avanza" />
        <img src="/static/ministerio_mini.png" alt="ministerio" />
    </div>
{% endblock %}
