{% from "files/macros.html" import print_share with context %}
{% from "helpers.html" import render_field,login_required %}
{% set lang = g.lang %}
{%- macro print_filepaths(paths, limit) %}
    <ul class="filepaths">
        {%- for path, info in (paths.items() | sort) %}
            <li>
                {% if path[0] == "/" %}
                    <a href="{{ {'query':path[1:]|seoize('_', True)}|url_search(args) }}">{{ path[1:] }}</a>
                    {{ print_filepaths(info, False) }}
                {% else %}
                    <span>{{ info | numbersizeformat(lang) }}</span><a href="{{ {'query':path|seoize('_', True)}|url_search(args) }}" title="{{ path }}">{{ path }}</a>
                {% endif %}
            </li>
        {%- endfor %}
        {%- if limit %}
        <li class="first_files">{{_("first_files", value=limit)}}</li>
        {% endif %}
    </ul>
{% endmacro -%}
{%- macro print_source(source_data,link_position,url="") %}
    <li>
        <span class="{% if source_data['icons']['16'] %}source16 source_{{ source_data['tip']|replace('.','') }}16{% else %}source {{ source_data['icon'] }}{% endif %}" title="{{ source_data['tip'] }}"></span>
        <a href="{% if url=='' %}{{ source_data['urls'][0] }}{% else %}{{ url }}{% endif %}" title="{{_('go_to_file')}}" data-stats="Download;{{link_position}};{{source_data['d']}}"
        data-downloader="{{source_data['downloader']}}">{{_(file['view']['action']+"_source",source='<em>%s</em>'|safe%source_data['tip'])|lower}}</a>
    </li>
{% endmacro -%}
{%- macro print_sources(sources,link_position) %}
    <ul id="sources_links">
    {% for source,source_data in sources.items() %}
        {% if source_data['count']>1 and source_data['icon']=="web" %} {# para mostrar sources en los que tienen que aparecer todas las URL #}
            {% for url in source_data["urls"] %}
                {{print_source(source_data,link_position,url)}}
            {% endfor %}
        {% else %}
            {{print_source(source_data,link_position)}}
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro -%}
{% block content %}
<button title="{{_('close')}}" class="close"></button>
<article data-id="{{ file['file']['id'] }}">
    <header>
        <ul>
            <li title="{{_(file['view']['file_type'])}}"><span class="{{ file['view']['file_type'] }}"></span></li>
            <li title="{{_(file['view']['sources'][file['view']['sources']|first]['source']|lower)|capitalize}}"><span class="{{ file['view']['sources'][file['view']['sources']|first]['source'] }}"></span></li>
        </ul>
        <h2 title="{{ file['view']['fn'] }}">{{ file['view']['fn'] }}</h2>
    </header>
    <section id="download_button">
        {% if "embed" in file["view"] %}
            {{ file['view']['embed']|safe }}
        {% else %}
            <div>
                {% if 'images_server' in file['view'] %}
                <img id="{{ file['file']['id'] }}" class="img_{{ file['view']['images_server'] }}" src="http://{{ file['view']['first_image_server'] }}/{{ file['view']['images_id'] }}0" alt="preview" />
                {% else %}
                <span></span>
                {% endif %}
            </div>
            {% if "source" in file["view"] %}
            <span class="{% if file['view']['sources'][file['view']['source']]['icons']['32'] %}source32 source_{{ file['view']['sources'][file['view']['source']]['tip']|replace('.','') }}32{% else %}source {{ file['view']['sources'][file['view']['source']]['icon'] }}{% endif %}" title="{{ file['view']['sources'][file['view']['source']]['tip'] }}"></span>
            <a href="{{ file['view']['sources'][file['view']['source']]['urls'][0] }}" class="button" title="{{_(file['view']['action'])}} ({{_('open_link_new_tab')}})" target="_blank" data-stats="Download;Download big button;{{file['view']['sources'][file['view']['source']]['d']}}" data-downloader="{{file['view']['sources'][file['view']['source']]['downloader']}}">{{_(file['view']['action']+"_source",source='<em>%s</em>'|safe%file['view']['sources'][file['view']['source']]['tip'])|lower}}</a>
            {% endif %}
            {% if file['view']['any_downloader'] %}
            <a class="downloader" data-label="File page tip" href="{{url_for('downloader.download_proxy')}}">{{_("download using Foofind Download Manager")}}</a>
            {% endif %}
            <h4>{{_('all_sources')}}</h4>
            {{print_sources(file['view']['sources'],"Download main links")}}
        {% endif %}
    </section>
    <section id="links">
        <ul id="user_actions">
            <li>
                <button id="favorite" title="{% if favorite %}{{_('delete_favorite',type=_('file'))}}" class="active" data-action="delete{% else %}{{_('add_favorite',type=_('file'))}}" data-action="add{% endif %}" data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-title="{{_('add_favorite',type=_('file'))}}" data-login="{{ current_user.is_authenticated()|int }}"></button>
                {% if not current_user.is_authenticated() %}{{ login_required(url_for(".download",file_id=file['file']['id'],file_name=file['view']['fn'])) }}{% endif %}
            </li>
            <li><button id="vote_up" title="{{_('i_like_it')}} ({% if 'vs' in file['file'] and g.lang in file['file']['vs'] %}{{ file['file']['vs'][g.lang]['c'][0]|int }}{% else %}0{% endif %})"{% if vote['k']>0 %} class="active"{% endif %} data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-vote="1" data-login="{{ current_user.is_authenticated()|int }}"></button></li>
            <li><button id="vote_down" title="{{_('booo')}} ({% if 'vs' in file['file'] and g.lang in file['file']['vs'] %}{{ file['file']['vs'][g.lang]['c'][1]|int }}{% else %}0{% endif %})"{% if vote['k']<0 %} class="active"{% endif %} data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-vote="0" data-login="{{ current_user.is_authenticated()|int }}"></button></li>
        </ul>
        <ul id="actions">
            <li><button id="share_download_links"><span></span>{{_("share_download")|lower}}</button></li>
            {% if "embed" in file["view"] %}
            <li><button id="download_links" title="{{_('download_links')}}"></button></li>
                {% if file['view']['sources'][file['view']['source']]['source']=="direct_download" %}
                <li><a id="download_link" title="{{_('go_to_file')}}" href="{{ file['view']['sources'][file['view']['source']]['urls'][0] }}" data-stats="Download;Download bar button;{{file['view']['sources'][file['view']['source']]['d']}}">{{_("download")|lower}}</a></li>
                {% endif %}
            {% endif %}
            {#<li><a id="more_links" href="#"></a></li>
            <li><a id="embed_code" href=""></a></li>#}
            <li><form action="{{url_for('page.complaint')}}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="file_id" value="{{file['file']['id']}}"/>
                    <input type="hidden" name="file_name" value="{{file['view']['fn']}}"/>
                    <input id="complaint" type="submit" title="{{_('complaint')}}" value=""/>
                </form></li>
        </ul>
        <div id="download_share">
            <span>{{_("share_this")}}</span>
            {% if request.path==url_for(".downloada") %}{{ print_share("__url_share__",32) }}{% else %}{{ print_share(request.base_url,32) }}{% endif %}
        </div>
        {% if "embed" in file["view"] %}{{ print_sources(file['view']['sources'], "Download bar links") }}{% endif %}
    </section>
    <section id="metadata">
        <dl>
            <dt>{{_("name")}}</dt>
            <dd><a href="{{ {'query':file['view']['nfn']|seoize("_",True)}|url_search(args) }}">{{ file['view']['nfn'] }}</a></dd>
            {% if 'z' in file['file'] and file['file']['z'] %}
            <dt>{{_("size")}}</dt>
            <dd>{{ file['file']['z']|numbersizeformat }}</dd>
            {% endif %}
            {% for metadata,value in file['view']['md'].iteritems()  | sort %}
            <dt>{{_(metadata)}}</dt>
            <dd>
                {%-if metadata in file['view']['searches'] %}
                    {%-if file['view']['searches'][metadata] == [] %}
                        {% for avalue in value.split(",")[:50] %}
                            <a href="{{ {'query':avalue|seoize("_",True)}|url_search(args) }}">{{ avalue|trim }}</a>{{", " if not loop.last}}
                        {% endfor %}
                    {%-elif file['view']['searches'][metadata] == {} %}
                        {{print_filepaths(value, file['file']['md']['torrent:partial_filepaths'] if 'torrent:partial_filepaths' in file['file']['md'] else False)}}
                    {%-else %}
                        <a href="{{ {'query':file['view']['searches'][metadata]}|url_search(args) }}">{{ (value|string)[:2000].replace("\n","<br />") | safe }}</a>
                    {%-endif %}
                {%-else %}
                    {{ (value|string)[:2000].replace("\n","<br />") | safe }}
                {%-endif %}
            </dd>
            {% endfor %}
        </dl>
        <a href="#metadata" data-info="{{_("less_info")}}">{{_("more_info")}}</a>
    </section>
    <section id="comments">
        {% if comments!=[] %}
        <dl>
            {% for i,user,comment,votes in comments if user is not none %}
            <dt><a href="{{ url_for('user.profile',username=user['username']) }}">{{ user['username'] }}</a></dt>
            <dd>
                <span>{{_('since',since=comment['d']|format_timedelta)}} {% if 'location' in user %} {{_('from')}} {{ user['location'] }}{% endif %}</span>
                {{ comment['t'] }}
            </dd>
            {% endfor %}
        </dl>
        <a href="#comments" data-info="{{_("less_comments")}}">{{_("more_comments")}}</a>
        {% endif %}
        {% if not current_user.is_authenticated() %}
        <div><a href="{{ url_for('user.login',next=url_for('.download',file_id=file['file']['id'],file_name=file['view']['qfn'])) }}">{{_('add_comment')}}</a></div>
        {% else %}
        <form action="{{ url_for('.download',file_id=file['file']['id'],file_name=file['view']['qfn']) }}" method="post">
            <fieldset>
                {{ render_field() }}
                {{ form.t(cols=35,rows=2) }}<span></span>
                {{ form.submit_comment() }}
            </fieldset>
        </form>
        {% endif %}
    </section>
</article>
{% endblock %}
