{% from "files/macros.html" import url_search with context %}
{% from "helpers.html" import render_field,login_required %}
{%- macro print_source(source_data,url="") %}
    <li>
        <a href="{% if url=='' %}{{ source_data['urls'][0] }}{% else %}{{ url }}{% endif %}">{{ source_data['tip']|upper }}</a>
        <input type="text" value="{% if url=='' %}{{ source_data['urls'][0] }}{% else %}{{ url }}{% endif %}" />
    </li>
{% endmacro -%}
{%- macro print_sources(sources) %}
    <ul id="sources_links">
    {% for source,source_data in sources.items() %}
        {% if source_data['count']>1 and source_data['icon']=="web" %} {# para mostrar sources en los que tienen que aparecer todas las URL #}
            {% for url in source_data["urls"] %}
                {{print_source(source_data,url)}}
            {% endfor %}
        {% else %}
            {{print_source(source_data)}}
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro -%}
{% block content %}
<button title="{{_('close')}}"></button>
<article data-id="{{ file['file']['id'] }}">
    <header>
        <ul>
            <li title="{{_(file['view']['file_type'])}}"><span class="{{ file['view']['file_type'] }}"></span></li>
            <li title="{{_(file['view']['sources'][file['view']['sources']|first]['source']|lower)|capitalize}}"><span class="{{ file['view']['sources'][file['view']['sources']|first]['source'] }}"></span></li>
        </ul>
        <h2 title="{{ file['view']['fn'] }}">{{ file['view']['fn'] }}</h2>
    </header>
    <section id="download_button">
        {% if "embed" in file["view"] %}
            {{ file['view']['embed']|safe }}
        {% else %}
            {#{% if 'images_server' in file['view'] %}
            <a class="thumblink" href="{{ file['view']['sources'][file['view']['source']]['urls'][0] }}" data-play="{{ file['file']['id'] }}" data-active_play="{{ file['file']['id'] }}">
                <img id="{{ file['file']['id'] }}" class="img_{{ file['view']['images_server'] }}" src="http://{{ file['view']['first_image_server'] }}/{{ file['file']['_id'] }}0" />
            </a>
            {% else %}
            <span class="icon50 {{ file['view']['file_type'] }}"></span><br />
            {% endif %}#}
            {% if "source" in file["view"] %}
            <a href="{{ file['view']['sources'][file['view']['source']]['urls'][0] }}" class="button" title="{{_('download')}}">
                {{_(file['view']['action'])|lower}}
                {% if 'z' in file['file'] and file['file']['z'] %}
                    ({{ file['file']['z']|numbersizeformat }})
                {% endif %}
            </a>
            {% endif %}
            {{print_sources(file['view']['sources'])}}
        {% endif %}
    </section>
    <section id="links">
        <ul id="user_actions">
            <li>
                <button id="favorite" title="{% if favorite %}{{_('delete_favorite',type=_('file'))}}" class="active" data-action="delete{% else %}{{_('add_favorite',type=_('file'))}}" data-action="add{% endif %}" data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-title="{{_('add_favorite',type=_('file'))}}" data-login="{{ current_user.is_authenticated()|int }}"></button>
                {% if not current_user.is_authenticated() %}{{ login_required(url_for(".download",file_id=file['file']['id'],file_name=file['view']['fn'])) }}{% endif %}
            </li>
            <li><button id="vote_up" title="{{_('i_like_it')}} ({% if 'vs' in file['file'] and g.lang in file['file']['vs'] %}{{ file['file']['vs'][g.lang]['c'][0]|int }}{% else %}0{% endif %})"{% if vote['k']>0 %} class="active"{% endif %} data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-vote="1" data-login="{{ current_user.is_authenticated()|int }}"></button></li>
            <li><button id="vote_down" title="{{_('booo')}} ({% if 'vs' in file['file'] and g.lang in file['file']['vs'] %}{{ file['file']['vs'][g.lang]['c'][1]|int }}{% else %}0{% endif %})"{% if vote['k']<0 %} class="active"{% endif %} data-type="file" data-where="{{ file['file']['s'] }}" data-file="{{ file['file']['id'] }}" data-name="{{ file['view']['fn'] }}" data-vote="0" data-login="{{ current_user.is_authenticated()|int }}"></button></li>
        </ul>
        <ul id="actions">
            <li><a id="facebook" href="http://www.facebook.com/share.php?u=http://foof.in/2/{{file['file']['id']}}" title="{{_('share_facebook')|capitalize}}" rel="nofollow"></a></li>
            <li><a id="twitter" href="http://twitter.com/home?status=http://foof.in/2/{{file['file']['id']}}" title="{{_('share_twitter')|capitalize}}" rel="nofollow"></a></li>
            <li><a id="email" href="mailto:?subject={{file['view']['efn']}}&amp;body=http://foof.in/2/{{file['file']['id']}}" title="{{_('send_by_email')|capitalize}}" rel="nofollow"></a></li>
            {% if "embed" in file["view"] %}
            <li><button id="download_links" title="{{_('download_links')}}"></button></li>
                {% if file['view']['sources'][file['view']['sources']|first]['source']=="direct_download" %}
                <li><a id="download_link" title="{{_('go_to_file')}}" href="{{ file['view']['sources'][file['view']['source']]['urls'][0] }}">{{_("download")|lower}}</a></li>
                {% endif %}
            {% endif %}
            {#<li><a id="more_links" href="#"></a></li>
            <li><a id="embed_code" href=""></a></li>#}
            <li><a id="complaint" href="{{ url_for('page.complaint',file_id=file['file']['id'],file_name=file['view']['fn']) }}" rel="nofollow" title="{{_('complaint')}}"></a></li>
        </ul>
        {% if "embed" in file["view"] %}{{ print_sources(file['view']['sources']) }}{% endif %}
    </section>
    <section id="metadata">
        <dl>
            <dt>{{_("name")}}</dt>
            <dd>{{ file['view']['nfn'] }}</dd>
            {% for metadata,value in file['view']['md'].items() %}
            <dt>{{_(metadata)}}</dt>
            <dd>{{ (value|string)[:1000].replace("\n","<br />") | safe }}</dd>
            {% endfor %}
        </dl>
        <a href="#metadata" data-info="{{_("less_info")}}">{{_("more_info")}}</a>
    </section>
    <section id="comments">
        {% if comments!=[] %}
        <dl>
            {% for i,user,comment,votes in comments if user is not none %}
            <dt><a href="{{ url_for('user.profile',username=user['username']) }}">{{ user['username'] }}</a></dt>
            <dd>
                <span>{{_('since',since=comment['d']|format_timedelta)}} {% if 'location' in user %} {{_('from')}} {{ user['location'] }}{% endif %}</span>
                {{ comment['t'] }}
            </dd>
            {% endfor %}
        </dl>
        <a href="#comments" data-info="{{_("less_comments")}}">{{_("more_comments")}}</a>
        {% endif %}
        {% if not current_user.is_authenticated() %}
        <div><a href="{{ url_for('user.login',next=url_for('.download',file_id=file['file']['id'],file_name=file['view']['qfn'])) }}">{{_('add_comment')}}</a></div>
        {% else %}
        <form action="{{ url_for('.download',file_id=file['file']['id'],file_name=file['view']['qfn']) }}" method="post">
            <fieldset>
                {{ render_field() }}
                {{ form.t(cols=35,rows=2) }}<span></span>
                {{ form.submit_comment() }}
            </fieldset>
        </form>
        {% endif %}
    </section>
</article>
{% endblock %}
