{%- macro url_search(delete_params=[],catch_kwargs=true) -%}
    {{url_for('files.search',**kwargs|search_params(['page','alt']+delete_params,args,extra_sources))}}
{%- endmacro -%}
{%- macro print_source(source_data,url="") %}
    <div class="download_source">
        <input type="text" readonly="readonly" value="{% if url=='' %}{{ source_data['urls'][0] }}{% else %}{{url}}{% endif %}" class="no" />
        <span class="icon30 {{ source_data['icon'] }}30"></span>
        <a href="{% if url=='' %}{{ source_data['urls'][0] }}{% else %}{{url}}{% endif %}">{{ source_data['tip'] }}
        <br/>
        <span>
        {% if source_data['count']>1 and url=="" %}
            ({{ source_data['count'] }} {{_('sources')}})
        {% endif %}
        </span>
        </a>
    </div>
{% endmacro -%}
{%- macro print_share(url,size=16) %}
    <ul>
        {%- for site in share -%}
        <li><a class="source{{ size }} source_{{ site[1] }}{{ size }}" href="{{_(site[2],url=u(url)|urlencode,title=g.title|urlencode)}}" title="{% if site[1]=='email' %}{{ _(site[0])|capitalize }}{% else %}{{_('share',site=site[0])}}{% endif %}" rel="nofollow"></a></li>
        {%- endfor -%}
    </ul>
{% endmacro -%}
