{% extends "files/base.html" %}
{% block content %}
    {{ flash() }}
    <div id="search_info">
        {%- if results["total_found"]>0 %}
            {{ ((pagination.page-1)*10)+1 }} -
            {%- if results["total_found"]<10 %}
                {{ results["total_found"] }}
            {%- else %}
                {{ pagination.page*10 }}
            {%- endif %}
            {{_('of_about')}}
            {{ results["total_found"]|numberformat }} {{_('results_for')}}
            {%- for word in search %}
                <a href="{{ url_search(q=word,src='swftge',delete_params=['all']) }}">{{ word }}</a>
            {% endfor -%}
            ({{ results["time"]|float|numberformat }} {{_('seconds')}})
        {%- endif %}
    </div>
    <ul id="tabnav">
        <li><a href="{{ url_search(src='swftge') }}" {{ searched('src','swftge',true) }}>{{_('all')}}</a></li>
        <li><a href="{{ url_search(src='wf') }}" {{ searched('src','wf') }}>{{_('direct_downloads')}}</a></li>
        <li><a href="{{ url_search(src='t') }}" {{ searched('src','t') }}>Torrents</a></li>
        <li><a href="{{ url_search(src='s') }}" {{ searched('src','s') }}>Streaming</a></li>
        <li><a href="{{ url_search(src='g') }}" {{ searched('src','g') }}>Gnutella</a></li>
        <li><a href="{{ url_search(src='e') }}" {{ searched('src','e') }}>Ed2k</a></li>
    </ul>
    <div id="advsearch">
        <a href="#"><span>▶</span>{{_('advanced_search')}}</a>
        <div>
            <ul class="size">
                <li><a href="{{ url_search(delete_params=['size']) }}" {{ searched('size') }}>{{_('all_sizes')}}</a></li>
                <li><a href="{{ url_search(size=1) }}" {{ searched('size','1') }}>{{_('smaller_than')}} 1MiB</a></li>
                <li><a href="{{ url_search(size=2) }}" {{ searched('size','2') }}>{{_('smaller_than')}} 10MiB</a></li>
                <li><a href="{{ url_search(size=3) }}" {{ searched('size','3') }}>{{_('smaller_than')}} 100MiB</a></li>
                <li><a href="{{ url_search(size=4) }}" {{ searched('size','4') }}>{{_('larger_than')}} 100MiB</a></li>
            </ul>
            
        </div>
    </div>
    {% if tags %}
    <ul id="tags">
        {% for tag, size in tags %}
        <li><a href="{{ url_search(q=args['q']+" "+tag) }}" style="font-size:{{ size }}%">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if didyoumean %}
    <p id='didyoumean'>{{ _("did_you_mean", text="<a href='%s'>%s</a>"|safe % (url_search(q=didyoumean),didyoumean)) }}</p>
    {% endif %}
    {%- if results["total_found"]>0 %}
    <ul id="results">
        {% for file_info in files %}
            {% set file = file_info["file"] %}
            {% set search = file_info["search"] %}
        <li>
            {% if 'images_server' in file['view'] %}
            <a class="thumblink" href="{{ url_for('.download',file_id=file['file']['id'],file_name=file['view']['fn']) }}.html">
                <span>
                    <img id="{{ file['file']['id'] }}" alt="{{ file['file']['id'] }}" class="img_{{ file['view']['images_server'] }}" src="http://{{ file['view']['first_image_server'] }}/{{ file['file']['_id'] }}0" />
                </span>
            </a>
            {% endif %}
            <h3><a href="{{ url_for('.download',file_id=file['file']['id'],file_name=file['view']['qfn']) }}.html">{{ file['view']['fnh']|safe }}</a></h3>
            <dl>
            {% for metadata,value in file['view']['md'].items() %}
                <dt>{{_(metadata)}}: </dt>
                <dd>{{ value }}. </dd>
            {% endfor %}
            </dl>
            {%- if 'z' in file['file'] and file['file']['z'] %}
                {{ file['file']['z']|numbersizeformat }} -
            {% endif -%}
            {% for source,source_data in file['view']['sources'].items() %}
            <a href="{{ source_data['urls'][0] }}" title="{{ source_data['tip'] }}" class="source">
                <span class="icon24 {{ source_data['icon'] }}d24"></span>
                {{ source_data['tip'] }}{% if source_data['count']>1 %} ({{ source_data['count'] }} {{_('sources')}}){% endif %}
            </a>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>
        {%- if 0 < pagination.page < 101 -%}
            {{_('no_results_for')}}
            {%- for word in search %}
                 <a href="{{ url_search(q=word,src='swftge',delete_params=['all']) }}">{{ word }}</a>
            {% endfor -%}
        {%- else -%}
            {{_('not_allow_browse_results')}}
        {%- endif -%}
    </h2>
    {% endif %}
    {% if pagination.pages>1 %}
    <ul class="pagination">
        {% if pagination.page>1 and pagination.has_prev %}
            <li><a href="{{ url_search(page=pagination.page-1) }}">« {{_('previous')}}</a></li>
        {% endif %}
        {%- for page in pagination.iter_pages(right_current=10,right_edge=0) %}
            {% if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_search(page=page) }}">{{ page }}</a></li>
                {% else %}
                    <li id="current"><span>{{ page }}</span></li>
                {% endif %}
            {% else %}
                <li class="ellipsis">…</li>
            {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
            <li><a href="{{ url_search(page=pagination.page+1) }}">{{_('next')}} »</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

