{% extends "files/base.html" %}
{% from "helpers.html" import flash%}
{% macro checkbox(value,text="") -%}
    <li title="{{_(g.sources_names[value])}}"{{ ' class="active"'|safe if value in active_srcs }}>
        <a href="{{ {'src':value}|url_search(args)}}" data-filter="{{ value }}">{{ text or value }}</a>
    </li>
{%- endmacro %}
{% block head %}
    {%- assets "js_search" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    {%- if request.user_agent.platform=="iphone" or "ipad" in request.user_agent.string|lower() %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="{{ g.static_prefix }}/css/iphone_ipad.css" rel="stylesheet" type="text/css" />
    {% endif -%}
    {%- if alternate %}
        {% for alt in alternate -%}
        <link rel="alternate" href="{{ alt }}" />
        {% endfor -%}
    {% endif -%}
    {%- if canonical -%}
        <link rel="canonical" href="{{ canonical }}" />
    {% endif -%}
{% endblock %}
{% block content %}
    {% autoescape false %}
    <div id="fondo"></div>
    <div id="subcontent">
        <div id="flecha"></div>
        <div id="download"{% if static_download['html'] %} class="active">{{ static_download['html'] }}{% else %}>{% endif %}
        {% if not bot %}
            <div>
                <img alt="cargando" src="{{ g.static_prefix }}/img/search/cargando150.png" />
                <img alt="cargando" src="{{ g.static_prefix }}/img/search/cargando150.png" />
            </div>
        {% endif %}
        </div>
        {{ flash() }}
        <section>
            <aside>
                <dl>
                    <dt>{{_('what')|lower}}<a href="{{ {}|url_search(args, delete_params=['type'])}}" data-filter="type" title="{{_('all')}}">{{_('all')|lower}}</a></dt>
                    <dd id="type">
                        <ul>
                            <li{{ " class='active'" if 'audio' in active_types }}><a href="{{ {'type':'audio'}|url_search(args) }}" data-filter="audio" title="{{_('audio')}}: mp3, ogg, aac, wma, wav, amr, flac, oga...">{{_('audio')}}</a></li>
                            <li{{ " class='active'" if 'video' in active_types }}><a href="{{ {'type':'video'}|url_search(args) }}" data-filter="video" title="{{_('video')}}: avi, flv, mkv, mp4, wmv, mpg, mov, webm, 3gp, rmvb, vob...">{{_('video')}}</a></li>
                            <li{{ " class='active'" if 'image' in active_types }}><a href="{{ {'type':'image'}|url_search(args) }}" data-filter="image" title="{{_('image')}}: jpg, png, gif, bmp, tiff, psd, xcf...">{{_('image')}}</a></li>
                            <li{{ " class='active'" if 'document' in active_types }}><a href="{{ {'type':'document'}|url_search(args) }}" data-filter="document" title="{{_('document')}}: pdf, epub, doc, xls, ppt, odf, txt...">{{_('document')}}</a></li>
                            <li{{ " class='active'" if 'software' in active_types }}><a href="{{ {'type':'software'}|url_search(args) }}" data-filter="software" title="{{_('software')}}: exe, msi, apk, sys, iso, nrg...">{{_('software')}}</a></li>
                            <li><a></a></li>
                        </ul>
                    </dd>
                    <dt>{{_('where')|lower}}<a href="{{ {}|url_search(args, delete_params=['src'])}}" data-filter="src" title="{{_('all')}}">{{_('all')|lower}}</a></dt>
                    <dd id="src">
                        {% set params=args["src"] if "src" in args else [] %}
                        <ul>
                            <li{{ " class='active'" if "streaming" in active_srcs }}>
                                <a href="{{ {'src':'streaming'}|url_search(args) }}" data-filter="streaming" title="Streaming">Streaming</a>
                                <ul class="{% if not params %}inactive{% elif 'other-streamings' in params %}inactive_{{ sources_count['streaming']-(g.sources_streaming|length-9) }}{% else %}inactive_{{ sources_count['streaming'] }}{% endif %}">
                                    {%- for source in g.sources_streaming[:8] %}{{ checkbox(source) }}{% endfor %}
                                    {{ checkbox("other-streamings",_("others")+" ("+(g.sources_streaming|length-8)|string+")") }}
                                    <li><button>{{_("update")}}</button></li>
                                </ul>
                                <span class="more">+
                                {% if params %}
                                {{ sources_count['streaming']-2 }} {{_("sources")}}</span>
                                <strong><span>{{ sources_count["streaming"] }}</span> / {{ g.sources_streaming|length }}</strong>
                                {% else %}
                                {{ g.sources_streaming|length-2 }} {{_("sources")}}</span>
                                {% endif %}
                            </li>
                            <li{{ " class='active'" if "download" in active_srcs }}>
                                <a href="{{ {'src':'download'}|url_search(args) }}" data-filter="download" title="{{_('direct_downloads')}}">{{_('direct_downloads')}}</a>
                                <ul class="{% if not params %}inactive{% elif 'other-downloads' in params %}inactive_{{ sources_count['download']-(g.sources_download|length-9) }}{% else %}inactive_{{ sources_count['download'] }}{% endif %}">
                                    {% for source in g.sources_download[:8] %}{{ checkbox(source) }}{% endfor %}
                                    {{ checkbox("other-downloads",_("others")+" ("+(g.sources_download|length-8)|string+")") }}
                                    <li><button>{{_("update")}}</button></li>
                                </ul>
                                <span class="more">+
                                {% if params %}
                                {{ sources_count['download']-2 }} {{_("sources")}}</span>
                                <strong><span>{{ sources_count["download"] }}</span> / {{ g.sources_download|length }}</strong>
                                {% else %}
                                {{ g.sources_download|length-2 }} {{_("sources")}}</span>
                                {% endif %}
                            </li>
                            <li{{ " class='active'" if "p2p" in active_srcs }}>
                                <a href="{{ {'src':'p2p'}|url_search(args) }}" data-filter="p2p" title="P2P">P2P</a>
                                <ul class="{% if not params %}inactive{% else %}inactive_{{ sources_count['p2p'] }}{% endif %}">
                                    {% for source in g.sources_p2p %}{{ checkbox(source) }}{% endfor %}
                                    <li><button>actualizar</button></li>
                                </ul>
                                <span class="more"></span>
                                {% if params %}<strong><span>{{ sources_count["p2p"] }}</span> / 3</strong>{% endif %}
                            </li>
                        </ul>
                    </dd>
                    <dt>{{_('size')|lower}}<a href="{{ {}|url_search(args,delete_params=['size'])}}" data-filter="size" title="{{_('all')}}">{{_('all')|lower}}</a></dt>
                    <dd id="size">
                        <div></div>
                        <span>{{_('minimun')}}</span><span>{{_('maximun')}}</span>
                    </dd>
                </dl>
            </aside>
            {% if args|length>1 %}
            <div id="filters">
                <a href="{{ {}|url_search(args, delete_params=['all']) }}" class="close"></a>
                <ul>
                    {% set type_filters = top_filters["type"] %}
                    {% set src_filters = top_filters["src"] %}
                    {% set size_filters = top_filters["size"] %}

                    {%- if type_filters %}
                    <li title="{{_('what')}}">{{ type_filters|join(" - ") }}</li>
                    {% endif %}

                    {%- if src_filters %}
                    <li title="{{_('where')}}">{{ src_filters|join(" - ") }}</li>
                    {% endif %}

                    {%- if size_filters %}
                    <li title="{{_('size')}}">
                        {% if size_filters[0]>0 and size_filters[1]==50 %}
                            {{_(size_filters[3])}} <em>{{(2**size_filters[0])|numbersizeformat}}</em>
                        {% elif size_filters[0]==0 and size_filters[1]<50 %}
                            {{_(size_filters[2])}} <em>{{(2**size_filters[1])|numbersizeformat}}</em>
                        {% else %}
                            {{_(size_filters[3])}} <em>{{(2**size_filters[0])|numbersizeformat}}</em> / {{_(size_filters[2])}} <em>{{(2**size_filters[1])|numbersizeformat}}</em>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <ul id="results">
            {% if not bot %}
                <li id="loading">
                    <img alt="loading" src="{{ g.static_prefix }}/img/search/cargando.png" />
                    <img alt="loading" src="{{ g.static_prefix }}/img/search/cargando.png" />
                </li>
            {% endif %}
            {% include "files/file.html" with context %}
            </ul>
            <a href="#" id="more"></a>
        </section>
    </div>
    {% endautoescape %}
{% endblock %}
