{% from "helpers.html" import flash %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="description" content="{{_('i_want_that_file')}}"/>
        <link rel="shortcut icon" href="{{ url_for('index.favicon') }}" />
        {% assets "css_admin" %}<link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />{% endassets %}
        <!--[if lt IE 9]>
        {%- assets "js_ie" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets -%}
        <![endif]-->
        <!--[if lt IE 8]>
        {%- assets "css_ie7" %}<link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />{%- endassets %}
        <![endif]-->
        {% assets "js_admin" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
        {% block head %}{% endblock %}
    </head>
    <body>
    <div class="header" >
        <h1><a href="{{ url_for('admin.index') }}" class="logo" title="File search engine - Foofind">File search engine - Foofind</a></h1>
        <h2>{{ page_title }}</h2>
        {% block header %}
        {% endblock %}
    </div>
    <div class="wrapper">
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('admin.index', size=page_size) }}">{{_('admin_overview')}}</a></li>
                <li><a href="{{ url_for('admin.locks', size=page_size) }}">{{_('admin_locks')}}</a></li>
                <li><a href="{{ url_for('admin.translations', size=page_size) }}">{{_('admin_translation')}}</a></li>
                <li><a href="{{ url_for('admin.deploy', size=page_size) }}">{{_('admin_deploy')}}</a></li>
                <li><a href="{{ url_for('admin.users', size=page_size) }}">{{_('admin_users')}}</a></li>
                <li><a href="{{ url_for('admin.origins', size=page_size) }}">{{_('admin_origins')}}</a></li>
                <li><a href="{{ url_for('admin.alternatives', size=page_size) }}">{{_('admin_alternatives')}}</a></li>
                <li><a href="{{ url_for('admin.actions', size=page_size) }}">{{_('admin_actions')}}</a></li>
            </ul>
        </div>
        <div class="content">
            {{ flash() }}
            {% block page %}{% endblock %}
        </div>
    </div>
    </body>
</html>
