{% extends "admin/base.html" %}
{% block header -%}
<ul class="tabs">
    <li>
        {%- if show == "deploy" -%}
        <span>{{_('admin_deploy_phase_deploy')}}</span>
        {%- else -%}
        <a href="{{url_for('admin.deploy', show='deploy', size=page_size)}}">{{_('admin_deploy_phase_deploy')}}</a>
        {%- endif -%}
    </li>
    <li>
        {%- if show == "script" -%}
        <span>{{_('admin_deploy_phase_script')}}</span>
        {%- else -%}
        <a href="{{url_for('admin.deploy', show='script', size=page_size)}}" >{{_('admin_deploy_phase_script')}}</a>
        {%- endif -%}
    </li>
    <li>
        {%- if show == "publish" -%}
        <span>{{_('admin_deploy_phase_publish')}}</span>
        {%- else -%}
        <a href="{{url_for('admin.deploy', show='publish', size=page_size)}}">{{_('admin_deploy_phase_publish')}}</a>
        {%- endif -%}
    </li>
    <li>
        {%- if show == "recover" -%}
        <span>{{_('admin_deploy_failrecovery')}}</span>
        {%- else -%}
        <a href="{{url_for('admin.deploy', show='recover', size=page_size)}}">{{_('admin_deploy_failrecovery')}}</a>
        {%- endif -%}
    </li>
    <li>
        {%- if show == "downloader" -%}
        <span>{{_('admin_deploy_downloader')}}</span>
        {%- else -%}
        <a href="{{url_for('admin.deploy', show='downloader', size=page_size)}}">{{_('admin_deploy_downloader')}}</a>
        {%- endif -%}
    </li>
</ul>
{%- endblock %}
{% block page -%}
<form method="post" data-confirmation_message="{{_('admin_deploy_confirmation', action='__action__', target='__target__')|forceescape}}"
{%- if show == "downloader" %} enctype="multipart/form-data"{% endif %} >
{{ render_field() }}
{% if show == "deploy" %}
<h3 class="list">{{_('admin_deploy_phase_deploy')}}</h3>
<dl class="deploy_buttons list">
    <dt>{{ form.mode.label }}</dt>
    <dd>{{ form.mode }}</dd>
    <dt>{{ form.branch.label }}</dt>
    <dd>{{ form.branch }}</dd>
    <dt>{{ _("admin_deploy_phase_deploy") }}</dt>
    <dd>{{ form.deploy if deploy_available else form.deploy(disabled="disabled") }}{{ form.deploy_rollback if deploy_available else form.deploy_rollback(disabled="disabled") }}</dd>
    <dt>{{ _("admin_deploy_phase_confirm") }}</dt>
    <dd>{{ form.confirm if deploy_available else form.confirm(disabled="disabled") }}</dd>
    <dt class="deploy_advanced">{{ _("admin_deploy_phase_configuration") }}</dt>
    <dd class="deploy_advanced">{{ form.package if deploy_available else form.package(disabled="disabled") }}{{ form.rollback if deploy_available else form.rollback(disabled="disabled") }}</dd>
    <dt class="deploy_advanced">{{ _("admin_deploy_phase_preparation") }}</dt>
    <dd class="deploy_advanced">{{ form.prepare if deploy_available else form.prepare(disabled="disabled") }}</dd>
    <dt class="deploy_advanced">{{ _("admin_deploy_phase_commit") }}</dt>
    <dd class="deploy_advanced">{{ form.commit if deploy_available else form.commit(disabled="disabled") }}</dd>
    <dt>{{ _("admin_deploy_phase_restart") }}</dt>
    <dd>{{ form.restart if deploy_available else form.restart(disabled="disabled") }}{{ form.restart_beta if deploy_available else form.restart_beta(disabled="disabled") }}</dd>
    <dt class="deploy_advanced">{{ _("admin_deploy_phase_clean") }}</dt>
    <dd class="deploy_advanced">{{ form.clean_local if deploy_available else form.clean_local(disabled="disabled") }}{{ form.clean_remote if deploy_available else form.clean_remote(disabled="disabled") }}</dd>
</dl>
{%- elif show == "script" -%}
<h3 class="list">{{_('admin_deploy_phase_script')}}</h3>
{{- form.script_available_hosts -}}
<dl class="list">
    <dt>{{ form.script_mode.label }}</dt>
    <dd>{{ form.script_mode }}</dd>
    <dt>{{ form.script_hosts.label }}</dt>
    <dd>{{ form.script_hosts(class="labeled_input_list", checkbox_data_cool_on=_("yes"), checkbox_data_cool_off=_("no")) }}</dd>
</dl>
{{- form.script(class="list") if deploy_available else form.script(class="list", disabled="disabled")}} {{ form.script_clean_cache -}}
<span class="right select_all_placeholder" data-select_none="{{_('admin_multiselection_select_none')}}" data-select_all="{{_('admin_multiselection_select_all')}}" data-select_or="{{_('or')}}"></span>
{%- elif show == "publish" -%}
<h3 class="list">{{_('admin_deploy_phase_publish')}}</h3>
<dl class="list">
    <dt>{{ form.publish_version.label }}</dt>
    <dd>{{ form.publish_version(placeholder="0.0") }}</dd>
    <dt>{{ form.publish_message.label }}</dt>
    <dd>{{ form.publish_message(placeholder="0.0 (alpha)") }}</dd>
    <dt>{{ form.publish_mode.label }}</dt>
    <dd>{{ form.publish_mode }}</dd>
</dl>
{{- form.publish(class="list") if deploy_available else form.publish(class="list", disabled="disabled") -}}
{% elif show == "recover" %}
<h3 class="list">{{_('admin_deploy_failrecovery')}}</h3>
<dl class="list">
    <dt></dt>
    <dd>{{ form.remove_lock }}</dd>
</dl>
<h3 class="list">{{_('admin_deploy_backups')}}</h3>
<dl class="list" id="backup_list">
    {%- for mode, baks in backups -%}
    <dt>{{ mode }}</dt>
    <dd>
        {%- for f in baks -%}
        <a href="{{ url_for('admin.deploy_file', filename=f) }}">{{ f }}</a>
        {%- if not loop.last %} | {% endif -%}
        {%- endfor -%}
    </dd>
    {%- endfor -%}
</dl>
{% elif show == "downloader" %}
<h3 class="list">{{_('admin_deploy_downloader_upload')}}</h3>
<dl class="list">
    <dt>{{ form.downloader_file1.label }}</dt>
    <dd>{{ form.downloader_file1}}</dd>
    <dt>{{ form.downloader_file2.label }}</dt>
    <dd>{{ form.downloader_file2}}</dd>
    <dt>{{ form.downloader_file3.label }}</dt>
    <dd>{{ form.downloader_file3}}</dd>
    <dt>{{ form.downloader_file4.label }}</dt>
    <dd>{{ form.downloader_file4}}</dd>
    <dt>{{ form.downloader_file5.label }}</dt>
    <dd>{{ form.downloader_file5}}</dd>
    <dt>{{ form.downloader_file6.label }}</dt>
    <dd>{{ form.downloader_file6}}</dd>
</dl>
{{- form.downloader_upload(class="list") -}}
<h3 class="list">{{_('admin_deploy_downloader')}}</h3>
<dl class="list">
    <dt></dt>
    <dd class="pre">{{file_metadata|pprint(4, 4)}}</dd>
</dl>
{{- form.downloader_submit(class="list") if deploy_available else form.downloader_submit(class="list", disabled="disabled") -}}
{% endif %}
<h3 class="list">{{_('admin_deploy_debug')}}</h3>
<dl class="list">
    <dt>stdout</dt>
    <dd><pre id="stdout">{{stdout}}</pre></dd>
    <dt>stderr</dt>
    <dd><pre id="stderr">{{stderr}}</pre></dd>
</dl>
{{- form.clean_log(class="list", **({"data-noconfirm":"ok"})) -}}
</form>
{%- endblock %}
