{% extends "admin/base.html" %}
{% block page %}
    {%- if edit_form %}
    <form method="post" action="{{ url_for('admin.db_confirm', collection=collection, document_id=document_id, page=page, mode=list_mode, show=mode, size=page_size) }}">
        {{edit_form.defaults}}
        {{edit_form.editable}}
        {{edit_form.confirmed}}
        <h3 class="list">{{form_title}}</h3>
        <dl class="list">
            {%- for key, value in document_writeable %}
                <dt>{{edit_form[fieldname(key)].label}}</dt>
                <dd>{{edit_form[fieldname(key)]}}</dd>
            {%- endfor %}
            {%- for key, value in document_readonly %}
                <dt>{{key}}</dt>
                <dd>{{value}}</dd>
            {%- endfor %}
        </dl>
        {{ edit_form.submit(class="list") }}
    </form>
    {%- endif %}
{%- endblock %}
