{% extends "admin/base.html" %}
{% block header -%}
    <ul class="tabs">
        {%- for m in list_modes -%}
            <li>
            {%- if list_mode != m -%}<a href="{{url_for('admin.locks',page=page, show=m, size=page_size)}}">{{_('admin_show'+m)}}</a>
            {%- else -%}<span>{{_('admin_show'+m)}}</span>{%- endif -%}
            </li>
        {%- endfor -%}
        <li class="sep"></li>
        {%- for s in (15, 30, 60) -%}
            <li>
            {%- if page_size != s -%}<a href="{{url_for('admin.locks',page=page, show=list_mode, size=s)}}">{{s}}</a>
            {%- else -%}<span>{{s}}</span>{%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
{%- endblock %}
{% block page -%}
    {%- if num_items > 0 -%}
        <div class="list">
        {%- for data in complaints -%}
            <ul>
                <li>{{ data["created"] }}</li>
                <li>{{ data["company"] }}</li>
                <li>{{ data['name'] }} {{ data['surname'] -}}
                    {%- if data["phonenumber"] %}<br/>{{- data["phonenumber"] }}{% endif -%}
                    {%- if data["email"] %}<br/>{{- data["email"] }}{% endif %}</li>
                <li>{{ data["reason"] }}</li>
                <li class="edit_row"><a href="{{url_for('admin.lock_file', complaint_id=data['_id'], page=page, show=list_mode, size=page_size)}}">{{_('admin_locks_fileinfo')}}</a></li>
            </ul>
        {%- endfor -%}
        </div>
        {% if num_pages > 1 %}
        <ul class="pagination">
            {%- for i in range(num_pages) -%}
            <li>
                {%- if i == page -%}
                <span>{{ i + 1 }}</span>
                {%- else -%}
                <a href="{{url_for('admin.locks', page=i, show=list_mode, size=page_size)}}">{{i+1}}</a>{% endif -%}
            </li>
            {%- endfor -%}
        </ul>
        {% endif %}
    {% else %}
        <p>{{_('admin_locks_none')}}</p>
    {% endif %}
        <form method="POST" action="{{ url_for('admin.lock_file') }}">
        <h3 class="list">{{_('admin_locks')}}</h3>
            <dl class="list">
            <dt>{{ searchform.identifier.label }}</dt>
            <dd>{{ searchform.identifier }}</dd>
            <dt>{{ searchform.mode.label }}</dt>
            <dd>{{ searchform.mode }}</dd>
            </dl>
        {{- searchform.submit(class="list") -}}
    </form>
{%- endblock %}
