{% extends "admin/base.html" %}
{% block header -%}
{% if permalink %}<ul class="tabs"><li><a href="{{permalink}}">{{_("permalink")}}</a></li></ul>{% endif %}
{% endblock %}
{% block page %}
    <form method="post">
        {% if complaint_data %}
        <h3 class="list">{{_('admin_locks_complaint_info')}}</h3>
        <dl class="list">
            {% for prop in complaint_data %}
            <dt>{{prop}}</dt>
            <dd>{{complaint_data[prop]}}</dd>
            {% endfor %}
        </dl>
        {% else %}
        {#<h3 class="list">{{_('admin_locks_complaint_noinfo')}}</h3>#}
        {% endif %}
        {% if files_data %}
            <h3 class="list">{{_('admin_locks_complaint_fileinfo')}}</h3>
            <table class="list ">
            {% for fileid, file_data in files_data.iteritems() %}
                <tbody class="{% if loop.index is divisibleby(2) %}alternate{% endif %}">
                {%- if fileid in bugged -%}
                    <tr>
                        <td><strong>INDIR BUG</strong></td>
                        <td></td>
                    </tr>
                {%- endif -%}
                <tr>
                    <td>_id</td>
                    <td><a href="{{url_for('files.download', lang='en', file_id=mid2url(fileid))}}">{{fileid}}</a></td>
                </tr>
                {%- if file_data -%}
                    {%- for prop in file_data -%}
                        {%- if prop != "_id" -%}
                        <tr>
                            <td>{{prop}}</td>
                            {%- if prop in ("md","src","fn","cs") -%}
                            <td class="pre">{{file_data[prop]|pprint(4, 700)}}</td>
                            {%- else -%}
                            <td>{{file_data[prop]}}</td>
                            {%- endif -%}
                        </tr>
                        {%- endif -%}
                    {%- endfor -%}
                    <tr class="raw_file_data">
                        <td>raw</td>
                        <td id="raw_{{fileid}}"><span>{{file_data}}</span></td>
                    </tr>
                {%- else -%}
                    {%- if fileid in filenames -%}
                    <tr>
                        <td>name</td>
                        <td>{{filenames[fileid]}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="{{url_for('admin.getserver', fileid=fileid , filename=filenames[fileid])}}">{{_('admin_file_search_server')}}</a></td>
                    </tr>
                    {%- else -%}
                    <tr>
                        <td></td>
                        <td><a href="{{url_for('admin.getserver', fileid=fileid )}}">{{_('admin_file_search_server')}}</a></td>
                    </tr>
                    {%- endif -%}
                {%- endif -%}
                </tbody>
            {% endfor %}
            </table>
        {% else %}
        <h3 class="list">{{_('admin_locks_complaint_nofileinfo')}}</h3>
        {% endif %}
        <input type="hidden" name="fileids" value="{{fileids}}"/>
        {%- if blocked or blocked == None -%}
            <input class="list" type="submit" name="unblock" value="{{_('admin_locks_unblock')}}"/>
        {%- endif %}
        {% if not blocked -%}
            <input {% if blocked == False %}class="list" {% endif -%}
                type="submit" name="block" value="{{_('admin_locks_confirm')}}"/>
        {%- endif %}
        <input type="submit" name="cancel" value="{{_('admin_locks_cancel')}}"/>
    </form>
{% endblock %}
