{% extends "admin/base.html" %}
{% block header %}
    <ul class="tabs">
        {% for txt, n in show_modes %}
            <li>
            {% if show_mode != n %}<a href="{{url_for('admin.index', show=n)}}">{{ txt }}</a>
            {% else %}<span>{{ txt }}</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block page %}
{%- if show_mode == "overview" -%}
    <p>{{_('admin_overview_msg')}}</p>
    {% if new_locks > 0 or new_translations > 0 %}
    <ul>
        {% if new_locks > 0 %}
            <li><a href="{{ url_for('admin.locks', size=page_size, mode='new') }}">{{_('admin_locks_new')}}</a></li>
        {% endif %}
        {% if new_translations > 0 %}
            <li><a href="{{ url_for('admin.translations', size=page_size, mode='new') }}">{{_('admin_translations_new')}}</a></li>
        {% endif %}
    </ul>
    {% else %}
    <p>{{_('admin_no_new')}}</p>
    {% endif %}
{%- else -%}
    <form method="POST" class="block-right">
    {{ render_field() }}
    {{form.processing}}{{form.number(class="integer", autocomplete="off", **{"data-step":10,"data-minval":10})}} {{form.mode}} {{form.retrieve}}
    </form>
    <pre id="log_data" data-stdsep="{{stdsep}}">{{log_data}}</pre>
{%- endif -%}
{% endblock %}
