{% extends "admin/base.html" %}
{% block page %}
    <form method="post">
        {{ render_field() }}
        <h3 class="list">{{_('admin_translation_info')}}</h3>
        <input type="hidden" name="fields" value="{{field_keys}}"/>
        <dl class="list">
            {% for prop in data %}
            <dt>{{_(prop)}}</dt>
            <dd>{{data[prop]}}</dd>
            {% endfor %}
        </dl>
        {% if fields %}
        <h3 class="list">{{_('admin_translation_fields')}}</h3>
        <table class="list">
            <thead>
                <tr>
                    <th></th>
                    <th>{{_("admin_translation_msgstr_current")}} - {{langs[0].upper()}}</th>
                    <th>{{_("admin_translation_msgstr_user_current")}} - {{langs[1].upper()}}</th>
                    <th>{{_("admin_translation_msgstr_old")}} - {{langs[2].upper()}}</th>
                    <th>{{_("admin_translation_msgstr_new")}} - {{langs[2].upper()}}</th>
                    <th>{{_("admin_translation_msgstr_confirm")}}</th>
                </tr>

            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th colspan="3">{{form["submit"]}} {{form["cancel"]}}</th>
                    <th colspan="2" class="select_all_placeholder" data-select_none="{{_('admin_multiselection_select_none')}}" data-select_all="{{_('admin_multiselection_select_all')}}" data-select_or="{{_('or')}}"></th>
                </tr>
            </tfoot>
            <tbody>
                {% for prop in fields %}
                <tr>
                    <td>{{prop}}</td>
                    <td>{% if fields[prop][0] %}{{fields[prop][0]}}{% else %}-{% endif %}</td>
                    <td>{% if fields[prop][1] %}{{fields[prop][1]}}{% else %}-{% endif %}</td>
                    <td>{% if fields[prop][2] %}{{fields[prop][2]}}{% else %}-{% endif %}</td>
                    <td>{{form["field_%s" % prop]}}</td>
                    <td>{{form["check_%s" % prop](**{"data-cool_on":_("yes"), "data-cool_off":_("no")})}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{_('admin_translation_empty')}}</p>
        {{form["submit"]}} {{form["cancel"]}}
        {% endif %}
    </form>
{% endblock %}
