{% extends "admin/base.html" %}
{% block header %}
    <ul class="tabs">
        {% for m in list_modes %}
            <li>
            {% if list_mode != m %}<a href="{{url_for('admin.translations', page=page, show=m, size=page_size)}}">{{_('admin_show'+m)}}</a>
            {% else %}<span>{{_('admin_show'+m)}}</span>{% endif %}
            </li>
        {% endfor %}
        <li class="sep"></li>
        {% for s in (15, 30, 60) %}
            <li>
            {% if page_size != s %}<a href="{{url_for('admin.translations',page=page, show=list_mode, size=s)}}">{{s}}</a>
            {% else %}<span>{{s}}</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block page %}
    {% if num_items > 0 %}
        <div class="list">
        {% for data in translations %}
            <ul>
                <li>{{ data["created"] }}</li>
                <li>{{ data["dest_lang"] }}</li>
                <li class="edit_row"><a href="{{url_for('admin.review_translation', translation_id=data['_id'], page=page, show=list_mode, size=page_size)}}">{{_('admin_translation_review')}}</a></li>
            </ul>
        {% endfor %}
        </div>
        {% if num_pages > 1 %}
        <ul class="pagination">
            {%- for i in range(num_pages) -%}
            <li>
                {%- if i == page -%}
                <span>{{ i + 1 }}</span>
                {%- else -%}
                <a href="{{url_for('admin.translations', page=i, show=list_mode, size=page_size)}}">{{i+1}}</a>{% endif -%}
            </li>
            {%- endfor -%}
        </ul>
        {% endif %}
    {% else %}
        <p>{{_('admin_translation_none')}}</p>
    {% endif %}
    <form method="POST">
    {{ render_field() }}
    {{ rform.submit }}
    </form>
{% endblock %}
