{% extends "admin/base.html" %}
{% block page %}
    <form method="post">
        {{ render_field() }}
        <h3 class="list">{{_('admin_users')}}</h3>
        <dl class="list">
            <dt>{{ search_form.identifier.label }}</dt>
            <dd>{{ search_form.identifier }}</dd>
            <dt>{{ search_form.mode.label }}</dt>
            <dd>{{ search_form.mode }}</dd>
        </dl>
    {{ search_form.submit(class="list") }}
    </form>
    <p>{{_("admin_users_count", users=user_count)}}</p>
{% endblock %}
