<li class="{{ file['view']['file_type'] }}">
    <div>
        <ul class="source">
            {% for source,source_data in file['view']['sources'].items() %}
            <li>
                <a href="{{ source_data['urls'][0] }}" class="source_{{ file['view']['sources']|length }}">
                    {% if "s" in source_data['type'] %}
                    <span class="thumblink{% if 'images_server' not in file['view'] %} blacklink{% endif %}">
                        {% if 'images_server' in file['view'] %}
                        <img id="{{ file['file']['id'] }}" alt="{{ file['file']['id'] }}" class="img_{{ file['view']['images_server'] }}" src="http://{{ file['view']['first_image_server'] }}/{{ file['file']['_id'] }}0" />
                        {% endif %}
                        <span></span>
                    </span>
                    <img src="{{ source_data['logo'] }}" src="{{source_data['tip']}}" />
                    {% endif %}
                    {% if "s" in source_data['type'] %}                        
                        <span>{{ file['view']['md']['length'] }}</span>
                    {% else %}
                        <span class="{{ source_data['icon'] }}">
                            <span></span>
                            {% if source_data['icon']=="web" %}
                            {{_("direct_download")}}
                            {% elif source_data['icon']=="torrent" or source_data['icon']=="tmagnet"%}
                            torrent
                            {% else %}
                            {{ source_data['tip'] }}
                            {% endif %}
                        </span>
                    {% endif %}
                    {% if source_data['icon']=="web" and "s" not in source_data['type'] %}
                        <small>
                            {#<img src="http://{{ source }}/favicon.ico" src="{{source_data['tip']}}" width="16" height="16" />#}
                            {{ source }}
                        </small>
                    {% elif "s" not in source_data['type'] %}
                        <small>{{ source_data['count'] }} {% if source_data['count']>1 %}{{_('sources')}}{% else %}{{_('source')|lower}}{% endif %}</small>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        <span>{%- if file['view']['fnx'] and file['view']['fnx']!="torrent" %}{{ file['view']['fnx']|upper }}{% endif -%}</span>
        <h3><a href="{{ url_for('files.download',file_id=file['file']['id'],file_name=file['view']['fn']) }}.html" title="{{ file['view']['fn']|safe }}" data-id="{{ file['file']['id'] }}">{{ file['view']['fnhs']|safe }}</a></h3>
        <ul class="metadata">
        {% set metadata=file['view']['md'] %}
        {% for meta,value in [('genre',metadata['genre']),('album',metadata['album']),('artist',metadata['artist']),('title',metadata['title'])] if value %}
            <li><a href="#!/q={{ value }}" title="{{_(meta)|capitalize }}: {{ value }}">{{ file['view']['mdh'][meta]|safe }}</a></li>
        {% endfor %}
        </ul>
        {#<ul class="file_info">
            {% if 'z' in file['file'] and file['file']['z'] %}<li title="{{_(size)}}">{{ file['file']['z']|numbersizeformat|safe }}</li>{% endif -%}
            {% for metadata,value in file['view']['md'].items() if metadata not in ["artist","album","genre","title"] %}
            <li title="{{_(metadata)}}">{{ value|safe }}</li>
            {% endfor %}
        </ul>#}
        {% if 'z' in file['file'] and file['file']['z'] %}
        <span>{{ file['file']['z']|numbersizeformat }}</span>
        {% endif %}
        {#{% set favorito=(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9)|random %}
        {% set comentario=(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,3,4,5,6,7,8,9)|random %}#}
        <ul class="links">
            <li>{#<a href="#"><span></span>{{_('related_files')|lower}}</a>#}</li>
            {#<li>{% if favorito %}<a href="#" title="{{_('votes')}}"><span></span>{{_('votes')}}<strong>{{ favorito }}</strong></a>{% endif %}</li>
            <li>{% if comentario %}<a href="#" title="Comentar este archivo"><span></span>comentarios<strong>{{ comentario }}</strong></a>{% endif %}</li>#}
            <li>{% if 'vs' in file['file'] and g.lang in file['file']['vs'] and file['file']['vs'][g.lang]['t'] %}<a href="#votes" title="{{_('votes')}}"><span></span>{{ file['file']['vs'][g.lang]['t'] }}</a>{% endif %}</li>
            <li>{% if comments %}<a href="#coments" title="Comentar este archivo"><span></span>{{ comments|count }}</a>{% endif %}</li>
        </ul>
    </div>
</li>
