{% extends "base.html" %}
{%- macro url_search(delete_params=[],catch_kwargs=true) -%}
    {{url_for('.searcha',**kwargs|search_params(['page','alt']+delete_params,args=args))}}
{%- endmacro -%}
{%- macro searched(param,value="",empty=false) %}
    {%- if (value=="" and param not in args) or args[param]==value or ((args[param]=="" or not param in args) and empty==true) -%}
        class="actual{% if args["type"]!="" %} {{ args["type"] }}{% endif %}"
    {%- endif -%}
{% endmacro -%}
{% block head %}
    {% if alt=="ajax" %}
        <meta name="fragment" content="!">
    {% endif %}
    {%- assets "js_search" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    {%- assets "css_search" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />
    {%- endassets %}
{% endblock %}
{% block global_message %}{{_('change_classic_search')}} <a href="{{url_for('files.search')}}" rel="nofollow">{{_('classic_search')}}</a>{% endblock %}
{% block header %}
    <h1>
        <a href="{{ url_for('index.home') }}">
            <img src="/static/foofind3.png" alt="File search engine - Foofind" title="Foofind"/>
        </a>
    </h1>
    <div id="search_file">
        <form method="get" action="{{ url_search()[:-1] }}" class="searchbox">
            <fieldset class="small">
                {{ search_form.q(autocomplete="off") }}
                <span></span>
                {#<a href="#favorite" title="Guardar como favorito"></a>
                <a href="#share" title="Compartir"></a>#}
                {{ search_form.search_submit(**{"data-no_query":_("write_something")}) }}
                <div id="search_info">{{ search_info|safe }}</div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block content %}
    <div id="fondo"></div>
    <div id="subcontent">
        <div id="flecha"><span></span></div>
        <div id="download">
            <div>
                <img alt="cargando" src="/static/img/search/cargando150.png" />
                <img alt="cargando" src="/static/img/search/cargando150.png" />
            </div>
        </div>
        {{ flash() }}
        <section>
            <aside>
                <dl>
                    {#<dt>Busquedas relacionadas</dt>
                    <dd id="q">
                    </dd>#}
                    <dt>{{_('what')}}</dt>
                    <dd id="type">
                        <ul>
                            <li><a href="{{url_search(delete_params=['type'])}}" data-filter="" title="{{_('all')}}">{{_('all')}}</a></li>
                            <li><a href="{{url_search(type='audio')}}" data-filter="audio" title="{{_('audio')}}">{{_('audio')}}</a></li>
                            <li><a href="{{url_search(type='video')}}" data-filter="video" title="{{_('video')}}">{{_('video')}}</a></li>
                            <li><a href="{{url_search(type='image')}}" data-filter="image" title="{{_('image')}}">{{_('image')}}</a></li>
                            <li><a href="{{url_search(type='document')}}" data-filter="document" title="{{_('document')}}">{{_('document')}}</a></li>
                            <li><a href="{{url_search(type='software')}}" data-filter="software" title="{{_('software')}}">{{_('software')}}</a></li>
                        </ul>
                        {#<a href="{{url_search()}}">Opciones avanzadas</a>#}
                    </dd>
                    <dt>{{_('where')}}</dt>
                    <dd id="src">
                        <ul>
                            <li><a href="{{url_search(delete_params=['src'])}}" data-filter="" class="all" title="{{_('all')}}">{{_('all')}}</a></li>
                            <li><a href="{{url_search(src='s')}}" data-filter="s" class="streaming" title="Streaming">Streaming</a></li>
                            <li><a href="{{url_search(src='wf')}}" data-filter="wf" class="web" title="{{_('direct_downloads')}}">{{_('direct_downloads')}}</a></li>
                            <li><a href="{{url_search(src='p')}}" data-filter="p" class="p2p" title="P2P">P2P</a></li>
                        </ul>
                        {#<a href="#">Opciones avanzadas</a>#}
                    </dd>
                    <dt>{{_('size')}}</dt>
                    <dd id="size">
                        <div></div>
                        <span>< 128 Kib</span><span>> 16 GiB</span>
                    </dd>
                    {#<dt>{{_('quality')}}</dt>
                    <dd id="quality">
                    </dd>
                    <dt>Año</dt>
                    <dd id="year">
                    </dd>#}
                </dl>
            </aside>
            <ul id="results" data-total_found="{{ total_found }}">
                <li id="no_results" class="loading">
                    <img alt="cargando" src="/static/img/search/cargando.png" />
                    <img alt="cargando" src="/static/img/search/cargando.png" />
                </li>
                {{ static_results|safe }}
            </ul>
            <a href="#" id="more"></a>
        </section>
    </div>
{% endblock %}
