{% from "helpers.html" import flash,advice,logo,search_box with context -%}
<!DOCTYPE html>
<html lang="{{g.lang}}" xml:lang="{{g.lang}}">
    <head>
        <title>{{ g.title }}</title>
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="{{g.lang}}" />
        <meta name="keywords" content="{{(g.keywords|list)[:30]|join(', ')}}" />
        <meta name="description" content="{{g.page_description}}" />
        <link rel="shortcut icon" href="{{ url_for('index.favicon') }}" />
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('index.opensearch') }}" title="Foofind" />
        {%- for id,data in g.languages.iteritems() if g.lang!=id %}
        <link rel="alternate" hreflang="{{ id }}" href="{{ u(request.url)|url_lang(id) }}" />
        {%- endfor %}
        {%- block assets_css -%}
            {%- assets "css_all" -%}
                <link type="text/css" href="{{ ASSET_URL.rstrip(' \n.') }}" rel="stylesheet" />
            {%- endassets -%}
        {%- endblock -%}
        <script>
            var autocomplete_disabled = {{ g.autocomplete_disabled }};
            var csrf_token="{{ csrf_token() }}";
        </script>
        {%- block assets_js -%}
            {%- assets "js_all" -%}
                <script src="{{ ASSET_URL.rstrip(' \n.') }}"></script>
            {%- endassets -%}
        {%- endblock -%}
        <!--[if lt IE 9]>
        {%- assets "js_ie" -%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{%- endassets -%}
        {%- assets "css_ie" %}<link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />{%- endassets %}
        <![endif]-->
        <!--[if lt IE 8]>
        {%- assets "css_ie7" %}<link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />{%- endassets %}
        <![endif]-->
        <script>
            function init_cookies() {
                if (window._gaq) return;
                var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-808946-19']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
                window._gaq = _gaq;
                {%- block cookies %}trackGAPageview(location.pathname+location.hash);{%- block extra_cookies %}{%- endblock -%}{%- endblock -%}

                (function(d){
                 var js, id = 'facebook-jssdk';
                 if (d.getElementById(id)) return;
                 js = d.createElement('script');
                 js.id = id;
                 js.async = true;
                 js.src = "//connect.facebook.net/{{ g.full_lang }}/all.js#xfbml=1&status=0";
                 d.getElementsByTagName('head')[0].appendChild(js);
               }(document));

                window.___gcfg={lang:'{{ g.lang }}'};(function(){var po=document.createElement('script');po.type='text/javascript';po.async=true;po.src='https://apis.google.com/js/plusone.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po, s)})();
            }
            function trackGAEvent(){if (!window._gaq) init_cookies(); var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackEvent'].concat(args_array),['send','event'].concat(args_array));}
            function trackGAPageview(){var args_array = Array.prototype.slice.call(arguments,0);trackGA(['_trackPageview'].concat(args_array),['send','pageview'].concat(args_array));}
            function trackGA(params, new_params){if (window._gaq) {window._gaq.push(params)} }
        </script>
        {%- block head %}{%- endblock -%}
    </head>
    <body
        {%- if body_class %} class="{{body_class}}"{% endif %}
            data-downloader_version="{{g.downloader_properties['version_code']}}"
        {%- if g.downloader %}
            data-downloader_title="{{_('downloader_dialog_title')|emarkdown}}"
            data-downloader_text="{{_('downloader_dialog_text', domain=g.domain)|emarkdown}}"
            data-downloader_more_info="<a href='{{url_for('downloader.index')}}'>{{_('more_info')|capitalize}}</a>"
            data-downloader_href="{{url_for('downloader.download_proxy')|forceescape}}"
            data-downloader_yes="{{_('downloader_dialog_yes', domain=g.domain)|emarkdown}}"
            data-downloader_no="{{_('downloader_dialog_no', domain=g.domain)|emarkdown}}"
            data-downloader_noagain="{{_('downloader_dialog_noagain', domain=g.domain)}}"
        {%- endif %}>
        <div id="dialog" data-dialog_ok="{{_('ok')|emarkdown}}" data-dialog_no="{{_('no')|emarkdown}}" data-dialog_yes="{{_('yes')|emarkdown}}"></div>
        <div id="container">
            <header>
                <section>
                    <div id="social">
                        <div id="fb-root"></div>
                        <div class="fb-like" data-href="https://www.facebook.com/foofind" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                        <div class="g-plusone" data-size="medium" data-href="http://{{g.domain}}"></div>
                    </div>
                    <p>{% block global_message %}{% endblock %}</p>
                    <div id="header_navigation"
                        {%- if current_user and current_user.is_authenticated() %}
                        ><a href="{{ url_for('user.profile')}}"><span></span>{{current_user.username}}</a> <a href="{{ url_for('user.logout')}}"><span></span>{{_('logout')}}</a>
                        {%- else %}
                        class="login"><a href="{{ url_for('user.login') }}" rel="nofollow"><span></span>{{_('login')}}</a>
                        {%- endif %}
                        <ul id="select_language_box">
                            <li><a title="{{ g.languages[g.lang][0][g.lang]|lower  }}"><span></span>{{ g.languages[g.lang][0][g.lang]|lower }}</a></li>
                            {%- for id,data in g.languages | dictsort if g.lang!=id %}
                            <li><a href="{{ u(request.url)|url_lang(id) }}" rel="alternate" hreflang="{{ id }}" title="{{ g.languages[g.lang][0][id]|lower  }}"{%- if data[1] %} class="beta"{% endif -%}>{{ data[0][id]|lower }}</a></li>
                            {%- endfor %}
                            <li><a href="{{ url_for('page.translate') }}">{{_('other')|lower}}...</a></li>
                        </ul>
                        {%- if g.beta_lang %}
                            {{ advice("beta_lang",_('translation_beta',here='<a href="%s?lang=%s" rel="nofollow">%s</a>'|safe % (url_for('page.translate'),g.lang,_('here')))) }}
                        {% endif %}
                    </div>
                {%- if g.accept_cookies!="2" %}
                {{ advice("cookies","Usamos cookies propias y de terceros. Si continua navegando consideramos que acepta nuestra <a href='" + url_for('page.cookies') + "'>política de cookies</a>.") }}
                {%- endif %}
                </section>

                {%- block header %}{{ logo() }}{%- endblock %}
            </header>
            <section id="{{ zone }}">
                {%- block content %}{%- endblock %}
            </section>
            <footer>
                {%- block logos %}{%- endblock %}
                <ul>
                    <li><a href="{{ url_for('page.show',pname='about') }}">{{_('about')}}</a></li>
                    <li><a href="{{ url_for('page.show',pname='legal') }}">{{_('legal')}}</a></li>
                    {%- if g.lang == "es" -%}
                    <li><a href="{{ url_for('page.show',pname='jobs') }}">Trabaja con nosotros</a></li>
                    {%- endif -%}
                    <li><a href="{{ url_for('page.show',pname='lastfiles') }}">{{_("last_indexed_files")}}</a></li>
                    <li><a href="{{ url_for('downloader.index') }}">Download Manager</a></li>
                </ul>
                <p>
                    {{_("footer",
                        cc='Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.'|safe+g.lang+'">BY-SA</a>'|safe,
                        code='<a href="https://github.com/foofind">%s</a>'|safe % _('source_code'),
                        gpl='<a rel="license" href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a>'|safe
                    )}}
                </p>
            </footer>
        </div>
    </body>
</html>
