{% if not full_screen %}
    {% extends "base.html" %}
    {%- block header %}{% endblock %}
    {% block content %}
        <img src="{{ g.static_prefix }}/img/error.png" alt="error" width="329" height="224"/>
        <div>
            {{ logo() }}
            <h1>{{ g.title }}</h1>
            <p>{{ description|safe }}</p>
            <a href="http://status.foofind.is" rel="nofollow">{{_('servers_status')}}</a>
            {{ search_box(search_form,query) }}
        </div>
        <script>_gaq.push(['_trackEvent','Errores','{{ g.title }}','web']);</script>
    {% endblock %}
{% else %}
    <h1>{{ g.title }}</h1>
    {% if error[1] %}
    <p class="error">{{_(error[1])}}</p>
    {% endif %}
    <script>_gaq.push(['_trackEvent','Errores','{{ g.title }}','web']);</script>
{% endif %}
