{% macro render_field(field=none) %}
    {%- if not field %}
        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />
    {%- elif field.type=="BooleanField" %}
        <label>{{ field }}
        {%- if field.name=="accept_tos" -%}
            {{ _('accept_tos', tos='<a  href="%s">%s</a>'|safe % (url_for('page.show',pname='tos'),_("tos")), privacy='<a href="%s">%s</a>'|safe % (url_for('page.show',pname='privacy'),_("privacy"))) }}
        {%- else -%}
            {{ field.label.text }}
        {%- endif -%}
        </label>
    {%- elif field.type=="RadioField" %}
        <fieldset>
        {%- for radio in field %}
            <label>{{ radio }}{{ radio.label.text }}</label>
        {%- endfor %}
        </fieldset>
    {%- elif field.type=="SelectField" %}
        {%- for value,option in field.choices %}
            <option label="{{ option }}" value="{{ value }}"{% if field.default==value %}selected="selected"{% endif %}  >{{ option }}</option>
        {%- endfor %}
    {%- else %}
        {%- if field.type=="SubmitField" %}
            </fieldset>
            <fieldset>
        {%- else %}
            <label for="{{ field.name }}">{% if field.flags.required %}<span title="{{_('required_empty')}}">*</span>{% endif %} {{ field.label.text|safe }}</label>
        {%- endif %}
        {{ field(**kwargs)|safe }}{%- if field.type!="FileField" %}<span></span>{%- endif %}
    {%- endif %}
    {%- if field.description %}
        <div class="description">{{ field.description }}</div>
    {%- endif %}
    {%- if field.errors %}
        <ul class="errors">
        {%- for error in field.errors %}
            <li>{{ error }}</li>
        {%- endfor %}
        </ul>
    {%- endif %}
{%- endmacro %}
{%- macro flash() %}
    {%- with messages = get_flashed_messages(with_categories=true) %}
        {%- if messages %}
            {%- for category, message in messages %}
            <div class="{{ category }}">{{ _(message) }}</div>
            {%- endfor %}
        {%- endif %}
    {%- endwith %}
{%- endmacro %}
{%- macro advice(id,text) %}
    <div id="{{ id }}" class="advice">
        <span></span>
        <button>x</button>
        <p>{{ text|safe }}</p>
    </div>
{%- endmacro %}
{%- macro login_required(next) %}
    {{ advice("login_required",'%s, <a href="%s" title="%s">%s</a>.<br /> %s <a href="%s" title="%s">%s</a>.' % (
        _('login_required')[:-1],
        url_for('user.login',next=next),
        _('login'),
        _('login_here'),
        _("if_new_user"),
        url_for('user.register',next=next),
        _("register"),
        _("register_here")
    )) }}
{%- endmacro %}