{% extends "base.html" %}
{% block header %}{% endblock %}
{% block content %}
    <div id="search">
        <img src="/static/img/logo.png" alt="foofind" width="350" height="125" />
        <span{%- if g.lang in ["zh","pt","eu"] %} class="small"{% endif %}>{{_('i_want_that_file')}}</span>
        {{flash()}}
        <form method="get" action="{{ url_for('files.search') }}">
            <fieldset id="params">
                <a></a>
                {{- form.q(autocomplete="off",class="no") -}}
                <span>
                    <select id="type" class="no" name="type">
                    {%- for value,option in form.type.choices %}
                        <option value="{{ value }}" class="type_img img_{{ value }}">{{ option }}</option>
                    {%- endfor %}
                    </select>
                </span>
            </fieldset>
            <fieldset>
                {{- form.search_submit -}}
            </fieldset>
        </form>
    </div>
    <div id="extra">
        <div id="live">
            <div class="texto">
                <h3>{{_("index_change")}}</h3>
                <p>{{_("index_comunity")}}</p>
                <p>{{_("index_first")}}</p>
                <h4><a href="{{ url_for('page.contact') }}">{{_("index_suggestion")}}</a></h4>
            </div>
            <div class="social">
                <div id="fb-root"></div>
                <div class="fb-like-box" data-href="http://www.facebook.com/foofind" data-width="600" data-height="180" data-show-faces="true" data-border-color="#F5F5F5" data-stream="false" data-header="false"></div>
                <div class="g-plusone" data-size="medium" data-href="http://foofind.is"></div>
                <a href="https://twitter.com/foofind" class="twitter-follow-button" data-show-count="false" data-lang="{{ g.lang }}">Seguir a @foofind</a>
                <script>
                    (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/{{ lang }}/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    window.___gcfg={lang:'{{ g.lang }}'};(function(){var po=document.createElement('script');po.type='text/javascript';po.async=true;po.src='https://apis.google.com/js/plusone.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po, s)})();
                </script>
            </div>
        </div>
    </div>
{% endblock %}
{% block logos %}
    <div>
        <img src="/static/planavanza2_mini.png" alt="plan_avanza" />
        <img src="/static/ministerio_mini.png" alt="ministerio" />
    </div>
{% endblock %}
