<!DOCTYPE html>
<html>
<head>
    {% if mode == "download" %}
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='26430032-3',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
    {% endif %}
    <title>{{ g.title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="{{g.lang}}" />
    <meta name="keywords" content="foofind downloader" />
    <meta name="description" content="{{_('foodownloader_meta_description')}}" />
    {%- if standalone_microsite -%}
    <link rel="shortcut icon" href="{{ url_for('web.favicon') }}" />
    {%- else  -%}
    <link rel="shortcut icon" href="{{ url_for('index.favicon') }}" />
    {%- endif -%}
    {%- for id, data in g.languages.iteritems() if g.lang != id %}
    <link rel="alternate" hreflang="{{ id }}" href="{{ u(request.url)|url_lang(id) }}" />
    {%- endfor %}
    {%- block assets_css -%}
        {%- assets "css_foodownloader" -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" />
        {%- endassets -%}
    {%- endblock -%}
    {%- block assets_js -%}
        {%- assets "js_foodownloader" -%}
            <script src="{{ ASSET_URL }}"></script>
        {%- endassets -%}
    {%- endblock -%}
    <script>
        var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-808946-19']);_gaq.push(['_trackPageview',location.pathname+location.hash]);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
    </script>
</head>
<body class="mode{{style_alternative}}">
{% if mode == "success" %}
<div class="background" id="bg_thanks"></div>
<div id="article_wrapper">
    <article class="annoucement">
        <div class="inner">
            <section>
                <div class="inner">
                    <header>{{_('foodownloader_thanks')}}</header>
                    {{_('foodownloader_thanks_message')}}
                </div>
            </section>
        </div>
    </article>
</div>
{% elif mode == "download" %}
<div class="background" id="bg_overview"></div>
<div class="background" id="bg_sharing"></div>
<div class="background" id="bg_safety"></div>
<div id="article_wrapper">{#
    #}<article id="overview" class="page">
        <div class="inner">
            <header>{{_('foodownloader_overview')|capitalize}}</header>
            {{_('foodownloader_overview_text')|markdown}}
        </div>
    </article>{#
    #}<article id="sharing" class="page">
        <div class="inner">
            <header>{{_('foodownloader_sharing')|capitalize}}</header>
            {{_('foodownloader_sharing_text')|markdown}}
        </div>
    </article>{#
    #}<article id="safety" class="page">
        <div class="inner">
            <header>{{_('foodownloader_safety')|capitalize}}</header>
            {{_('foodownloader_safety_text')|markdown}}
        </div>
    </article>{#
#}</div>
<section id="sidebar">
    <div class="inner">
        <span class="border"><span class="inner"><img src="{{ g.static_prefix }}/img/fsite/screenshot1_small.png" class="screenshot" alt="{{_('foodownloader_screenshot')}}"/></span></span>
    </div>
</section>
<section id="download_bar">
    <div class="inner">
        {% if properties["available"] %}
        <a class="download" id="download_button"
            {%- if standalone_microsite %}
            href="{{url_for('downloads.download', instfile=properties['filename'])}}"
            {%- else -%}
            href="{{url_for('downloads.foodownloader_download')}}"
            {%- endif -%}>
            <span><span><span>
                <span>{{_("foodownloader_download")|capitalize}}</span>
                <span class="info">Windows · {{properties["version_code"].split("-")[0]}} · {{properties["length"]|numbersizeformat}}</span>
            </span></span></span>
        </a>
        {% else %}
        <p>{{_("foodownloader_download_coming_soon")}}</p>
        {% endif %}
        {% if properties["source_available"] -%}
        <a class="source"
            {%- if standalone_microsite -%}
            href="{{url_for('downloads.download', instfile=properties['source_filename'])}}"
            {%- else -%}
            href="{{url_for('downloads.foodownloader_source_download')}}"
            {%- endif -%}>{{_("foodownloader_download_source")|capitalize}} · {{properties["source_length"]|numbersizeformat}}</a>
        {% endif %}
    </div>
</section>
{% endif %}
<footer>
    {% if mode == "download" %}
    <ul class="menubar">
        <li><a href="#overview" title="{{_('foodownloader_overview')}}"><span>{{_('foodownloader_overview')}}</span></a></li>
        <li><a href="#sharing" title="{{_('foodownloader_sharing')}}"><span>{{_('foodownloader_sharing')}}</span></a></li>
        <li><a href="#safety" title="{{_('foodownloader_safety')}}"><span>{{_('foodownloader_safety')}}</span></a></li>
    </ul>
    {% endif %}
    <ul class="links">
        {%- if standalone_microsite -%}
        <li><a href="http://foofind.is/{{g.lang}}/about">{{_('about')}}</a></li>
        <li><a href="http://foofind.is/{{g.lang}}/legal">{{_('legal')}}</a></li>
        {%- if g.lang == "es" -%}
        <li><a href="http://foofind.is/{{g.lang}}/jobs">Trabaja con nosotros</a></li>
        {%- endif -%}
        <li><a href="http://foofind.is/{{g.lang}}/lastfiles">{{_("last_indexed_files")}}</a></li>
        {%- else -%}
        <li><a href="{{ url_for('page.show',pname='about') }}">{{_('about')}}</a></li>
        <li><a href="{{ url_for('page.show',pname='legal') }}">{{_('legal')}}</a></li>
        {%- if g.lang == "es" -%}
        <li><a href="{{ url_for('page.show',pname='jobs') }}">Trabaja con nosotros</a></li>
        {%- endif -%}
        <li><a href="{{ url_for('page.show',pname='lastfiles') }}">{{_("last_indexed_files")}}</a></li>
        {%- endif -%}
    </ul>
    <p>
        {{_("footer",
            cc='Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.'|safe+g.lang+'">BY-SA</a>'|safe,
            code='<a href="https://github.com/foofind">%s</a>'|safe % _('source_code'),
            gpl='<a rel="license" href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a>'|safe
        )}}
    </p>
</footer>
</body>
</html>
