{% extends "base.html" %}
{% from "helpers.html" import render_field %}
{% block content %}
<div id="inner_contents">
    <h2>{{_("user_login")}}</h2>
    {{ flash() }}
    <p>({{_("if_new_user")}} <a href="{{ url_for('user.register') }}" title="user register">{{_("register_here")}}</a>)</p>    
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <form method="post">
        <fieldset>
            {{ render_field(form.email) }}            
            {{ render_field(form.password) }}
            {{ render_field(form.rememberme) }}            
        </fieldset>
        <fieldset>
            {{ form.submit }}
        </fieldset>
    </form>
    <a href="{{ url_for('user.twitter') }}" class="oauth tw"><span>Login using Twitter</span></a>
    <a href="{{ url_for('user.facebook') }}" class="oauth fb"><span>Login using Facebook</span></a>
    <p><a href="{{ url_for('user.forgot') }}">¿Olvidaste</a> tu contraseña?</p>
</div>
{% endblock %}
