{% extends "base.html" %}

{% block content %}
<nav>
    <dl>
        <dt>{{_('about')}} foofind</dt>
        <dd><a href="{{ url_for('page.show',pname='about') }}"{% if request.path==url_for('page.show',pname='about') %} class="active"{% endif %}>{{_('about')}}</a></dd>
        <dd><a href="{{ url_for('page.show',pname='technology') }}"{% if request.path==url_for('page.show',pname='technology') %} class="active"{% endif %}>{{_('technology')}}</a></dd>
        <dd><a href="{{ url_for('page.contact') }}"{% if request.path==url_for('page.contact') %} class="active"{% endif %}>{{_('contact')}}</a></dd>
        {%- if g.lang == "es" %}
        <dd><a href="{{ url_for('page.show',pname='jobs') }}"{% if request.path==url_for('page.show',pname='jobs') %} class="active"{% endif %}>Ofertas de empleo</a></dd>
        <dd><a href="{{ url_for('page.cookies') }}"{% if request.path==url_for('page.cookies') %} class="active"{% endif %}>Política de cookies</a></dd>
        {%- endif %}
        <dt>{{_('help_us')}}</dt>
        <dd><a href="{{ url_for('page.submit_link') }}"{% if request.path==url_for('page.submit_link') %} class="active"{% endif %}>{{_('submit_links')}}</a></dd>
        <dd><a href="{{ url_for('page.translate') }}"{% if request.path==url_for('page.translate') %} class="active"{% endif %}>{{_('translate')}}</a></dd>
        <dd><a href="http://github.com/foofind" rel="external">{{_('source_code')}}</a></dd>
        <dt>{{_('legal_info')}}</dt>
        <dd><a href="{{ url_for('page.show',pname='legal') }}"{% if request.path==url_for('page.show',pname='legal') %} class="active"{% endif %}>{{_('legal')}}</a></dd>
        <dd><a href="{{ url_for('page.show',pname='tos') }}"{% if request.path==url_for('page.show',pname='tos') %} class="active"{% endif %}>{{_('tos')}}</a></dd>
        <dd><a href="{{ url_for('page.show',pname='privacy') }}"{% if request.path==url_for('page.show',pname='privacy') %} class="active"{% endif %}>{{_('privacy')}}</a></dd>
        <dd><a href="{{ url_for('page.complaint') }}"{% if request.path==url_for('page.complaint') %} class="active"{% endif %}>{{_('complaint')}}</a></dd>
    </dl>
</nav>
<article id="{{ pname }}">
    <a href="{{ pagination[0] }}"></a>
    <a href="{{ pagination[1] }}"></a>
    <span>{{ pagination[2] }} / {{ pagination[3] }}</span>
    <div>
        {{ flash() }}
        <h1>{{ page_title }}</h1>
        {% block page %}{% endblock %}
    </div>
</article>
{% endblock %}
