{% extends "pages/base.html" %}
{% from "helpers.html" import render_field %}
{% block page %}
    <p>{{_("link_removal",report_form='<a href="%s">%s</a>'|safe % (url_for('page.complaint'),_('report_form')))}}</p>
    <form method="post">
        <fieldset>
            {{ render_field() }}
            {{ render_field(form.email) }}
            {{ render_field(form.message,cols="40", rows="4") }}
            {{ render_field(form.captcha) }}
            {{ render_field(form.accept_tos) }}
        </fieldset>
        <fieldset>
            {{ form.submit }}
        </fieldset>
    </form>
{% endblock %}
