@mixin background_cached($url,$color="transparent"){background-image:url($url?5);background-repeat:no-repeat;background-color:$color}
@mixin icon-16px-001-A{ background-position: 0 0;  }
@mixin icon-16px-001-B{ background-position: -17px 0;  }
@mixin icon-16px-001-C{ background-position: -34px 0;  }
@mixin icon-16px-001-D{ background-position: -51px 0;  }
@mixin icon-16px-003-A{ background-position: -68px 0;  }
@mixin icon-16px-003-B{ background-position: -85px 0;  }
@mixin icon-16px-003-C{ background-position: -102px 0;  }
@mixin icon-16px-003-D{ background-position: -119px 0;  }
@mixin icon-16px-002-A{ background-position: -136px 0;  }
@mixin icon-16px-002-B{ background-position: -153px 0;  }
@mixin icon-16px-002-C{ background-position: -170px 0;  }
@mixin icon-16px-002-D{ background-position: -187px 0;  }
@mixin icon-16px-005-A{ background-position: -204px 0;  }
@mixin icon-16px-005-B{ background-position: -221px 0;  }
@mixin icon-16px-005-C{ background-position: -238px 0;  }
@mixin icon-16px-005-D{ background-position: -255px 0;  }
@mixin icon-16px-004-A{ background-position: -272px 0;  }
@mixin icon-16px-004-B{ background-position: -289px 0;  }
@mixin icon-16px-004-C{ background-position: -306px 0;  }
@mixin icon-16px-004-D{ background-position: -323px 0;  }
@mixin icon-16px-006-A{ background-position: -340px 0;  }
@mixin icon-16px-006-B{ background-position: -357px 0;  }
@mixin icon-16px-006-C{ background-position: -374px 0;  }
@mixin icon-16px-006-D{ background-position: -391px 0;  }
@mixin icon-16px-007-A{ background-position: -408px 0;  }
@mixin icon-16px-007-B{ background-position: -425px 0;  }
@mixin icon-16px-007-C{ background-position: -442px 0;  }
@mixin icon-16px-007-D{ background-position: -459px 0;  }
@mixin icon-16px-008-A{ background-position: -476px 0;  }
@mixin icon-16px-008-B{ background-position: -493px 0;  }
@mixin icon-16px-008-C{ background-position: -510px 0;  }
@mixin icon-16px-008-D{ background-position: -527px 0;  }
@mixin icon-16px-009-A{ background-position: -544px 0;  }
@mixin icon-16px-009-B{ background-position: -561px 0;  }
@mixin icon-16px-009-C{ background-position: -578px 0;  }
@mixin icon-16px-009-D{ background-position: -595px 0;  }
@mixin icon-16px-101-A{ background-position: -612px 0;  }
@mixin icon-16px-101-B{ background-position: -629px 0;  }
@mixin icon-16px-101-C{ background-position: -646px 0;  }
@mixin icon-16px-103-A{ background-position: -663px 0;  }
@mixin icon-16px-103-B{ background-position: -680px 0;  }
@mixin icon-16px-103-C{ background-position: -697px 0;  }
@mixin icon-16px-102-A{ background-position: -714px 0;  }
@mixin icon-16px-102-B{ background-position: -731px 0;  }
@mixin icon-16px-102-C{ background-position: -748px 0;  }
@mixin icon-16px-105-A{ background-position: -765px 0;  }
@mixin icon-16px-105-B{ background-position: -782px 0;  }
@mixin icon-16px-105-C{ background-position: -799px 0;  }
@mixin icon-16px-104-A{ background-position: -816px 0;  }
@mixin icon-16px-104-B{ background-position: -833px 0;  }
@mixin icon-16px-104-C{ background-position: -850px 0;  }
@mixin icon-16px-106-A{ background-position: -867px 0;  }
@mixin icon-16px-106-B{ background-position: -884px 0;  }
@mixin icon-16px-106-C{ background-position: -901px 0;  }
@mixin icon-16px-201-A{ background-position: -918px 0;  }
@mixin icon-16px-201-AA{ background-position: -935px 0;  }
@mixin icon-16px-201-B{ background-position: -952px 0;  }
@mixin icon-16px-201-BB{ background-position: -969px 0;  }
@mixin icon-16px-201-C{ background-position: -986px 0;  }
@mixin icon-16px-201-CC{ background-position: -1003px 0;  }
@mixin icon-16px-202-A{ background-position: -1020px 0;  }
@mixin icon-16px-202-AA{ background-position: -1037px 0;  }
@mixin icon-16px-202-B{ background-position: -1054px 0;  }
@mixin icon-16px-202-BB{ background-position: -1071px 0;  }
@mixin icon-16px-202-C{ background-position: -1088px 0;  }
@mixin icon-16px-202-CC{ background-position: -1105px 0;  }
@mixin icon-16px-203-A{ background-position: -1122px 0;  }
@mixin icon-16px-203-AA{ background-position: -1139px 0;  }
@mixin icon-16px-203-B{ background-position: -1156px 0;  }
@mixin icon-16px-203-BB{ background-position: -1173px 0;  }
@mixin icon-16px-203-C{ background-position: -1190px 0;  }
@mixin icon-16px-203-CC{ background-position: -1207px 0;  }
@mixin icon-16px-204-A{ background-position: -1224px 0;  }
@mixin icon-16px-204-AA{ background-position: -1241px 0;  }
@mixin icon-16px-204-B{ background-position: -1258px 0;  }
@mixin icon-16px-204-BB{ background-position: -1275px 0;  }
@mixin icon-16px-204-C{ background-position: -1292px 0;  }
@mixin icon-16px-204-CC{ background-position: -1309px 0;  }
@mixin icon-16px-205-A{ background-position: -1326px 0;  }
@mixin icon-16px-205-AA{ background-position: -1343px 0;  }
@mixin icon-16px-205-B{ background-position: -1360px 0;  }
@mixin icon-16px-205-BB{ background-position: -1377px 0;  }
@mixin icon-16px-205-C{ background-position: -1394px 0;  }
@mixin icon-16px-205-CC{ background-position: -1411px 0;  }
@mixin icon-16px-206-A{ background-position: -1428px 0;  }
@mixin icon-16px-206-AA{ background-position: -1445px 0;  }
@mixin icon-16px-206-B{ background-position: -1462px 0;  }
@mixin icon-16px-206-BB{ background-position: -1479px 0;  }
@mixin icon-16px-206-C{ background-position: -1496px 0;  }
@mixin icon-16px-206-CC{ background-position: -1513px 0;  }
@mixin icon-16px-301-A{ background-position: -1530px 0;  }
@mixin icon-16px-301-B{ background-position: -1547px 0;  }
@mixin icon-16px-301-C{ background-position: -1564px 0;  }
@mixin icon-16px-302-A{ background-position: -1581px 0;  }
@mixin icon-16px-302-B{ background-position: -1598px 0;  }
@mixin icon-16px-302-C{ background-position: -1615px 0;  }
@mixin icon-16px-303-A{ background-position: -1632px 0;  }
@mixin icon-16px-303-B{ background-position: -1649px 0;  }
@mixin icon-16px-303-C{ background-position: -1666px 0;  }
@mixin icon-16px-304-A{ background-position: -1683px 0;  }
@mixin icon-16px-304-B{ background-position: -1700px 0;  }
@mixin icon-16px-304-C{ background-position: -1717px 0;  }
@mixin icon-16px-305-A{ background-position: -1734px 0;  }
@mixin icon-16px-305-B{ background-position: -1751px 0;  }
@mixin icon-16px-305-C{ background-position: -1768px 0;  }
@mixin icon-16px-306-A{ background-position: -1785px 0;  }
@mixin icon-16px-306-B{ background-position: -1802px 0;  }
@mixin icon-16px-306-C{ background-position: -1819px 0;  }
@mixin icon-16px-307-A{ background-position: -1836px 0;  }
@mixin icon-16px-307-B{ background-position: -1853px 0;  }
@mixin icon-16px-307-C{ background-position: -1870px 0;  }
@mixin icon-16px-308-A{ background-position: -1887px 0;  }
@mixin icon-16px-308-B{ background-position: -1904px 0;  }
@mixin icon-16px-308-C{ background-position: -1921px 0;  }
@mixin icon-16px-309-A{ background-position: -1938px 0;  }
@mixin icon-16px-309-B{ background-position: -1955px 0;  }
@mixin icon-16px-309-C{ background-position: -1972px 0;  }
@mixin icon-16px-310-A{ background-position: -1989px 0;  }
@mixin icon-16px-310-B{ background-position: -2006px 0;  }
@mixin icon-16px-310-C{ background-position: -2023px 0;  }
@mixin icon-16px-311-A{ background-position: -2040px 0;  }
@mixin icon-16px-311-B{ background-position: -2057px 0;  }
@mixin icon-16px-311-C{ background-position: -2074px 0;  }
@mixin icon-16px-312-A{ background-position: -2091px 0;  }
@mixin icon-16px-312-B{ background-position: -2108px 0;  }
@mixin icon-16px-312-C{ background-position: -2125px 0;  }
@mixin icon-16px-313-A{ background-position: -2142px 0;  }
@mixin icon-16px-313-B{ background-position: -2159px 0;  }
@mixin icon-16px-313-C{ background-position: -2176px 0;  }
@mixin icon-16px-314-A{ background-position: -2193px 0;  }
@mixin icon-16px-314-B{ background-position: -2210px 0;  }
@mixin icon-16px-314-C{ background-position: -2227px 0;  }
@mixin icon-24px-001-A{ background-position: 0 0;  }
@mixin icon-24px-001-B{ background-position: -25px 0;  }
@mixin icon-24px-001-C{ background-position: -50px 0;  }
@mixin icon-24px-001-D{ background-position: -75px 0;  }
@mixin icon-24px-003-A{ background-position: -100px 0;  }
@mixin icon-24px-003-B{ background-position: -125px 0;  }
@mixin icon-24px-003-C{ background-position: -150px 0;  }
@mixin icon-24px-003-D{ background-position: -175px 0;  }
@mixin icon-24px-002-A{ background-position: -200px 0;  }
@mixin icon-24px-002-B{ background-position: -225px 0;  }
@mixin icon-24px-002-C{ background-position: -250px 0;  }
@mixin icon-24px-002-D{ background-position: -275px 0;  }
@mixin icon-24px-005-A{ background-position: -300px 0;  }
@mixin icon-24px-005-B{ background-position: -325px 0;  }
@mixin icon-24px-005-C{ background-position: -350px 0;  }
@mixin icon-24px-005-D{ background-position: -375px 0;  }
@mixin icon-24px-004-A{ background-position: -400px 0;  }
@mixin icon-24px-004-B{ background-position: -425px 0;  }
@mixin icon-24px-004-C{ background-position: -450px 0;  }
@mixin icon-24px-004-D{ background-position: -475px 0;  }
@mixin icon-24px-006-A{ background-position: -500px 0;  }
@mixin icon-24px-006-B{ background-position: -525px 0;  }
@mixin icon-24px-006-C{ background-position: -550px 0;  }
@mixin icon-24px-006-D{ background-position: -575px 0;  }
@mixin icon-24px-007-A{ background-position: -600px 0;  }
@mixin icon-24px-007-B{ background-position: -625px 0;  }
@mixin icon-24px-007-C{ background-position: -650px 0;  }
@mixin icon-24px-007-D{ background-position: -675px 0;  }
@mixin icon-24px-008-A{ background-position: -700px 0;  }
@mixin icon-24px-008-B{ background-position: -725px 0;  }
@mixin icon-24px-008-C{ background-position: -750px 0;  }
@mixin icon-24px-008-D{ background-position: -775px 0;  }
@mixin icon-24px-009-A{ background-position: -800px 0;  }
@mixin icon-24px-009-B{ background-position: -825px 0;  }
@mixin icon-24px-009-C{ background-position: -850px 0;  }
@mixin icon-24px-009-D{ background-position: -875px 0;  }
@mixin icon-24px-101-A{ background-position: -900px 0;  }
@mixin icon-24px-101-B{ background-position: -925px 0;  }
@mixin icon-24px-101-C{ background-position: -950px 0;  }
@mixin icon-24px-103-A{ background-position: -975px 0;  }
@mixin icon-24px-103-B{ background-position: -1000px 0;  }
@mixin icon-24px-103-C{ background-position: -1025px 0;  }
@mixin icon-24px-102-A{ background-position: -1050px 0;  }
@mixin icon-24px-102-B{ background-position: -1075px 0;  }
@mixin icon-24px-102-C{ background-position: -1100px 0;  }
@mixin icon-24px-105-A{ background-position: -1125px 0;  }
@mixin icon-24px-105-B{ background-position: -1150px 0;  }
@mixin icon-24px-105-C{ background-position: -1175px 0;  }
@mixin icon-24px-104-A{ background-position: -1200px 0;  }
@mixin icon-24px-104-B{ background-position: -1225px 0;  }
@mixin icon-24px-104-C{ background-position: -1250px 0;  }
@mixin icon-24px-106-A{ background-position: -1275px 0;  }
@mixin icon-24px-106-B{ background-position: -1300px 0;  }
@mixin icon-24px-106-C{ background-position: -1325px 0;  }
@mixin icon-24px-201-A{ background-position: -1350px 0;  }
@mixin icon-24px-201-AA{ background-position: -1375px 0;  }
@mixin icon-24px-201-B{ background-position: -1400px 0;  }
@mixin icon-24px-201-BB{ background-position: -1425px 0;  }
@mixin icon-24px-201-C{ background-position: -1450px 0;  }
@mixin icon-24px-201-CC{ background-position: -1475px 0;  }
@mixin icon-24px-202-A{ background-position: -1500px 0;  }
@mixin icon-24px-202-AA{ background-position: -1525px 0;  }
@mixin icon-24px-202-B{ background-position: -1550px 0;  }
@mixin icon-24px-202-BB{ background-position: -1575px 0;  }
@mixin icon-24px-202-C{ background-position: -1600px 0;  }
@mixin icon-24px-202-CC{ background-position: -1625px 0;  }
@mixin icon-24px-203-A{ background-position: -1650px 0;  }
@mixin icon-24px-203-AA{ background-position: -1675px 0;  }
@mixin icon-24px-203-B{ background-position: -1700px 0;  }
@mixin icon-24px-203-BB{ background-position: -1725px 0;  }
@mixin icon-24px-203-C{ background-position: -1750px 0;  }
@mixin icon-24px-203-CC{ background-position: -1775px 0;  }
@mixin icon-24px-204-A{ background-position: -1800px 0;  }
@mixin icon-24px-204-AA{ background-position: -1825px 0;  }
@mixin icon-24px-204-B{ background-position: -1850px 0;  }
@mixin icon-24px-204-BB{ background-position: -1875px 0;  }
@mixin icon-24px-204-C{ background-position: -1900px 0;  }
@mixin icon-24px-204-CC{ background-position: -1925px 0;  }
@mixin icon-24px-205-A{ background-position: -1950px 0;  }
@mixin icon-24px-205-AA{ background-position: -1975px 0;  }
@mixin icon-24px-205-B{ background-position: -2000px 0;  }
@mixin icon-24px-205-BB{ background-position: -2025px 0;  }
@mixin icon-24px-205-C{ background-position: -2050px 0;  }
@mixin icon-24px-205-CC{ background-position: -2075px 0;  }
@mixin icon-24px-206-A{ background-position: -2100px 0;  }
@mixin icon-24px-206-AA{ background-position: -2125px 0;  }
@mixin icon-24px-206-B{ background-position: -2150px 0;  }
@mixin icon-24px-206-BB{ background-position: -2175px 0;  }
@mixin icon-24px-206-C{ background-position: -2200px 0;  }
@mixin icon-24px-206-CC{ background-position: -2225px 0;  }
@mixin icon-24px-301-A{ background-position: -2250px 0;  }
@mixin icon-24px-301-B{ background-position: -2275px 0;  }
@mixin icon-24px-301-C{ background-position: -2300px 0;  }
@mixin icon-24px-302-A{ background-position: -2325px 0;  }
@mixin icon-24px-302-B{ background-position: -2350px 0;  }
@mixin icon-24px-302-C{ background-position: -2375px 0;  }
@mixin icon-24px-303-A{ background-position: -2400px 0;  }
@mixin icon-24px-303-B{ background-position: -2425px 0;  }
@mixin icon-24px-303-C{ background-position: -2450px 0;  }
@mixin icon-24px-304-A{ background-position: -2475px 0;  }
@mixin icon-24px-304-B{ background-position: -2500px 0;  }
@mixin icon-24px-304-C{ background-position: -2525px 0;  }
@mixin icon-24px-305-A{ background-position: -2550px 0;  }
@mixin icon-24px-305-B{ background-position: -2575px 0;  }
@mixin icon-24px-305-C{ background-position: -2600px 0;  }
@mixin icon-24px-306-A{ background-position: -2625px 0;  }
@mixin icon-24px-306-B{ background-position: -2650px 0;  }
@mixin icon-24px-306-C{ background-position: -2675px 0;  }
@mixin icon-24px-307-A{ background-position: -2700px 0;  }
@mixin icon-24px-307-B{ background-position: -2725px 0;  }
@mixin icon-24px-307-C{ background-position: -2750px 0;  }
@mixin icon-24px-308-A{ background-position: -2775px 0;  }
@mixin icon-24px-308-B{ background-position: -2800px 0;  }
@mixin icon-24px-308-C{ background-position: -2825px 0;  }
@mixin icon-24px-309-A{ background-position: -2850px 0;  }
@mixin icon-24px-309-B{ background-position: -2875px 0;  }
@mixin icon-24px-309-C{ background-position: -2900px 0;  }
@mixin icon-24px-310-A{ background-position: -2925px 0;  }
@mixin icon-24px-310-B{ background-position: -2950px 0;  }
@mixin icon-24px-310-C{ background-position: -2975px 0;  }
@mixin icon-24px-311-A{ background-position: -3000px 0;  }
@mixin icon-24px-311-B{ background-position: -3025px 0;  }
@mixin icon-24px-311-C{ background-position: -3050px 0;  }
@mixin icon-24px-312-A{ background-position: -3075px 0;  }
@mixin icon-24px-312-B{ background-position: -3100px 0;  }
@mixin icon-24px-312-C{ background-position: -3125px 0;  }
@mixin icon-24px-313-A{ background-position: -3150px 0;  }
@mixin icon-24px-313-B{ background-position: -3175px 0;  }
@mixin icon-24px-313-C{ background-position: -3200px 0;  }
@mixin icon-24px-314-A{ background-position: -3225px 0;  }
@mixin icon-24px-314-B{ background-position: -3250px 0;  }
@mixin icon-24px-314-C{ background-position: -3275px 0;  }
@mixin icon-28px-101-A{ background-position: 0 0;  }
@mixin icon-28px-101-B{ background-position: -29px 0;  }
@mixin icon-28px-101-C{ background-position: -58px 0;  }
@mixin icon-28px-103-A{ background-position: -87px 0;  }
@mixin icon-28px-103-B{ background-position: -116px 0;  }
@mixin icon-28px-103-C{ background-position: -145px 0;  }
@mixin icon-28px-102-A{ background-position: -174px 0;  }
@mixin icon-28px-102-B{ background-position: -203px 0;  }
@mixin icon-28px-102-C{ background-position: -232px 0;  }
@mixin icon-28px-105-A{ background-position: -261px 0;  }
@mixin icon-28px-105-B{ background-position: -290px 0;  }
@mixin icon-28px-105-C{ background-position: -319px 0;  }
@mixin icon-28px-104-A{ background-position: -348px 0;  }
@mixin icon-28px-104-B{ background-position: -377px 0;  }
@mixin icon-28px-104-C{ background-position: -406px 0;  }
@mixin icon-28px-106-A{ background-position: -435px 0;  }
@mixin icon-28px-106-B{ background-position: -464px 0;  }
@mixin icon-28px-106-C{ background-position: -493px 0;  }
@mixin icon-28px-201-A{ background-position: -522px 0;  }
@mixin icon-28px-201-AA{ background-position: -551px 0;  }
@mixin icon-28px-201-B{ background-position: -580px 0;  }
@mixin icon-28px-201-BB{ background-position: -609px 0;  }
@mixin icon-28px-201-C{ background-position: -638px 0;  }
@mixin icon-28px-201-CC{ background-position: -667px 0;  }
@mixin icon-28px-202-A{ background-position: -696px 0;  }
@mixin icon-28px-202-AA{ background-position: -725px 0;  }
@mixin icon-28px-202-B{ background-position: -754px 0;  }
@mixin icon-28px-202-BB{ background-position: -783px 0;  }
@mixin icon-28px-202-C{ background-position: -812px 0;  }
@mixin icon-28px-202-CC{ background-position: -841px 0;  }
@mixin icon-28px-203-A{ background-position: -870px 0;  }
@mixin icon-28px-203-AA{ background-position: -899px 0;  }
@mixin icon-28px-203-B{ background-position: -928px 0;  }
@mixin icon-28px-203-BB{ background-position: -957px 0;  }
@mixin icon-28px-203-C{ background-position: -986px 0;  }
@mixin icon-28px-203-CC{ background-position: -1015px 0;  }
@mixin icon-28px-204-A{ background-position: -1044px 0;  }
@mixin icon-28px-204-AA{ background-position: -1073px 0;  }
@mixin icon-28px-204-B{ background-position: -1102px 0;  }
@mixin icon-28px-204-BB{ background-position: -1131px 0;  }
@mixin icon-28px-204-C{ background-position: -1160px 0;  }
@mixin icon-28px-204-CC{ background-position: -1189px 0;  }
@mixin icon-28px-205-A{ background-position: -1218px 0;  }
@mixin icon-28px-205-AA{ background-position: -1247px 0;  }
@mixin icon-28px-205-B{ background-position: -1276px 0;  }
@mixin icon-28px-205-BB{ background-position: -1305px 0;  }
@mixin icon-28px-205-C{ background-position: -1334px 0;  }
@mixin icon-28px-205-CC{ background-position: -1363px 0;  }
@mixin icon-28px-206-A{ background-position: -1392px 0;  }
@mixin icon-28px-206-AA{ background-position: -1421px 0;  }
@mixin icon-28px-206-B{ background-position: -1450px 0;  }
@mixin icon-28px-206-BB{ background-position: -1479px 0;  }
@mixin icon-28px-206-C{ background-position: -1508px 0;  }
@mixin icon-28px-206-CC{ background-position: -1537px 0;  }
@mixin icon-28px-301-A{ background-position: -1566px 0;  }
@mixin icon-28px-301-B{ background-position: -1595px 0;  }
@mixin icon-28px-301-C{ background-position: -1624px 0;  }
@mixin icon-28px-302-A{ background-position: -1653px 0;  }
@mixin icon-28px-302-B{ background-position: -1682px 0;  }
@mixin icon-28px-302-C{ background-position: -1711px 0;  }
@mixin icon-28px-303-A{ background-position: -1740px 0;  }
@mixin icon-28px-303-B{ background-position: -1769px 0;  }
@mixin icon-28px-303-C{ background-position: -1798px 0;  }
@mixin icon-28px-304-A{ background-position: -1827px 0;  }
@mixin icon-28px-304-B{ background-position: -1856px 0;  }
@mixin icon-28px-304-C{ background-position: -1885px 0;  }
@mixin icon-28px-305-A{ background-position: -1914px 0;  }
@mixin icon-28px-305-B{ background-position: -1943px 0;  }
@mixin icon-28px-305-C{ background-position: -1972px 0;  }
@mixin icon-28px-306-A{ background-position: -2001px 0;  }
@mixin icon-28px-306-B{ background-position: -2030px 0;  }
@mixin icon-28px-306-C{ background-position: -2059px 0;  }
@mixin icon-28px-307-A{ background-position: -2088px 0;  }
@mixin icon-28px-307-B{ background-position: -2117px 0;  }
@mixin icon-28px-307-C{ background-position: -2146px 0;  }
@mixin icon-28px-308-A{ background-position: -2175px 0;  }
@mixin icon-28px-308-B{ background-position: -2204px 0;  }
@mixin icon-28px-308-C{ background-position: -2233px 0;  }
@mixin icon-28px-309-A{ background-position: -2262px 0;  }
@mixin icon-28px-309-B{ background-position: -2291px 0;  }
@mixin icon-28px-309-C{ background-position: -2320px 0;  }
@mixin icon-28px-310-A{ background-position: -2349px 0;  }
@mixin icon-28px-310-B{ background-position: -2378px 0;  }
@mixin icon-28px-310-C{ background-position: -2407px 0;  }
@mixin icon-28px-311-A{ background-position: -2436px 0;  }
@mixin icon-28px-311-B{ background-position: -2465px 0;  }
@mixin icon-28px-311-C{ background-position: -2494px 0;  }
@mixin icon-28px-312-A{ background-position: -2523px 0;  }
@mixin icon-28px-312-B{ background-position: -2552px 0;  }
@mixin icon-28px-312-C{ background-position: -2581px 0;  }
@mixin icon-28px-313-A{ background-position: -2610px 0;  }
@mixin icon-28px-313-B{ background-position: -2639px 0;  }
@mixin icon-28px-313-C{ background-position: -2668px 0;  }
@mixin icon-28px-314-A{ background-position: -2697px 0;  }
@mixin icon-28px-314-B{ background-position: -2726px 0;  }
@mixin icon-28px-314-C{ background-position: -2755px 0;  }
@mixin icon-32px-001-A{ background-position: 0 0;  }
@mixin icon-32px-001-B{ background-position: -33px 0;  }
@mixin icon-32px-001-C{ background-position: -66px 0;  }
@mixin icon-32px-001-D{ background-position: -99px 0;  }
@mixin icon-32px-003-A{ background-position: -132px 0;  }
@mixin icon-32px-003-B{ background-position: -165px 0;  }
@mixin icon-32px-003-C{ background-position: -198px 0;  }
@mixin icon-32px-003-D{ background-position: -231px 0;  }
@mixin icon-32px-002-A{ background-position: -264px 0;  }
@mixin icon-32px-002-B{ background-position: -297px 0;  }
@mixin icon-32px-002-C{ background-position: -330px 0;  }
@mixin icon-32px-002-D{ background-position: -363px 0;  }
@mixin icon-32px-005-A{ background-position: -396px 0;  }
@mixin icon-32px-005-B{ background-position: -429px 0;  }
@mixin icon-32px-005-C{ background-position: -462px 0;  }
@mixin icon-32px-005-D{ background-position: -495px 0;  }
@mixin icon-32px-004-A{ background-position: -528px 0;  }
@mixin icon-32px-004-B{ background-position: -561px 0;  }
@mixin icon-32px-004-C{ background-position: -594px 0;  }
@mixin icon-32px-004-D{ background-position: -627px 0;  }
@mixin icon-32px-006-A{ background-position: -660px 0;  }
@mixin icon-32px-006-B{ background-position: -693px 0;  }
@mixin icon-32px-006-C{ background-position: -726px 0;  }
@mixin icon-32px-006-D{ background-position: -759px 0;  }
@mixin icon-32px-007-A{ background-position: -792px 0;  }
@mixin icon-32px-007-B{ background-position: -825px 0;  }
@mixin icon-32px-007-C{ background-position: -858px 0;  }
@mixin icon-32px-007-D{ background-position: -891px 0;  }
@mixin icon-32px-008-A{ background-position: -924px 0;  }
@mixin icon-32px-008-B{ background-position: -957px 0;  }
@mixin icon-32px-008-C{ background-position: -990px 0;  }
@mixin icon-32px-008-D{ background-position: -1023px 0;  }
@mixin icon-32px-009-A{ background-position: -1056px 0;  }
@mixin icon-32px-009-B{ background-position: -1089px 0;  }
@mixin icon-32px-009-C{ background-position: -1122px 0;  }
@mixin icon-32px-009-D{ background-position: -1155px 0;  }
@mixin icon-32px-101-A{ background-position: -1188px 0;  }
@mixin icon-32px-101-B{ background-position: -1221px 0;  }
@mixin icon-32px-101-C{ background-position: -1254px 0;  }
@mixin icon-32px-103-A{ background-position: -1287px 0;  }
@mixin icon-32px-103-B{ background-position: -1320px 0;  }
@mixin icon-32px-103-C{ background-position: -1353px 0;  }
@mixin icon-32px-102-A{ background-position: -1386px 0;  }
@mixin icon-32px-102-B{ background-position: -1419px 0;  }
@mixin icon-32px-102-C{ background-position: -1452px 0;  }
@mixin icon-32px-105-A{ background-position: -1485px 0;  }
@mixin icon-32px-105-B{ background-position: -1518px 0;  }
@mixin icon-32px-105-C{ background-position: -1551px 0;  }
@mixin icon-32px-104-A{ background-position: -1584px 0;  }
@mixin icon-32px-104-B{ background-position: -1617px 0;  }
@mixin icon-32px-104-C{ background-position: -1650px 0;  }
@mixin icon-32px-106-A{ background-position: -1683px 0;  }
@mixin icon-32px-106-B{ background-position: -1716px 0;  }
@mixin icon-32px-106-C{ background-position: -1749px 0;  }
@mixin icon-32px-201-A{ background-position: -1782px 0;  }
@mixin icon-32px-201-AA{ background-position: -1815px 0;  }
@mixin icon-32px-201-B{ background-position: -1848px 0;  }
@mixin icon-32px-201-BB{ background-position: -1881px 0;  }
@mixin icon-32px-201-C{ background-position: -1914px 0;  }
@mixin icon-32px-201-CC{ background-position: -1947px 0;  }
@mixin icon-32px-202-A{ background-position: -1980px 0;  }
@mixin icon-32px-202-AA{ background-position: -2013px 0;  }
@mixin icon-32px-202-B{ background-position: -2046px 0;  }
@mixin icon-32px-202-BB{ background-position: -2079px 0;  }
@mixin icon-32px-202-C{ background-position: -2112px 0;  }
@mixin icon-32px-202-CC{ background-position: -2145px 0;  }
@mixin icon-32px-203-A{ background-position: -2178px 0;  }
@mixin icon-32px-203-AA{ background-position: -2211px 0;  }
@mixin icon-32px-203-B{ background-position: -2244px 0;  }
@mixin icon-32px-203-BB{ background-position: -2277px 0;  }
@mixin icon-32px-203-C{ background-position: -2310px 0;  }
@mixin icon-32px-203-CC{ background-position: -2343px 0;  }
@mixin icon-32px-204-A{ background-position: -2376px 0;  }
@mixin icon-32px-204-AA{ background-position: -2409px 0;  }
@mixin icon-32px-204-B{ background-position: -2442px 0;  }
@mixin icon-32px-204-BB{ background-position: -2475px 0;  }
@mixin icon-32px-204-C{ background-position: -2508px 0;  }
@mixin icon-32px-204-CC{ background-position: -2541px 0;  }
@mixin icon-32px-205-A{ background-position: -2574px 0;  }
@mixin icon-32px-205-AA{ background-position: -2607px 0;  }
@mixin icon-32px-205-B{ background-position: -2640px 0;  }
@mixin icon-32px-205-BB{ background-position: -2673px 0;  }
@mixin icon-32px-205-C{ background-position: -2706px 0;  }
@mixin icon-32px-205-CC{ background-position: -2739px 0;  }
@mixin icon-32px-206-A{ background-position: -2772px 0;  }
@mixin icon-32px-206-AA{ background-position: -2805px 0;  }
@mixin icon-32px-206-B{ background-position: -2838px 0;  }
@mixin icon-32px-206-BB{ background-position: -2871px 0;  }
@mixin icon-32px-206-C{ background-position: -2904px 0;  }
@mixin icon-32px-206-CC{ background-position: -2937px 0;  }
@mixin icon-32px-301-A{ background-position: -2970px 0;  }
@mixin icon-32px-301-B{ background-position: -3003px 0;  }
@mixin icon-32px-301-C{ background-position: -3036px 0;  }
@mixin icon-32px-302-A{ background-position: -3069px 0;  }
@mixin icon-32px-302-B{ background-position: -3102px 0;  }
@mixin icon-32px-302-C{ background-position: -3135px 0;  }
@mixin icon-32px-303-A{ background-position: -3168px 0;  }
@mixin icon-32px-303-B{ background-position: -3201px 0;  }
@mixin icon-32px-303-C{ background-position: -3234px 0;  }
@mixin icon-32px-304-A{ background-position: -3267px 0;  }
@mixin icon-32px-304-B{ background-position: -3300px 0;  }
@mixin icon-32px-304-C{ background-position: -3333px 0;  }
@mixin icon-32px-305-A{ background-position: -3366px 0;  }
@mixin icon-32px-305-B{ background-position: -3399px 0;  }
@mixin icon-32px-305-C{ background-position: -3432px 0;  }
@mixin icon-32px-306-A{ background-position: -3465px 0;  }
@mixin icon-32px-306-B{ background-position: -3498px 0;  }
@mixin icon-32px-306-C{ background-position: -3531px 0;  }
@mixin icon-32px-307-A{ background-position: -3564px 0;  }
@mixin icon-32px-307-B{ background-position: -3597px 0;  }
@mixin icon-32px-307-C{ background-position: -3630px 0;  }
@mixin icon-32px-308-A{ background-position: -3663px 0;  }
@mixin icon-32px-308-B{ background-position: -3696px 0;  }
@mixin icon-32px-308-C{ background-position: -3729px 0;  }
@mixin icon-32px-309-A{ background-position: -3762px 0;  }
@mixin icon-32px-309-B{ background-position: -3795px 0;  }
@mixin icon-32px-309-C{ background-position: -3828px 0;  }
@mixin icon-32px-310-A{ background-position: -3861px 0;  }
@mixin icon-32px-310-B{ background-position: -3894px 0;  }
@mixin icon-32px-310-C{ background-position: -3927px 0;  }
@mixin icon-32px-311-A{ background-position: -3960px 0;  }
@mixin icon-32px-311-B{ background-position: -3993px 0;  }
@mixin icon-32px-311-C{ background-position: -4026px 0;  }
@mixin icon-32px-312-A{ background-position: -4059px 0;  }
@mixin icon-32px-312-B{ background-position: -4092px 0;  }
@mixin icon-32px-312-C{ background-position: -4125px 0;  }
@mixin icon-32px-313-A{ background-position: -4158px 0;  }
@mixin icon-32px-313-B{ background-position: -4191px 0;  }
@mixin icon-32px-313-C{ background-position: -4224px 0;  }
@mixin icon-32px-314-A{ background-position: -4257px 0;  }
@mixin icon-32px-314-B{ background-position: -4290px 0;  }
@mixin icon-32px-314-C{ background-position: -4323px 0;  }
@mixin icon-50px-001-A{ background-position: 0 0;  }
@mixin icon-50px-001-B{ background-position: -51px 0;  }
@mixin icon-50px-001-C{ background-position: -102px 0;  }
@mixin icon-50px-001-D{ background-position: -153px 0;  }
@mixin icon-50px-003-A{ background-position: -204px 0;  }
@mixin icon-50px-003-B{ background-position: -255px 0;  }
@mixin icon-50px-003-C{ background-position: -306px 0;  }
@mixin icon-50px-003-D{ background-position: -357px 0;  }
@mixin icon-50px-002-A{ background-position: -408px 0;  }
@mixin icon-50px-002-B{ background-position: -459px 0;  }
@mixin icon-50px-002-C{ background-position: -510px 0;  }
@mixin icon-50px-002-D{ background-position: -561px 0;  }
@mixin icon-50px-005-A{ background-position: -612px 0;  }
@mixin icon-50px-005-B{ background-position: -663px 0;  }
@mixin icon-50px-005-C{ background-position: -714px 0;  }
@mixin icon-50px-005-D{ background-position: -765px 0;  }
@mixin icon-50px-004-A{ background-position: -816px 0;  }
@mixin icon-50px-004-B{ background-position: -867px 0;  }
@mixin icon-50px-004-C{ background-position: -918px 0;  }
@mixin icon-50px-004-D{ background-position: -969px 0;  }
@mixin icon-50px-006-A{ background-position: -1020px 0;  }
@mixin icon-50px-006-B{ background-position: -1071px 0;  }
@mixin icon-50px-006-C{ background-position: -1122px 0;  }
@mixin icon-50px-006-D{ background-position: -1173px 0;  }
@mixin icon-50px-007-A{ background-position: -1224px 0;  }
@mixin icon-50px-007-B{ background-position: -1275px 0;  }
@mixin icon-50px-007-C{ background-position: -1326px 0;  }
@mixin icon-50px-007-D{ background-position: -1377px 0;  }
@mixin icon-50px-008-A{ background-position: -1428px 0;  }
@mixin icon-50px-008-B{ background-position: -1479px 0;  }
@mixin icon-50px-008-C{ background-position: -1529px 0;  }
@mixin icon-50px-008-D{ background-position: -1579px 0;  }
@mixin icon-50px-009-A{ background-position: -1630px 0;  }
@mixin icon-50px-009-B{ background-position: -1681px 0;  }
@mixin icon-50px-009-C{ background-position: -1732px 0;  }
@mixin icon-50px-009-D{ background-position: -1783px 0;  }
@mixin icon-50px-101-A{ background-position: -1834px 0;  }
@mixin icon-50px-101-B{ background-position: -1885px 0;  }
@mixin icon-50px-101-C{ background-position: -1936px 0;  }
@mixin icon-50px-103-A{ background-position: -1987px 0;  }
@mixin icon-50px-103-B{ background-position: -2038px 0;  }
@mixin icon-50px-103-C{ background-position: -2089px 0;  }
@mixin icon-50px-102-A{ background-position: -2140px 0;  }
@mixin icon-50px-102-B{ background-position: -2191px 0;  }
@mixin icon-50px-102-C{ background-position: -2242px 0;  }
@mixin icon-50px-105-A{ background-position: -2293px 0;  }
@mixin icon-50px-105-B{ background-position: -2344px 0;  }
@mixin icon-50px-105-C{ background-position: -2395px 0;  }
@mixin icon-50px-104-A{ background-position: -2446px 0;  }
@mixin icon-50px-104-B{ background-position: -2497px 0;  }
@mixin icon-50px-104-C{ background-position: -2548px 0;  }
@mixin icon-50px-106-A{ background-position: -2599px 0;  }
@mixin icon-50px-106-B{ background-position: -2650px 0;  }
@mixin icon-50px-106-C{ background-position: -2701px 0;  }
@mixin icon-50px-201-A{ background-position: -2752px 0;  }
@mixin icon-50px-201-AA{ background-position: -2803px 0;  }
@mixin icon-50px-201-B{ background-position: -2854px 0;  }
@mixin icon-50px-201-BB{ background-position: -2905px 0;  }
@mixin icon-50px-201-C{ background-position: -2956px 0;  }
@mixin icon-50px-201-CC{ background-position: -3007px 0;  }
@mixin icon-50px-202-A{ background-position: -3058px 0;  }
@mixin icon-50px-202-AA{ background-position: -3109px 0;  }
@mixin icon-50px-202-B{ background-position: -3160px 0;  }
@mixin icon-50px-202-BB{ background-position: -3211px 0;  }
@mixin icon-50px-202-C{ background-position: -3262px 0;  }
@mixin icon-50px-202-CC{ background-position: -3313px 0;  }
@mixin icon-50px-203-A{ background-position: -3364px 0;  }
@mixin icon-50px-203-AA{ background-position: -3415px 0;  }
@mixin icon-50px-203-B{ background-position: -3466px 0;  }
@mixin icon-50px-203-BB{ background-position: -3517px 0;  }
@mixin icon-50px-203-C{ background-position: -3568px 0;  }
@mixin icon-50px-203-CC{ background-position: -3619px 0;  }
@mixin icon-50px-204-A{ background-position: -3670px 0;  }
@mixin icon-50px-204-AA{ background-position: -3721px 0;  }
@mixin icon-50px-204-B{ background-position: -3772px 0;  }
@mixin icon-50px-204-BB{ background-position: -3823px 0;  }
@mixin icon-50px-204-C{ background-position: -3874px 0;  }
@mixin icon-50px-204-CC{ background-position: -3925px 0;  }
@mixin icon-50px-205-A{ background-position: -3976px 0;  }
@mixin icon-50px-205-AA{ background-position: -4027px 0;  }
@mixin icon-50px-205-B{ background-position: -4078px 0;  }
@mixin icon-50px-205-BB{ background-position: -4129px 0;  }
@mixin icon-50px-205-C{ background-position: -4180px 0;  }
@mixin icon-50px-205-CC{ background-position: -4231px 0;  }
@mixin icon-50px-206-A{ background-position: -4282px 0;  }
@mixin icon-50px-206-AA{ background-position: -4333px 0;  }
@mixin icon-50px-206-B{ background-position: -4384px 0;  }
@mixin icon-50px-206-BB{ background-position: -4435px 0;  }
@mixin icon-50px-206-C{ background-position: -4486px 0;  }
@mixin icon-50px-206-CC{ background-position: -4537px 0;  }
@mixin icon-50px-300-A{ background-position: -4588px 0;  }
@mixin icon-50px-300-B{ background-position: -4639px 0;  }
@mixin icon-50px-300-C{ background-position: -4690px 0;  }
@mixin icon-50px-301-A{ background-position: -4741px 0;  }
@mixin icon-50px-301-B{ background-position: -4792px 0;  }
@mixin icon-50px-301-C{ background-position: -4843px 0;  }
@mixin icon-50px-302-A{ background-position: -4894px 0;  }
@mixin icon-50px-302-B{ background-position: -4945px 0;  }
@mixin icon-50px-302-C{ background-position: -4996px 0;  }
@mixin icon-50px-303-A{ background-position: -5047px 0;  }
@mixin icon-50px-303-B{ background-position: -5098px 0;  }
@mixin icon-50px-303-C{ background-position: -5149px 0;  }
@mixin icon-50px-304-A{ background-position: -5200px 0;  }
@mixin icon-50px-304-B{ background-position: -5251px 0;  }
@mixin icon-50px-304-C{ background-position: -5302px 0;  }
@mixin icon-50px-305-A{ background-position: -5353px 0;  }
@mixin icon-50px-305-B{ background-position: -5404px 0;  }
@mixin icon-50px-305-C{ background-position: -5455px 0;  }
@mixin icon-50px-306-A{ background-position: -5506px 0;  }
@mixin icon-50px-306-B{ background-position: -5557px 0;  }
@mixin icon-50px-306-C{ background-position: -5608px 0;  }
@mixin icon-50px-307-A{ background-position: -5659px 0;  }
@mixin icon-50px-307-B{ background-position: -5710px 0;  }
@mixin icon-50px-307-C{ background-position: -5761px 0;  }
@mixin icon-50px-308-A{ background-position: -5812px 0;  }
@mixin icon-50px-308-B{ background-position: -5863px 0;  }
@mixin icon-50px-308-C{ background-position: -5914px 0;  }
@mixin icon-50px-309-A{ background-position: -5965px 0;  }
@mixin icon-50px-309-B{ background-position: -6016px 0;  }
@mixin icon-50px-309-C{ background-position: -6067px 0;  }
@mixin icon-50px-310-A{ background-position: -6118px 0;  }
@mixin icon-50px-310-B{ background-position: -6169px 0;  }
@mixin icon-50px-310-C{ background-position: -6220px 0;  }
@mixin icon-50px-311-A{ background-position: -6271px 0;  }
@mixin icon-50px-311-B{ background-position: -6322px 0;  }
@mixin icon-50px-311-C{ background-position: -6373px 0;  }
@mixin icon-50px-312-A{ background-position: -6424px 0;  }
@mixin icon-50px-312-B{ background-position: -6475px 0;  }
@mixin icon-50px-312-C{ background-position: -6526px 0;  }
@mixin icon-50px-313-A{ background-position: -6577px 0;  }
@mixin icon-50px-313-B{ background-position: -6628px 0;  }
@mixin icon-50px-313-C{ background-position: -6679px 0;  }
@mixin icon-50px-314-A{ background-position: -6730px 0;  }
@mixin icon-50px-314-B{ background-position: -6781px 0;  }
@mixin icon-50px-314-C{ background-position: -6832px 0;  }
@mixin icon-50px-315-A{ background-position: -6883px 0;  }
@mixin icon-50px-315-B{ background-position: -6934px 0;  }

