input[type="submit"]{border:0;top:-10px}
#content.home #search .tabs li{display:inline}
#content.home #search #tamingresults{margin-left:0}
#content.files #tabnav{line-height: 21px;height:25px}
#content.files #tabnav li{display:inline;padding:3px 5px}
#content.page #translate span{margin-top:0}
#content.page>ul{margin-top:10px}
