/*colores*/
$magenta:#E1007A;
$darkwhite:#FAFAFA;
$darkerwhite:#F7F7F7;
$lightestgray:#EDEDED;
$lightgray:#C2C2C2;
$gray:#ABA8A8;
$darkgray:#919191;
$darkergray:#828282;
$lightestblack:#666;
$lightblack:#333;
/*otras variables*/
$fuente:Arial,Verdana,Helvetica,sans-serif;
/* importaciones */
@import "icons.css";
/*funciones generales*/
/* lapiz que se pone en todos los inputs */
@mixin pencil($status,$size:24,$color:transparent)
{
    @if $status==1{@include icon(307,$status,$size,$color);margin-right:-28px;position:relative;top:5px;left:5px;float:left}
    @else{@include sprite(307,$status,$size)}
}
/* establece todos los estados posibles que puede tener un icono */
@mixin states($icon,$size:50,$span:0,$active:true,$span_selector:span,$status1:1,$status2:2,$status3:3,$status4:4,$status1_color:$darkergray,$status2_color:$magenta,$status3_color:#000,$status4_color:#000)
{
    //por defecto se le aplican los estados al propio span, sino es al primer span que tenga como hijo y sino todo al 
    @if $span==0{$parent:&;$selector:&}
    @else if $span==1{$parent:&;$selector:$span_selector}
    @else{$parent:&;$selector:$span_selector}
    
    //si se ha cambiado algun estado se cambia tambien el color que tiene asociado
    @for $i from 1 through 4{@if $i!=$status#{$i}{$status#{$i}_color:$status#{$status#{$i}}_color}}

    $parent{color:$status1_color;$selector{@include sprite($icon,$status1,$size)}}
    $parent:hover{color:$status2_color;$selector{@include sprite($icon,$status2,$size)}}
    @if $active
    {
        $parent.active{color:$status3_color;$selector{@include sprite($icon,$status3,$size)}}
        $parent:active{color:$status4_color;$selector{@include sprite($icon,$status4,$size)}}
        $parent:focus{opacity:.7}
    }
}
/* para poner un icono */
@mixin icon($icon,$status:0,$size:50,$color:transparent,$span:0,$active:true)
{
    @include background_cached(/static/img/icons$size.png, $color);
    @if $status>0{@include sprite($icon,$status,$size)}
    @else if $status<0{@include states($icon,$size,$span,$active)}
    
    display:inline-block;
    vertical-align:middle;
    width:$size + px;
    height:$size + px;
    margin-right:$size/8 + px;
}
/* coloca un icono */
@mixin sprite($icon,$status:0,$size:50)
{
    @if $status==1{$status='A'}
    @else if $status==2{$status='B'}
    @else if $status==3{$status='C'}
    @else if $status==4{$status='D'}
    @else if $status==11{$status='AA'}
    @else if $status==12{$status='BB'}
    @else if $status==13{$status='CC'}
    @else if $status==14{$status='DD'}
    @include icon-#{$size}px-#{$icon}-#{$status};
}
/* propiedades necesarias para hacer un text-overflow:ellipsis */
@mixin ellipsis($width:100,$inline:block,$white-space:nowrap)
{
    max-width:#{$width}px;display:$inline;white-space:$white-space;overflow:hidden;text-overflow:ellipsis;
}
*{margin:0;padding:0}
html,body{height:100%}
body{font:normal 62.5% $fuente;min-height:625px;min-width:960px;position:absolute;bottom:0;left:0;right:0;top:0}
ul{list-style:none}
fieldset{padding:0px;text-align:left;border-width:0px}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif}
form span.data{margin-bottom:10px}
form span.data input[type="text"], form div.data input[type="password"]{width:200px}
input[type="text"],input[type="password"],select,textarea
{
    font-size:1.5em;color:$darkergray;border:1px solid $lightgray;border-radius:5px;box-shadow:2px 2px 5px transparentize($lightgray,.7);padding:5px;margin-bottom:10px;min-height:25px;
    &:not(.no){padding-left:35px;&+span{@include pencil(1)}}
    &:hover{color:$magenta;background:$darkwhite;border-color:$magenta;box-shadow:2px 2px 5px transparentize($magenta,.8);&:not(.no)+span{@include pencil(2)}}
    &:focus{color:#000;background:$darkwhite;border-color:#000;box-shadow:2px 2px 5px transparentize(#000,.8);&:not(.no)+span{@include pencil(3)}}
}
input[type="radio"], input[type="checkbox"]{vertical-align:-2px;margin-right:3px}
input[type="radio"]:focus, input[type="checkbox"]:focus{border-style:none;border:0px;border:0px;background-color:blue;color:green}
input[type="submit"],a.awesome{font-size:1.5em;padding:6px 18px;background:$magenta;color:#fff;border-radius:5px;box-shadow:0px 1px 3px #999;border:none;cursor:pointer;position:relative}
a.awesome{font-size:1.5em;padding:10px 18px;display:inline-block;text-decoration:none}
input[type="submit"]:active{top:1px;box-shadow:0px 0.5px 1.5px #999}
input[type="text"]:not(#q)#captcha{width:5em;letter-spacing:0.3em;&+span{left:210px}} //necesario el :not() para que lo coja
label
{
    font-size:1.1em;display:block;
    &[for*="captcha"]+img{display:inline-block;width:200px;height:40px}
    span{color:#DB006E}
}
a{color:#cd0069;&[rel="external"]{padding-right:15px;background:url(/static/img/external.png) no-repeat right center}}
img{border:0;vertical-align:middle}
p{padding-bottom:1em}
em{font-weight:bold;font-style:normal}
hr{position:relative;border:none;border-top:1px solid #cd0069;height:1px;top:12px;clear:left;padding-bottom:12px}
cite{color:#df1279;font-style:normal}
h2{margin-bottom:10px}
h3{font-size:1.3em}
.errors{color:#cd0069;padding-left:0px}
/* cabecera */
#container>header
{
    $header:$lightestblack;
    font-size:1.3em;color:#dedede;
    h1{clear:both;float:left;margin:13px 10px 0 15px;width:161px;height:67px;overflow:hidden;position:relative;z-index:10}
    small{font-variant:small-caps;font-size:.7em;margin-left:.35em;color:$lightgray}
    >section
    {
        background:$header;width:100%;height:30px;
        >p
        {
            float:left;height:15px;padding:5px 1% 10px;
            a
            {
                color:$lightestgray;font-weight:bold;text-decoration:none;
                &:hover{color:#FFF}
                small{color:$lightgray}
            }
        }
    }
    #header_navigation
    {        
        padding-right:140px;float:right;margin:0;height:30px;text-align:right;font-weight:bold;position:relative;z-index:2;/*para evitar problemas con poner el logo movido hacia abajo y section subido*/
        a{display:inline-block;color:$lightestgray;text-decoration:none;&:hover{color:#FFF}}
        >a{margin:3px 0px 3px 13px}
        a:nth-child(1){span{@include icon(313,3,24)}&:hover span{@include sprite(313,2,24)}}
        a:nth-child(2){span{@include icon(310,3,24)}&:hover span{@include sprite(310,2,24)}}
        &.login a{span{@include icon(311,3,24)}&:hover span{@include sprite(311,2,24)}}
        #advice
        {
            display:none;width:200px;position:absolute;right:10px;z-index:9;color:#FFF;
            span{border:10px solid transparent;border-bottom-color:$darkgray;margin-top:-9px;margin-left:135px;float:left}
            a
            {
                color:#FFF;font-style:italic;font-weight:bold;display:inline;
                &:hover{background:#FFF;color:$darkergray}
                &.close_advice{float:right;padding:0 5px;margin:10px 1px 100px 5px;font-size:1.5em;font-family:Times New Roman, Times;&:hover{background:$lightgray;color:#000}}
            }    
            p{background:$darkgray;margin-top:10px;padding:10px;font-weight:normal;font-size:1em;line-height:1.5em;text-align:left}
        }
        #select_language_box
        {
            position:absolute;right:4px;top:-5px;z-index:10;width:130px;overflow:hidden;text-align:left;
            &:hover li{display:block;&:first-child span{@include icon(312,2,24)}}
            li
            {
                display:none;background:$header;                
                &:first-child
                {
                    display:block;min-height:35px;margin-left:0;background:$header;cursor:default;
                    a{height:18px;padding:8px;margin:0;background:none}
                    span{@include icon(312,3,24)}
                }
            }
            a{height:auto;padding:5px;width:100%;&:hover{background:#999}}
            span{text-decoration:none;display:none}
        }
    }    
    #search_file{display:inline-block;fieldset{width:100%}}
}
input#q{height:18px;width:435px}
#container
{
    min-height:100%;position:relative;overflow:hidden;
    >section{padding:10px 10px 60px;font-size:1.3em;clear:both}
}
/* pie */
footer
{
    background:#F6F6F6;border-top:1px #DDDDDD solid;position:absolute;bottom:0;left:0;right:0;text-align:left;font-size:1.2em;padding:10px;color:$darkergray;/*IE*/margin-top:480px
    a{color:#0E65A6}
    ul{display:inline-block}
    li{display:inline;margin-right:10px}
    p,div{float:right;padding:0}
    #logos{height:40px}
}
/*selectmenu*/
#type-button{font-size:2em}
.ui-widget{font-family:$fuente}
.ui-widget-content{background:none}
.ui-state-default .ui-icon{background:none} //quitar la flecha
//quitar la barra de scroll y colocar menu
.ui-selectmenu-menu ul{overflow:hidden;margin:2px 0 0 4px;padding:7px 21px 8px 0;background:$darkwhite;border:1px solid $lightgray;box-shadow:0px 0px 5px $gray}
.ui-selectmenu-menu li.type_img,.ui-selectmenu{width:200px;height:50px;left:-5px;background:none;border:none;border-radius:0;outline:none;text-transform:lowercase;color:#000;font-weight:normal}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status{padding:0 0 0 50px;width:100%}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a{margin:0;font-size:2.4em}
.ui-selectmenu-hasIcon .ui-selectmenu-status{padding:0 0 15px 50px;height:22px;top:7px}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon{top:10px;left:10px}
.ui-selectmenu-menu li.type_img.ui-selectmenu-item-selected,.ui-selectmenu-popup /*negro seleccionado*/
{
    a{color:#000}
    .ui-icon{@include icon(101,3,32)}
    &.img_audio .ui-icon{@include sprite(102,3,32)}
    &.img_video .ui-icon{@include sprite(103,3,32)}
    &.img_image .ui-icon{@include sprite(104,3,32)}
    &.img_document .ui-icon{@include sprite(105,3,32)}
    &.img_software .ui-icon{@include sprite(106,3,32)}
    .ui-selectmenu-icon.ui-icon{display:none}
}
.ui-selectmenu-menu li.type_img, /*gris en reposo, magenta en hover*/
{
    height:40px;
    a{color:$gray;&:hover{color:$magenta}}
    .ui-icon{@include icon(101,1,32)}&:hover .ui-icon{@include sprite(101,2,32)}
    &.img_audio{.ui-icon{@include sprite(102,1,32)}&:hover .ui-icon{@include sprite(102,2,32)}}
    &.img_video{.ui-icon{@include sprite(103,1,32)}&:hover .ui-icon{@include sprite(103,2,32)}}
    &.img_image{.ui-icon{@include sprite(104,1,32)}&:hover .ui-icon{@include sprite(104,2,32)}}
    &.img_document{.ui-icon{@include sprite(105,1,32)}&:hover .ui-icon{@include sprite(105,2,32)}}
    &.img_software{.ui-icon{@include sprite(106,1,32)}&:hover .ui-icon{@include sprite(106,2,32)}}
}
/* home */
section#home
{
    position:absolute;bottom:0;left:0;right:0;top:17%;text-align:center;
    #search
    {        
        text-align:center;position:relative;z-index:1;background:#FFF;margin-bottom:5px;
        >img{width:350px}
        >span
        {
            font-size:1.5em;font-weight:bold;text-shadow:0em 0.1em 0.1em #ccc;color:$lightestblack;height:30px;margin:-30px 0 45px 163px;display:block
            &.small{font-size:1.2em}
        }
        form
        {
            width:900px;margin:30px auto 0;white-space:nowrap;text-align:left;position:relative;
            input,select,option{border:none;font-weight:normal}
            fieldset{display:inline-block;vertical-align:middle}
            input:focus,select:focus{outline-style:none}
            #params
            {
                background:$darkwhite;border:1px solid $lightgray;border-radius:5px;width:750px;margin:0;
                &:hover,&:focus,&.hover{border-color:$darkergray;box-shadow:0px 0px 5px $gray;margin:0}
                >a{@include pencil(1,32,$darkwhite);left:7px;margin-top:5px}
                &:hover>a,&:focus>a,&.hover>a{@include pencil(3,32,$darkwhite);left:7px}
                >span
                {
                    width:234px;overflow:hidden;display:inline-block;vertical-align:top;background:$darkwhite url(/static/img/home/flecha_desplegar.png) no-repeat 200px 17px;border-radius:5px;
                    #type{background:transparent;width:255px;height:35px;border-left:1px solid $gray;font-size:1.8em;margin:7px 0 0 -2px;padding:5px 0 0 50px}
                }                
                #q{font-size:2em;color:$magenta;background:$darkwhite;width:460px;height:35px;padding:4px 10px 4px 40px;margin:5px 0;border-right:1px solid $gray;border-radius:0;box-shadow:0 0 0}
            }
            input[type=submit]{font-size:2em;margin-left:20px;padding:9px 23px;max-height:50px;text-transform:lowercase}
        }
        .message{margin:-35px auto -15px;width:30%}
    }
    #extra
    {
        background:url(/static/img/home/fondo.png) repeat-x;border-top:1px solid #DDD;padding-top:10px;position:absolute;z-index:0;bottom:55px;left:0;right:0;
        #live
        {
            padding:15px;width:900px;height:165px;overflow:hidden;margin:0 auto;text-align:left;
            .texto
            {
                width:250px;float:left;display:block;margin:15px 30px 0 30px;color:$lightestblack;
                p{padding-bottom:5px}
                h3{font-size:1.6em;font-weight:bold;margin-bottom:15px}
                h4{font-size:1.4em;font-weight:normal;margin-top:5px;a{color:$lightestblack;text-decoration:none}}
            }
            .social
            {
                width:562px;height:146px;overflow:hidden;margin-top:5px;
                .fb-like-box iframe{width:101%;position:relative;left:-1px;right:-1px;top:-10px}
                .twitter-follow-button{top:-154px;left:345px;position:relative;}
                #___plusone_0{top:-178px;left:435px;position:relative}
            }
            .facepile{overflow:scroll;background:transparent;border:0}
        }
    }
    &+footer
    {
        ul{padding-bottom:10px}
        p{float:none}
    }
}
/* page */
section#page
{
    padding-bottom:0;position:relative;top:-100px;
    nav
    {
        width:200px;float:left;margin-left:15px;margin-top: 70px;
        dt{height:1.1em;font-size:1.3em;font-weight:bold;margin-top:30px;margin-bottom:5px;color:$magenta;text-transform:lowercase}
        a{color:$darkergray;font-size:1.3em;text-decoration:none;text-transform:lowercase}
        .active{font-weight:bold}
    }
    >article
    {
        min-width:700px;margin:30px 10px 0 230px;border:1px solid $lightgray;border-bottom:65px solid $darkergray;border-radius:20px;box-shadow:10px 10px 15px $lightestgray;
        input,textarea,select{font-size:1.1em}
        input[type="text"]:not(#captcha),textarea{width:400px}
        >a
        {
            width:30px;height:50px;display:block;margin:130px 15px 0;background:url(/static/img/pages/flecha.png);
            &:first-of-type{float:left}
            &:last-of-type{float:right;background-position:30px 0}
        }
        >span{float:right;font-size:1.8em;font-weight:bold;margin-top:10px}
        h2{text-transform:lowercase;color:#000;font-size:2em}
        >div{font-size:1.2em;color:$darkergray;border-radius:20px;margin-bottom:-65px;padding:55px 70px 115px;background:no-repeat right bottom transparent}
        &#about>div{background-image:url(/static/img/pages/about.png);padding-bottom:225px;padding-right:250px}
        &#contact>div{background-image:url(/static/img/pages/contact.png);label:last-child{margin-right:150px}}
        &#jobs>div{background-image:url(/static/img/pages/jobs.png);padding-bottom:170px;label:last-child{margin-right:100px}}
        &#submitlink>div{background-image:url(/static/img/pages/submitlink.png);padding-bottom:75px;label:last-child{margin-right:130px}}
        &#translate
        {
            >div{background:url(/static/img/pages/translate.png) no-repeat left bottom;padding-bottom:280px}
            label{float:left;margin-right:10px}
            form{margin-left:90px}
            form[method="post"]
            {                
                label,div{width:40%}
                input,textarea{width:45%}
                div{font-style:italic;color:$magenta;margin-top:-25px}
                #translate_captcha{width:5em;&+span{left:210px}}
            }
            fieldset
            {
                margin-bottom:10px;
                &:first-child{margin:50px 0 50px 25%;label{float:none;width:auto}}
                &:last-child{margin-left:40%;padding-left:10px;}
            }
            select{margin:10px 0 0 25%;width:340px;background:#FFF}
            option{height:1.2em}
            #searchempty{font-size:2.2em;font-weight:bold;position:fixed;width:145px;left:250px;z-index:1;text-decoration:none;text-align:center;outline:none}
        }
        &#complaint>div{background-image:url(/static/img/pages/complaint.png);padding-right:0;label:last-child{margin-right:290px}}
        &#legal>div{background-image:url(/static/img/pages/legal.png);padding-right:325px;padding-bottom:110px}
        &#tos>div{background-image:url(/static/img/pages/tos.png);padding-bottom:190px}
        &#privacy>div{background-image:url(/static/img/pages/privacy.png);padding-bottom:250px}
    }
    #joboffer
    {
        margin-left:5px;margin-bottom:10px
        p{margin-top:7px}
        ul{list-style:circle inside}
        li{margin-left:20px}
    }
}
/* busqueda */
#container.files{}
/* cabecera busqueda */
header #search_file
{
    padding-top:8px;
    >ul
    {
        margin-bottom:5px;width:390px;text-align:center;overflow:hidden;
        li
        {
            display:inline;margin-right:5px;
            a{padding:0 2px;&:visited{color:#DF1279}&.actual{color:#000;text-decoration:none;font-weight:bold}}
        }
    }
}
/* cuerpo busqueda*/
section#files
{
    #search_info{text-align:right;margin:13px 0 -35px 0}
    #search_info a{color:#000;text-decoration:none;font-weight:bold}
    #tabnav
    {
        font-weight:bold;border-bottom:1px solid #CD0069;list-style-type:none;padding:20px 0 0 42px;
        li{display:inline-block;padding:3px 7px}
        a{padding-top:5px;padding-left:12px;padding-right:12px;padding-bottom:3px;border:1px solid #CD0069;background:#FFF;color:#CD0069;text-decoration:none;border-bottom:none}
        a.actual,#tabnav a.actual:hover{background:#FBEFFB;color:#000;padding-bottom:4px;}
        a:hover{background:#FFF;color:#000}
    }
    >h2{margin:10px}
    /* resultados */
    #results
    {
        margin:10px;text-align:left;overflow:hidden;
        >li{display:block;margin-top:5px;margin-bottom:25px;clear:left}
        li dt, li dd{display:inline}
        li h3 a{color:#000;font-weight:normal;span{font-weight:bold;padding:0 5px}}
        li>a{text-decoration:none;}
        .thumblink{float:left;display:block;border:1px solid #ccc;background:#000;overflow:hidden;width:120px;height:90px;vertical-align:middle;margin-right:4px; margin-bottom:5px}
        .thumblink span{display:block;height:200px;position:relative;top:-56px;line-height:200px;}
        .thumblink img{width:120px;height:auto;vertical-align:middle}
    }
    #didyoumean{font-size:1.4em;font-style:italic;font-weight:bold;padding-top:1em}
    #tags
    {
        font-size:1.2em;background:#FBEFFB;max-width:80%;padding:10px;margin-bottom:5px;
        li{display:inline}
        a{padding:3px}
    }
    #advsearch
    {
        text-align:right;float:right;padding:0 10px 10px;
        div{display:none;text-align:left;clear:left;float:right}
        ul{margin-top:10px;margin-left:10px;margin-bottom:15px}
        .actual{color:#000;text-decoration:none;font-weight:bold}
        >a{padding:4px;display:block}
        >a span{font:normal 0.92em "Lucida Console",Monaco,monospace;text-decoration:none;display:inline-block;margin-right:5px}
    }
}
/* taming */
.ui-autocomplete
{
    background:#FFF;border:1px solid $darkergray;border-top:none;border-radius:0 0 5px 5px;font-size:1.6em;text-align:left;
    li{padding:2px;cursor:pointer}
    a{display:block;color:$lightestblack;padding-left:30px;&:hover{border-color:transparent}}
    #ui-active-menuitem{background:$magenta;color:#FFF}
}
/* otras cosas */
#agree{display:inline;line-height:10px;height:20px}
.warning{background:url(/static/foofind3.png) no-repeat -162px -297px;padding-left:20px}
/* mensajes de error */
.message, .success, .error{padding:.8em;margin:1em;border:1px solid #cd0069}
.message{background:#FBEFFB;color:#cd0069}
.success{background:#FBEFFB;color:#cd0069}
.error{background:#FBEFFB;color:#cd0069}
/* paginacion */
.pagination{clear:both;margin-bottom:60px;margin-top:30px;text-align:center;font-size:1.1em;display:block;width:auto;border:0;list-style:none;margin-right:2px}
.pagination li{display:inline;text-align:center}
.pagination li *{border:solid 1px #ccc;margin-right:2px;padding:4px}
.pagination a{text-decoration:none}
.pagination span{background-color:#df1279;color:#fff}
/* download */
.comments .cpagination{border:0;float:right;margin-right:5px;margin-top:-3px}
.comments .cpagination span{padding:4px}
.comments .cpagination a{text-decoration:none;color:#000}
.comments .cpagination #current{font-weight:bold;color:#cd0096}
.wrap_download{margin:20px 20px 20px 30px;text-align:left;display:block}
.file_download
{
    vertical-align:top;padding-right:260px;
    h2{padding-top:20px;font-size:1.6em}
}
/* comentarios */
.file_download_vote, .file_comment_vote{float:right;text-align:center;font-size:0.7em}
.file_download_vote a{@include icon(302,1,32);text-decoration:none;margin:0 10px}
.file_download_vote span{display:block;margin:35px 0 0 -14px;width:55px}
a.vote_down{@include sprite(303,1,32)}
a.vote_up span{color:$darkergray}
a.vote_down span{color:$magenta}
.upactive a.vote_up, a.vote_up:hover{@include sprite(302,2,32)}
.downactive a.vote_down, a.vote_down:hover{@include sprite(303,3,32)}
.file_comment_vote a{@include icon(302,1,24);text-decoration:none;margin:0 10px}
.file_comment_vote span{display:block;margin:28px 0 0 -7px;width:40px}
.small a.vote_down{@include sprite(303,1,24)}
.small.upactive a.vote_up, .small a.vote_up:hover{@include sprite(302,2,24)}
.small.downactive a.vote_down, .small a.vote_down:hover{@include sprite(303,3,24)}
.top_download{text-align:left;clear:left;padding-bottom:20px;padding-top:30px;width:100%;min-height:120px}
.download_button{position:relative;text-align:center;display:block;top:-20px;vertical-align:middle;float:left}
.download_embed{background:black; text-align:center;height:288px;width:512px;padding:0px}
.download_file_metadata{width:65%;min-width:490px;display:inline-block;padding-left:40px;vertical-align:middle}
.download_file_torrent_files{margin-top:10px;width:430px}
.download_file_torrent_files ul{font-size:.92em;display:block;height:8em;max-height:15em;border:1px solid #cdcdcd;padding:2px;overflow:auto}
.download_file_metadata a{color:#000;font-weight:bold;text-decoration:none}
#download_more_info{display:inline-block;float:right;width:210px;border:1px solid #cd0069;background-color:#FBEFFB;color:#cd0069;padding:10px;margin-top:10px}
#download_more_info h3{font-weight:bold;padding:10px;vertical-align:top}
#download_more_info p{font-size:.92em;padding:8px}
#download_more_info li{margin:25px 0px}
.download_source a{color:#000;text-decoration:none;display:inline-block;width:175px;font-weight:bold;vertical-align:middle;margin:5px}
.download_source input{float:right;width:65%;padding:5px;border:1px solid #A9D0F5;color:#cd0069;display:inline-block;margin:4px}
.download_source span{display:inline-block;font-weight:normal;font-size:.8em}
/* icons */
.icon24{@include icon(106,0,24)}
.ed2k24{@include sprite(201,2,24)}
.ed2kd24{@include sprite(201,12,24)}
.webd24{@include sprite(204,12,24)}
.torrent24{@include sprite(203,2,24)}
.torrentd24{@include sprite(203,12,24)}
.tmagnetd24{@include sprite(206,12,24)}
.gnutella24{@include sprite(202,2,24)}
.gnutellad24{@include sprite(202,12,24)}
.ftpd24{@include sprite(204,2,24)}
.icon30{@include icon(106,0,32)}
.ed2k30{@include sprite(201,13,32)}
.web30{@include sprite(204,13,32)}
.torrent30{@include sprite(203,13,32)}
.tmagnet30{@include sprite(206,13,32)}
.gnutella30{@include sprite(202,13,32)}
.ftp{@include sprite(204,3,32)}
.icon50{@include icon(106);margin-bottom:10px}
.archive{@include sprite(106,2)}
.software{@include sprite(106,2)}
.audio{@include sprite(102,2)}
.document{@include sprite(105,2)}
.image{@include sprite(104,2)}
.file{@include sprite(106,2)}
.video{@include sprite(103,2)}
.icon
{
    background: url("/static/foofind3.png");display:inline-block;overflow:hidden;vertical-align:middle;
    &.facebook{width:14px;margin-right:4px;height:20px;background-position:-150px -120px}
    &.twitter{width:14px;margin-right:4px;height:20px;background-position:-150px -140px}
    &.email{margin-right:2px;width:16px;height:20px;background-position:-164px -140px}
}
.balloon{float:left;@include icon(308,3,32)}
.link{float:left;@include icon(314,3,32)}
/* comentarios */
.sharelinks{clear:right;text-align:right;right:120px;margin-bottom:20px}
.sharelinks ul,.sharelinks li{display:inline}
.download_section{margin-top:15px;clear:both;margin-bottom:5px}
.download_section h4{margin-left:36px;border-bottom:2px solid #cd0069;margin-bottom:15px}
.download_section.related a{color:#000;display:inline-block;margin:5px 0}
.comment{clear:both;padding:8px;border-bottom:1px solid #cd0069;overflow-x:hidden}
.comment_form fieldset{text-align:center}
.comment_form textarea{height:4em;border:1px solid #cd0069;font-weight:normal;margin:20px;padding:3px;width:95%;min-width:580px}
.comments_paginator{text-align:right}
.file_comment_number a{float:left;font-size:1.8em;margin-right:8px;font-weight:bold;color:#000;text-decoration:none}
.file_comment_nick{clear:left;margin-top:3px;font-size:0.9em}
.file_comment_nick a{color:#cd0069}
.download_file_metadata table {width:100%}
.download_file_metadata table tr :first-child{width:25%}
.download_file_metadata table tr td{vertical-align:top;width:75%}
.download_button .thumblink {margin:10px; display:block}
.download_file_sources {clear:left}
/* user */
section#user .oauth{width:89px;height:21px;display:inline-block;margin:5px}
section#user .oauth span{display:none}
section#user .oauth.tw{background:url(/static/foofind3.png) 0px -362px no-repeat}
section#user .oauth.fb{background:url(/static/foofind3.png) -89px -362px no-repeat}
section#user input[type="submit"],section#page input[type="submit"]{margin:10px 0;width:auto}
section#user fieldset{margin-bottom:10px}
