/*colores */
$magenta:#E1007A;
$darkwhite:#F7F7F0;
$darkerwhite:#EEEEE5;
$lightestgray:#EDEDED;
$lightgray:#C2C2C2;
$gray:#999993;
$darkgray:#72726D;
$darkergray:#828282;
$lightestblack:#666;
$lightblack:#333;
$green:#87D3CB;
/*otras variables*/
$fuente:Arial,Verdana,Helvetica,sans-serif;
/* importaciones */
@import "icons.css";

/*funciones generales*/
/* lapiz que se pone en todos los inputs */
@mixin pencil($status,$size:24,$color:transparent)
{
    @if $status==1{@include icon(307,$status,$size,$color);margin-right:-28px;position:relative;top:5px;left:5px;float:left}
    @else{@include sprite(307,$status,$size)}
}
/* establece todos los estados posibles que puede tener un icono */
@mixin states($icon,$size:50,$span:0,$active:1,$span_selector:'>span',$status1:1,$status2:2,$status3:3,$status4:4,$status5:5,$status1_color:$darkergray,$status2_color:$magenta,$status3_color:#000,$status4_color:#000)
{
    $selector: $span_selector;
    /*por defecto se le aplican los estados al propio span, sino es al primer span que tenga como hijo y sino todo al*/
    @if $span==0 {
        $selector: '&';
    }

    /* si se ha cambiado algun estado se cambia tambien el color que tiene asociado */
    @for $i from 1 through 4 {
        $temp: $status#{$i};
        @if $i!=$temp {
            $status#{$i}_color: $status#{$temp}_color;
        }
    }

    &{color:$status1_color;#{$selector}{@include sprite($icon,$status1,$size)}}
    &:hover{color:$status2_color;#{$selector}{@include sprite($icon,$status2,$size)}}
    &:focus{opacity:.7}
    @if $active==1 or $active==3 /* active normal o igual al hover */
    {
        &.active{color:$status3_color;#{$selector}{@include sprite($icon,$status3,$size)}}
        &:active{color:$status4_color;#{$selector}{@include sprite($icon,$status4,$size)}}
        @if $active==3{&.active:hover{color:$status2_color;@include sprite($icon,$status5,$size)}} /* hover del active */
    }
    @else if $active==2{&.active,&:active{color:$status2_color;#{$selector}{@include sprite($icon,$status2,$size)}}}
}
/* para poner un icono */
@mixin icon($icon:101,$status:0,$size:50,$color:transparent,$span:0,$span_selector:'>span',$active:1,$status1:1,$status2:2,$status3:3,$status4:4,$img:false)
{
    @if $img{@include background_cached("img/#{$img}.png", $color);}
    @else
    {
        @include background_cached("img/icons#{$size}.png", $color);
        @if $status>0{@include sprite($icon,$status,$size)}
        @else if $status<0{@include states($icon,$size,$span,$active,$span_selector,$status1,$status2,$status3,$status4)}
    }
    vertical-align:middle;
    width:$size + px;
    height:$size + px;
    margin-right:$size/8 + px;
    display:inline-block;
    zoom:1;
    *display:inline;
}
/* coloca un icono */
@mixin sprite($icon,$status:0,$size:50)
{
    @if $status==1{$status:'A'}
    @else if $status==2{$status:'B'}
    @else if $status==3{$status:'C'}
    @else if $status==4{$status:'D'}
    @else if $status==5{$status:'E'}
    @else if $status==11{$status:'AA'}
    @else if $status==12{$status:'BB'}
    @else if $status==13{$status:'CC'}
    @else if $status==14{$status:'DD'}
    @include icon-#{$size}px-#{$icon}-#{$status};
}
/* propiedades necesarias para hacer un text-overflow:ellipsis */
@mixin ellipsis($width:100,$inline:block,$white-space:nowrap,$width-type:max-width)
{
    #{$width-type}:#{$width}px;display:$inline;white-space:$white-space;overflow:hidden;text-overflow:ellipsis;
    @if $inline==inline-block{
        zoom:1;
        *display:inline;
    }
}
*{margin:0;padding:0}
html,body{height:100%}
body{background-color:white;font:normal 62.5% $fuente;min-height:625px;min-width:940px;position:absolute;bottom:0;left:0;right:0;top:0;&.loading *{cursor:wait}}
ul{list-style:none}
fieldset{padding:0px;text-align:left;border-width:0px}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif}
form span.data{margin-bottom:10px}
form span.data input[type="text"], form div.data input[type="password"]{width:200px}
input[type="text"]:not(#recaptcha_response_field),input[type="password"],select,textarea
{
    &+span{margin:3px 3px;}
    font-size:1.5em;color:$darkergray;border:1px solid $lightgray;border-radius:5px;box-shadow:2px 2px 5px transparentize($lightgray,.7);padding:5px;min-height:25px;
    &:not(.no){padding-left:35px;&+span{@include pencil(1)}}
    &:hover{color:$magenta;background:$darkwhite;border-color:$magenta;box-shadow:2px 2px 5px transparentize($magenta,.8);&:not(.no)+span{@include pencil(2)}}
    &:focus{color:#000;background:$darkwhite;border-color:#000;box-shadow:2px 2px 5px transparentize(#000,.8);&:not(.no)+span{@include pencil(3)}}
}
input[type="radio"], input[type="checkbox"]{vertical-align:-2px;margin-right:3px}
input[type="radio"]:focus, input[type="checkbox"]:focus{border-style:none;border:0px;border:0px;background-color:blue;color:green}
input[type="submit"],.button{font-size:1.5em;padding:6px 18px;background:$magenta;color:#fff;border-radius:7px;box-shadow:0px 0px 3px #999;text-shadow:0 0 5px rgba(0,0,0,0.25);border:none;cursor:pointer;position:relative;margin-top:10px}
.button{font-size:1.5em;padding:10px 18px;text-decoration:none;display:inline-block;zoom:1;*display:inline}
button{border:none;cursor:pointer}
input[type="submit"]:active{top:1px;box-shadow:0px 0.5px 1.5px #999}
label
{
    margin-top:10px;font-size:1.1em;display:block;
    span{color:#DB006E}
}
a{color:#cd0069;&[rel="external"]{padding-right:15px;background: image-url("img/external.png") no-repeat right center}}
img{border:0;vertical-align:middle}
p{padding-bottom:1em}
em{font-weight:bold;font-style:normal}
hr{position:relative;border:none;border-top:1px solid #cd0069;height:1px;top:12px;clear:left;padding-bottom:12px}
cite{color:#df1279;font-style:normal}
h2{margin-bottom:10px}
h3{font-size:1.3em}
.errors{color:#cd0069;margin-bottom:10px}
.close{float:right;@include icon(315,-1,16,$active:0);width:12px}
.source32{@include icon($size:32,$img:sources)}
.source16{@include icon($size:16,$img:sources);margin-right:4px;margin-top:4px}
.advice
{
    display:none;width:350px;position:absolute;right:10px;z-index:9;color:#FFF;
    span{border:10px solid transparent;border-bottom-color:$darkgray;margin-top:-9px;float:left}
    a{color:#FFF;font-style:italic;font-weight:bold;display:inline;text-decoration:none;&:hover{background:#FFF;color:$darkergray}}
    button{margin:20px 10px 0 5px}
    p{background:$darkgray;margin-top:10px;padding:10px;font-weight:normal;font-size:1em;line-height:1.5em;text-align:left}
}
#login_required{width:400px;span{margin-left:285px}}

/* cabecera */
#container
{
    min-height:100%;position:relative;overflow:hidden;
    >header
    {
        $header:$lightestblack;
        font-size:1.3em;color:#dedede;
        .logo{float:left;margin:15px 10px 0 24px;width:161px;height:67px;position:relative;z-index:10;&#search_logo{margin:14px 4px 0 10px}}
        >section
        {
            background:$header;width:100%;height:30px;
            >p
            {
                float:left;height:15px;padding:5px 1% 10px;
                a
                {
                    color:$lightestgray;font-weight:bold;text-decoration:none;
                    &:hover{color:#FFF}
                    small{color:$lightgray}
                }
            }
            #cookies
            {
                z-index:9999;width:500px;top:30px;
                span{display:none}
            }
        }
        #social
        {
            float:left;padding-top:4px;padding-left:4px;
            .fb-like{width:115px;height:24px;margin-right:10px;vertical-align:top;display:inline-block;zoom:1;*display:inline}
            .twitter-follow-button{margin-right:10px}
            a.twitter-follow-button{display:none}
            div{min-width:90px}
        }
        #header_navigation
        {
            padding-right:140px;float:right;margin:0;height:30px;text-align:right;font-weight:bold;position:relative;z-index:2;/*para evitar problemas con poner el logo movido hacia abajo y section subido*/
            a{color:$lightestgray;text-decoration:none;display:inline-block;zoom:1;*display:inline;
                &:hover{color:#FFF}}
            >a{margin:3px 0px 3px 13px}
            a:nth-child(1){span{@include icon(313,3,24)}&:hover span{@include sprite(313,2,24)}}
            a:nth-child(2){span{@include icon(310,3,24)}&:hover span{@include sprite(310,2,24)}}
            &.login a{span{@include icon(311,3,24)}&:hover span{@include sprite(311,2,24)}}
            #beta_lang
            {
                a:hover{color:$darkergray}
                span{margin-left:275px}
            }
            #select_language_box
            {
                position:absolute;right:4px;top:-5px;z-index:10;width:130px;overflow:hidden;text-align:left;
                &:hover li{display:block;&:first-child span{@include icon(312,2,24)}}
                li
                {
                    display:none;background:$header;
                    &:first-child
                    {
                        display:block;min-height:35px;margin-left:0;background:$header;cursor:default;
                        a{height:18px;padding:8px;margin:0;background:none}
                        span{@include icon(312,3,24)}
                    }
                }
                a
                {
                    width:100%;padding:5px 10px 5px 5px;
                    &:hover{background:#999}
                    &.beta:after{content:"BETA";font-variant:small-caps;font-size:.7em;margin-left:.35em;color:$lightgray}
                }
                span{text-decoration:none;display:none}
            }
        }
    }
    >section{padding:10px 10px 60px;font-size:1.3em;clear:both}
    #search_file
    {
        padding-top:8px;display:inline-block;zoom:1;*display:inline;
        input#q{background:#FFF;height:30px;font-size:1.6em;margin:5px;width:390px}
        .small{position:relative;input[type="text"]+span{top:16px;left:8px}}
        #share
        {
            position:relative;display:inline-block;zoom:1;*display:inline;
            &:hover ul{display:block;float:left}
            ul{display:none;width:160px;min-height:20px;padding:5px 14px 10px;overflow:hidden;position:absolute;z-index:20;background:$darkerwhite;box-shadow:-3px -3px 3px $lightgray inset;border-radius:10px}
            li{display:inline;opacity:.7;&:hover{opacity:1}}
            span{@include icon(306,-1,$status3:2);width:44px;margin-right:3px}
        }
        #search_submit{/*margin-left:-65px; para favoritos*/width:130px;height:42px;text-transform:lowercase;box-shadow:none}
        #search_info
        {
            font-size:1em;font-weight:normal;color:$darkgray;
            h1{font-size:1em;color:$darkergray;display:inline-block;zoom:1;*display:inline}
        }
    }
    #error
    {
        background:$darkerwhite;margin-top:30px;padding:40px 0 30px;overflow:hidden;
        >img,>div{vertical-align:middle;min-height:224px;display:inline-block;zoom:1;*display:inline}
        >img{margin:-10px 50px 0 35px}
        >div{width:55%}
        h1{color:$magenta;font-size:1.8em;font-weight:normal;margin-top:25px;letter-spacing:1px}
        p{color:$darkgray;font-size:1em;font-weight:bold;padding:10px 0 5px 0; width:60%}
        #search_file{display:block;
            span{left:5px}
            input#q{width:60%;margin-left:0px}
        }
    }
}
/* pie */
#container > footer
{
    background:#F6F6F6;border-top:1px #DDDDDD solid;position:absolute;bottom:0;left:0;right:0;text-align:left;font-size:1.2em;padding:10px;color:$darkergray;/*IE*/margin-top:480px
    a{color:#0E65A6}
    ul{display:inline-block;zoom:1;*display:inline}
    li{display:inline;margin-right:10px}
    p,div{float:right;padding:0}
    #logos{height:40px}
}
/*selectmenu*/
#type-button{font-size:2em}
.ui-widget{font-family:$fuente}
.ui-widget-content{background:none}
.ui-state-default .ui-icon{background:none} /* quitar la flecha */
/* quitar la barra de scroll y colocar menu */
.ui-selectmenu-menu ul{overflow:hidden;margin:2px 0px;padding:9px 17px 8px 4px;background:$darkwhite;border:1px solid $lightgray;box-shadow:0px 0px 5px $gray}
.ui-selectmenu-menu li.type_img,.ui-selectmenu{width:200px;height:50px;left:-5px;background:none;border:none;border-radius:0;outline:none;text-transform:lowercase;color:#000;font-weight:normal}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status{padding:0 0 0 50px;width:100%}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a{margin:0;font-size:2.4em}
.ui-selectmenu-hasIcon .ui-selectmenu-status{padding:0 0 15px 50px;height:22px;top:7px}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon{top:10px;left:10px}
.ui-selectmenu-menu li.type_img.ui-selectmenu-item-selected,.ui-selectmenu-popup /*negro seleccionado*/
{
    a{color:#000}
    .ui-icon{@include icon(101,3,32)}
    &.img_audio .ui-icon{@include sprite(102,3,32)}
    &.img_video .ui-icon{@include sprite(103,3,32)}
    &.img_image .ui-icon{@include sprite(104,3,32)}
    &.img_document .ui-icon{@include sprite(105,3,32)}
    &.img_software .ui-icon{@include sprite(106,3,32)}
    .ui-selectmenu-icon.ui-icon{display:none}
}
.ui-selectmenu-menu li.type_img, /*gris en reposo, magenta en hover*/
{
    height:40px;
    a{color:$gray;&:hover{color:$magenta}}
    .ui-icon{@include icon(101,1,32)}&:hover .ui-icon{@include sprite(101,2,32)}
    &.img_audio{.ui-icon{@include sprite(102,1,32)}&:hover .ui-icon{@include sprite(102,2,32)}}
    &.img_video{.ui-icon{@include sprite(103,1,32)}&:hover .ui-icon{@include sprite(103,2,32)}}
    &.img_image{.ui-icon{@include sprite(104,1,32)}&:hover .ui-icon{@include sprite(104,2,32)}}
    &.img_document{.ui-icon{@include sprite(105,1,32)}&:hover .ui-icon{@include sprite(105,2,32)}}
    &.img_software{.ui-icon{@include sprite(106,1,32)}&:hover .ui-icon{@include sprite(106,2,32)}}
}

#toolbar
{
    min-width:100px;vertical-align:top;text-align:center;
    position:absolute;right:0px;left:800px;top:50px;
    a:first-child {color:$darkgray;text-decoration:none;white-space:normal}
    a {font-size:1.3em;font-weight:bold;white-space:nowrap}
}

@mixin check-icon(){
    background:url('data:image/gif;base64,R0lGODlhEAAQAIABAOEAev///yH5BAEKAAEALAAAAAAQABAAAAIbjI+py+3fAIBBymdnuiYr7y2Z5YwQSWnUylIFADs=') left 0px no-repeat;
    padding-left:20px;
}

/* home */
section#home
{
    position:absolute;bottom:0;left:0;right:0;top:17%;text-align:center;
    #search
    {
        text-align:center;position:relative;z-index:1;background:#FFF;margin-bottom:5px;
        h1 {
            img{width:350px}
        }
        >span
        {
            font-size:1.5em;font-weight:bold;text-shadow:0em 0.1em 0.1em #ccc;color:$lightestblack;height:30px;margin:-30px 0 45px 163px;display:block
            &.small{font-size:1.2em}
            &.smaller{font-size:.9em}
        }
        form
        {
            width:900px;margin:30px auto 0;white-space:nowrap;text-align:left;position:relative;
            input,select,option{border:none;font-weight:normal}
            fieldset{vertical-align:middle;display:inline-block;zoom:1;*display:inline}
            input:focus,select:focus{outline-style:none}
            #params
            {
                background:$darkwhite;border:1px solid $lightgray;border-radius:5px;width:750px;margin:0;
                &:hover,&:focus,&.hover{border-color:$darkergray;box-shadow:0px 0px 5px $gray;margin:0}
                >a{@include pencil(1,32,$darkwhite);left:7px;margin-top:7px}
                &:hover>a,&:focus>a,&.hover>a{@include pencil(3,32,$darkwhite);left:7px}
                >span
                {
                    width:234px;overflow:hidden;vertical-align:top;background:$darkwhite image-url("img/home/flecha_desplegar.png") no-repeat 200px 17px;border-radius:5px;display:inline-block;zoom:1;*display:inline;
                    #type{background:transparent;width:255px;height:35px;border-left:1px solid $gray;font-size:1.8em;margin:7px 0 0 -2px;padding:5px 0 0 50px}
                }
                #q{font-size:2em;color:$magenta;background:$darkwhite;width:458px;height:35px;padding:4px 10px 4px 40px;margin:5px 0;border-right:1px solid $gray;border-radius:0;box-shadow:0 0 0}
            }
            input[type=submit]{font-size:2em;margin: 0px 0px 0px 20px;line-height:32px;padding:13px 23px;text-transform:lowercase}
        }
        .message{margin:-35px auto -15px;width:30%}
    }
    #toolbar
    {
        max-width:auto;margin:10px 40px;position:static;
    }
    #extra
    {
        background:image-url("img/home/fondo.png") repeat-x;border-top:1px solid #DDD;position:absolute;z-index:0;bottom:55px;left:0;right:0;
        #live
        {
            color:$lightblack; padding:0px 15px;width:900px;overflow:hidden;margin:0 auto;text-align:left;height:180px;

            p {padding-bottom:3px;}

            h2 {
                margin: 0.4em 0 0.2em;
                font-size: 1.6em;
            }

            .social
            {
                height:90px;width:300px;float:right;display:block;color:$lightestblack;
                .fb_iframe_widget {display:block;margin:5px 0px;}
            }
            .suggestions
            {
                height:90px;width:300px;float:right;display:block;color:$lightestblack;
                a {color:$lightestblack;}
            }
        }
    }
    &+footer
    {
        ul{padding-bottom:10px}
        p{float:none}
    }
}

#live, #search_banner {
    .banner {
        text-align:center;float:left;width:200px;background:image-url("img/downloader/eyes.png") center -30px no-repeat;
        #download_button {
            background:$magenta;border-radius:5px;color:white;padding:0.4em 0.8em;font-weight:bold;font-size:1.3em;text-decoration:none;margin:5.7em 0em 0em;display:inline-block;zoom:1;*display:inline;
        }
        p {margin-top:0.5em; font-size:0.9em}
    }
    .banner2 {
        margin-left:2em;width:150px;float:left;

        h2 {
            font-style:normal;font-size:2.2em !important ;color:$magenta;
            span {font-size:0.5em;display:block}
        }
        >p {font-style:italic;margin:0 0 0.5em}
        ul {margin-top:2em}
        li {
            margin-top:0.3em;
            @include check-icon();
        }
    }
}

#search_banner {
    position: fixed; top: 115px; left: 805px; font-size:1.1em; z-index: 0; background: $darkerwhite; padding-bottom:1em; padding-right:3em;
    .banner { width:170px; background-position:-30px -30px;}
    .banner2 { width:180px; padding-top:0.5em}
    p {padding-bottom:0}
}

/* page */
section#page
{
    padding-bottom:0;position:relative;top:-100px;
    nav
    {
        width:200px;float:left;margin-left:15px;margin-top: 70px;
        dt{font-size:1.3em;font-weight:bold;margin-top:30px;margin-bottom:5px;color:$magenta;text-transform:lowercase}
        a{color:$darkergray;font-size:1.3em;text-decoration:none;text-transform:lowercase}
        .active{font-weight:bold}
    }
    >article
    {
        min-width:700px;margin:30px 10px 0 230px;border:1px solid $lightgray;border-bottom:65px solid $darkergray;border-radius:20px;box-shadow:10px 10px 15px $lightestgray;
        input,textarea,select{font-size:1.1em}
        input[type="text"]:not(#captcha),textarea{width:400px}
        >a
        {
            width:30px;height:50px;display:block;margin:130px 15px 0;background:image-url("img/pages/flecha.png");
            &:first-of-type{float:left}
            &:last-of-type{float:right;background-position:30px 0}
        }
        >span{float:right;font-size:1.8em;font-weight:bold;margin-top:10px}
        h1{text-transform:lowercase;color:#000;font-size:2em}
        >div{font-size:1.2em;color:$darkergray;border-radius:20px;margin-bottom:-65px;padding:55px 70px 115px;background:no-repeat right bottom transparent}
        &#about>div{background-image:image-url("img/pages/about.png");padding-bottom:225px;padding-right:250px}
        &#contact>div{background-image:image-url("img/pages/contact.png");label:last-child{margin-right:150px}}
        &#jobs
        {
            >div{background-image:image-url("img/pages/jobs.png");padding-bottom:170px;label:last-child{margin-right:100px}}
            #joboffer
            {
                margin-left:5px;margin-bottom:10px
                p{margin-top:7px}
                ul{list-style:circle inside}
                li{margin-left:20px}
            }
        }
        &#submitlink>div{background-image:image-url("img/pages/submitlink.png");padding-bottom:75px;label:last-child{margin-right:130px}}
        &#translate
        {
            >div{background:image-url("img/pages/translate.png") no-repeat left bottom;padding-bottom:280px}
            label{float:left;margin-right:10px}
            form{margin-left:90px}
            form[method="post"]
            {
                label,div{width:40%}
                input,textarea{width:45%}
                div:not(#recaptcha_image){font-style:italic;color:$magenta;margin-top:-25px}
                #translate_captcha{width:5em;&+span{left:210px}}
            }
            fieldset
            {
                margin-bottom:10px;
                &:first-child{margin:50px 0 50px 25%;label{float:none;width:auto}}
                &:last-child{margin-left:40%;padding-left:10px;}
            }
            select{margin:10px 0 0 25%;width:340px;background:#FFF}
            option{height:1.2em}
            #searchempty{font-size:2.2em;font-weight:bold;position:fixed;width:145px;left:250px;z-index:1;text-decoration:none;text-align:center;outline:none}
        }
        &#complaint>div{background-image:image-url("img/pages/complaint.png");padding-right:0;label:last-child{margin-right:290px}}
        &#legal>div{background-image:image-url("img/pages/legal.png");padding-right:325px;padding-bottom:110px}
        &#tos>div{background-image:image-url("img/pages/tos.png");padding-bottom:190px}
        &#privacy>div{background-image:image-url("img/pages/privacy.png");padding-bottom:250px}
    }
}
/* busqueda */
section#files
{
    padding:0px;
    .message{width:750px;text-align:center}
    aside
    {
        position:absolute;left:0;height:100%;min-height:722px;width:160px;margin-right:10px;box-shadow:-3px 5px 5px $lightestgray inset;
        a{outline:none}
        dt
        {
            background:$darkerwhite;color:$darkgray;font-size:1.4em;margin-bottom:20px;padding:3px 10px;
            &:nth-child(1){margin-top:0}
            a{font-size:.8em;font-weight:bold;color:$green;margin-top:3px;text-decoration:none;float:right}
        }
        dd
        {
            margin-bottom:20px;
            >ul>li
            {
                @include icon($size:50);font-size:.5em;font-size-adjust:0.45;text-align:center;text-transform:uppercase;width:42px;height:42px;margin:0 0 0 8px;
                >a{position:relative;top:-7px;float:left;width:42px;height:50px;padding-right:6px;text-decoration:none;text-align:center;color:$darkergray;display:inline-block;zoom:1;*display:inline;}
            }
        }
        #type li
        {
            margin-bottom:20px;
            @for $i from 1 through 5{&:nth-child($i){@include states("00"+($i+1),50,$active:3,$status4_color:#FFF)}}
            &:nth-child(6){background:image-url("img/search/no_image.png");border-radius:6px;margin-left:10px}
        }
        #src
        {
            width:150px;height:166px;overflow:hidden;padding-top:10px;margin-top:-10px;position:relative;
            &.filter
            {
                margin-bottom:6px;height:180px;
                li>ul.show
                {
                    &,&.inactive,&.inactive_0,&.inactive_1,&.inactive_2,&.inactive_3,&.deactive{height:170px;&:nth-child(3){height:55px}}
                    li:last-child{&:before{content:none}float:right;width:85px;padding-left:7px}
                }
            }
            >ul
            {
                height:150px;
                >li
                {
                    display:block;width:142px;text-align:left;padding-bottom:20px;
                    &:hover
                    {
                        ul
                        {
                            width:89px;box-shadow:-2px -2px 2px $lightgray inset;margin-bottom:-75px;padding:5px 2px;background:$lightestgray;border-radius:5px;position:relative;z-index:1;
                            &.inactive_2{&+.more+strong{margin-top:-30px}}
                            &,&.inactive,&.inactive_0,&.inactive_1,&.inactive_3,&.deactive{height:156px;padding-top:5px;&+.more{display:none}}
                            a{max-width:67px}
                        }
                        li
                        {
                            display:block;height:17px;padding:0 2px;background:$lightestgray;
                            &:before{content:"";@include icon("325",1,16)}
                            &:hover:before{@include sprite("325",3,16)}
                            &.active:before{@include sprite("325",2,16)}
                            &.active:hover:before{@include sprite("325",4,16)}
                            &:active:before{@include sprite("325",3,16)}
                        }
                        strong{display:none}
                    }
                    @for $i from 1 through 3{&:nth-child($i){@include states("00"+($i+6),50,$active:3)}}
                    &:nth-child(2){>a{top:-15px}&:hover ul{margin-top:-62px}}
                    &:nth-child(3):hover ul{height:50px;margin-top:-18px}
                    ul,strong,>span{float:right;width:85px;padding-left:8px}
                    >span{width:86px;height:10px;font-size:1.3em;font-size-adjust:0.5;color:$darkergray;background:#FFF}
                    strong{background:#FFF;height:32px;font-size:1.8em;font-weight:bold;span{color:$green}}
                    ul
                    {
                        background:#FFF;width:86px;height:20px;overflow:hidden;
                        &.inactive
                        {
                            height:30px;
                            &+.more{margin-top:0;height:12px}
                            >li{display:block}
                        }
                        &.inactive_0{&+.more{display:none}&+.more+strong{padding-top:5px;margin-top:-10px}}
                        &.inactive_1{height:10px;padding-top:10px;&+.more{display:none}}
                        &.inactive_2{padding-top:5px;&+.more{display:none}}
                        &.inactive_3{height:45px;&+.more{display:none}&+.more+strong{margin-top:-15px}}
                        &.deactive{height:42px;&+.more,&+.more+strong{display:none}}
                        li
                        {
                            display:none;height:10px;font-size:1.3em;font-size-adjust:0.5;
                            &:last-child{display:none}
                            &.active{display:block}
                            a{vertical-align:middle;text-decoration:none;color:$darkergray;@include ellipsis(90,inline-block);
                                &:hover{color:$magenta}}
                        }
                    }
                }
            }
            button{@extend .button;background:$magenta;width:84px;margin-top:2px;margin-right:4px;padding:0;box-shadow:none;font-size:1em}
        }
        #size
        {
            width:120px;margin-left:18px;margin-bottom:35px
            div
            {
                background:$lightestgray;
                div{background:$green}
                a
                {
                    @include icon(326,-1,16,$active:0);
                    &.ui-state-hover,&.ui-state-focus{border-color:transparent}
                }
            }
            span
            {
                margin:5px -10px 0 -7px;color:$lightblack;font-weight:bold;font-size:.9em;
                &:first-of-type{float:left}
                &:last-of-type{float:right}
            }

        }
    }
    &+footer{position:fixed;z-index:100}
    /*#social
    {
        float:right;margin-left:800px;margin-top:-78px;
        .fb-like{display:inline-block;width:100px;height:24px;margin-right:10px;vertical-align:top}
        .twitter-follow-button{margin-right:10px}
        a.twitter-follow-button{display:none}
    }*/
    #fondo{opacity:0;display:none;background:#333;height:100%;width:100%;position:absolute;z-index:5;left:-10px;padding-right:10px}
    #subcontent{max-width:1490px;min-width:940px;position:relative;>section{padding-left:168px}}
    #flecha{cursor:pointer;position:absolute;right:-150px;z-index:7;display:none;border:15px solid transparent;border-left-color:$magenta;margin-top:30px}
    #download
    {
        overflow:hidden;display:none;background:$darkwhite;width:640px;height:100%;position:fixed;z-index:6;right:-800px;border-radius:10px;box-shadow:3px 3px 3px $lightgray inset;text-align:center;padding-top:20px;
        &.top{border-top-width:0;border-top-left-radius:0;border-top-right-radius:0;box-shadow:3px 0px 3px $lightgray inset;#comments{padding-bottom:30px}}
        &.bottom{border-bottom-width:0;border-bottom-left-radius:0;border-bottom-right-radius:0;padding-bottom:3px;#comments{padding-bottom:30px}}
        &.active{display:block;right:0}
        >button{margin-top:-5px;margin-right:15px;position:relative;z-index:8}
        >div{margin-top:30px}
        header
        {
            background:$darkerwhite;padding-top:10px;border-radius:10px;box-shadow:3px 3px 3px $lightgray inset;
            ul{height:30px;text-align:left;padding-left:15px}
            li{float:left}
            span
            {
                @include icon(101,0,24);
                &.audio{@include sprite(340,1,24)}
                &.video{@include sprite(341,1,24)}
                &.image{@include sprite(342,1,24)}
                &.document{@include sprite(343,1,24)}
                &.software{@include sprite(344,1,24)}
                &.unknown{background:none}
                &.streaming{@include sprite(352,1,24)}
                &.direct_download{@include sprite(350,1,24)}
                &.P2P{@include sprite(351,1,24)}
            }
            h2{clear:both;padding:20px 40px 0 35px;margin-left:5px;text-align:left;min-height:30px;background:$darkwhite;color:$magenta;font-size:1.4em;font-weight:normal;line-height:1.2em;@include ellipsis(560,$white-space:pre-wrap)}
        }
        article{height:100%;position:relative;top:-20px}
        section{overflow:hidden;margin:0 40px}
        dl
        {
            &~a{display:none;width:100%;padding:5px;background:$darkwhite;border-top:1px solid $lightestgray;box-shadow:0 35px 40px #000;outline:none}
            &~a,dt a{color:$green;text-decoration:none;font-weight:bold;&:hover{text-decoration:underline}}
            padding-top:20px;margin-bottom:5px;text-align:left;color:#71726C;overflow:hidden;
            dt{float:left;width:24%;font-weight:bold;padding-right:1%;text-align:right;line-height:1em}
            dd{padding-left:27%;margin-bottom:10px;line-height:1em}
        }
        #download_button
        {
            /* corrige fallo en webkit al scrollear con algunos embeds abiertos */
            background:image-url("img/pixel.gif") #E2E2DA;background-attachment:fixed;
            top:0;float:none;text-align:left;min-height:150px;
            >span
            {
                &.source
                {
                    @include icon($size:32);margin:20px 10px 15px 20px;
                    &.web{@include sprite(204,2,32)}
                    &.ed2k{@include sprite(201,2,32)}
                    &.gnutella{@include sprite(202,2,32)}
                    &.torrent{@include sprite(203,2,32)}
                }
                &.source32{margin:20px 10px 15px 20px}
            }
            .downloader {
                font-size:0.9em;
                line-height:1em;
                display:block;
                background: url(/static/img/download_green.png) left center no-repeat;
                color: $darkgray;
                margin: 0 0 0.5em 2.4em;
                padding: 0.5em 0 0.5em 2.4em;
                width:270px;
                text-decoration:none;
                font-weight:bold;
                & + h4 {
                    margin-top:0;
                }
            }

            iframe,embed{display:block;margin:0 auto;border:0}
            >a{margin:20px 0 15px;width:230px;font-size:1.35em;vertical-align:middle;span{@include icon(322,1,16);float:right}}
            em{font-variant:small-caps;display:inline-block;zoom:1;*display:inline;}
            div{float:right;width:190px;max-height:315px;min-height:175px;padding:20px;overflow:hidden;text-align:center;span{background:image-url("img/search/no_image.png");display:block;height:175px;border:1px solid $lightgray}}
            img{max-width:190px}
            h4{margin-top:2em;width:290px;margin-left:20px;padding:5px 10px;background:$darkerwhite;color:$gray}
        }
        #download_share
        {
            display:none;padding:20px;color:$darkergray;width:400px;
            span{float:left}
            ul{padding-left:220px;width:288px}
            li{display:inline;opacity:.7;&:hover{opacity:1}}
            a{margin-bottom:4px}
        }
        #sources_links
        {
            margin-bottom:10px;width:275px;margin-left:30px;
            li
            {
                text-align:left;margin-top:8px;line-height:16px;
                a{color:$darkergray;text-decoration:none;font-size:.85em;vertical-align:middle;line-height:16px;display:inline-block;zoom:1;*display:inline;
                    &:hover,&:hover>em{text-decoration:underline}}
                >span
                {
                    &:before{content:"";border:4px solid transparent;border-left-color:$gray;display:inline-block;zoom:1;*display:inline;}
                    &.source
                    {
                        @include icon($size:16);margin-right:12px;
                        &:before{margin-left:20px}
                        &.web{@include sprite(204,1,16)}
                        &.ed2k{@include sprite(201,1,16)}
                        &.gnutella{@include sprite(202,1,16)}
                        &.torrent{@include sprite(203,1,16)}
                    }
                    &.source16{margin-top:0;margin-right:12px;&:before{margin-left:20px}}
                }
            }
        }
        #links
        {
            background:$lightestgray;padding:0px 0px 0px 4px;text-align:left;
            #user_actions{float:right}
            #user_actions li,#actions li{display:inline}
            #sources_links{display:none;padding:20px;a{background:none}}
            #share_download_links
            {
                background:$green;color:#FFF;border-radius:5px;font-size:1em;font-weight:bold;padding:0 7px 0 2px;
                &:hover,&:active,&.active{background:$magenta;span{@include sprite(306,2,24)}}
                span{@include icon(306,1,24);height:18px;width:20px;vertical-align:-5px;margin-right:0px}
            }
            #actions {margin-top: 3px;}
            #download_links,#complaint,#favorite,#vote_up,#vote_down{@include icon($size:24)}
            #download_links{@include states(320,24,$active:2);vertical-align: bottom;width:20px;height: 21px;margin-top:-3px}
            #download_link{@extend .button;font-size:1em;font-weight:bold;padding:1px 7px;margin-left:115px;line-height:16px;vertical-align:bottom;margin-top:0px;border-radius:5px;}
            form {display:inline;}
            #complaint{border:none;display:inline;margin:-3px 0px 0px;padding:0px;box-shadow:none;@include states(321,24,$active:2);
                    vertical-align: bottom;width: 20px;height: 23px;}
            #favorite{@include states(305,24,$status3:2,$active:2)}
            #vote_up{@include states(302,24,$status3:2,$active:2)}
            #vote_down{@include states(303,24,$status3:2,$active:2)}
        }
        #metadata
        {
            &.active{dl{height:125px;&+a{display:block}}}
            dl.active{height:auto}
            ul.filepaths {
                ul.filepaths {margin-left:10px;}
                li {
                    margin: 4px 0px;
                    a {max-width:82%;overflow: hidden; white-space: nowrap;text-overflow: ellipsis; display: inline-block; zoom:1; *display: inline; }
                    span {display:block;float:right;font-size:0.75em;margin-left:3px;white-space:nowrap}
                }
                li.first_files {
                    text-align:center;font-style:italic;color:$lightgray;
                }
            }
        }
        #comments
        {
            margin-top:10px;margin-bottom:20px;
            &.active{dl{height:125px;&+a{display:block}}}
            dl.active{height:auto}
            div{padding-top:10px;background:$darkwhite;font-size:.8em;a{@extend .button;border-top:none;box-shadow:none}}
            dd{margin-bottom:30px;span{float:right;margin-top:-20px;font-style:italic}}
            fieldset{background:$darkwhite;padding-top:10px;text-align:center;font-size:.8em;span{left:15px}}
            textarea{width:500px;background:#FFF}
        }
    }
    #more
    {
        display:none;height:38px;background:image-url("img/mas_resultados.png") no-repeat 12px 0;margin-left:160px;
        &:hover{background-position:12px -47px;border:none}
    }
    #filters
    {
        overflow:hidden;background:$darkwhite;width:615px;padding:10px;margin-bottom:5px;padding-left:0;font-weight:bold;color:$darkergray;
        li
        {
            padding:0 10px;border-right:2px solid $green;@include ellipsis(565,inline-block);
            &:last-child{border-right:none}
        }
        a{position:relative;top:4px}
    }
    #results
    {
        width:630px;margin:0;overflow:hidden;padding-bottom:60px;
        >li
        {
            margin:0 5px;position:relative;cursor:pointer;background:transparent;border-bottom:1px solid $lightestgray;
            &:hover>div,&.active>div
            {
                border-color:$magenta;
                >span,h3 a{color:$magenta;&.size span{border-left-color:$magenta}}
            }
            &.active{border-bottom-color:transparent}
            &.audio{@include states(102,50,2,2,'>div>span')}
            &.video{@include states(103,50,2,2,'>div>span')}
            &.image{@include states(104,50,2,2,'>div>span')}
            &.document{@include states(105,50,2,2,'>div>span')}
            &.software{@include states(106,50,2,2,'>div>span')}
            &.unknown{@include states(101,50,2,2,'>div>span')}
            >div
            {
                background:#FFF;height:65px;border:1px solid transparent;border-radius:1px;padding:10px 5px;margin:1px 0;
                h3 a
                {
                    z-index:0;text-decoration:none;outline:none;color:#000;font-weight:normal;@include ellipsis(380,$width-type:width);
                    strong{color:$magenta}
                    span{vertical-align:top;@include ellipsis(250,inline-block);}
                }
                a{z-index:1}
                >span
                {
                    float:left;color:#000;
                    &.type{@include icon(101,0,50);margin:12px 10px 0 15px}
                    &.ext{}
                    &.size{width:90px;span{margin-left:5px;border:5px solid transparent;border-left-color:$gray;display:inline-block;zoom:1;*display:inline}}
                }
                ul
                {
                    ul{float:left;margin-top:15px;}
                    &.sources
                    {
                        color:$darkergray;text-align:right;margin-top:-5px;position:absolute;right:113px;top:13px;
                        li{min-height:15px;font-size:0.9em;&:first{margin-bottom:20px}}
                        a{font-size:0.85em;display:block;color:$darkergray;text-decoration:none;text-transform:uppercase;&:hover{color:$magenta;text-decoration:underline}}
                        @mixin icon_p2p($icon_size:32)
                        {
                            margin-bottom:15px;margin-right:3px;
                            >span
                            {
                                @include icon($size:$icon_size);margin-right:-3px;
                                &.source32{@include icon($size:32,$img:sources);margin-right:0px;}
                                &.ed2k{@include sprite(201,1,$icon_size)}
                                &.gnutella{@include sprite(202,1,$icon_size)}
                                &.torrent{@include sprite(203,1,$icon_size)}
                                &.web{@include sprite(204,1,$icon_size)}
                            }
                        }
                        .source_1{@include icon_p2p;height:32px;.source32{margin-right:-4px}}
                        .source_2{@include icon_p2p(24);margin-right:7px;margin-bottom:25px;span{margin-right:-6px;&.source32:margin-right:0px}}
                        .source_3{@include icon_p2p(16);width:32px;text-align:center;display:inline-block;zoom:1;*display:inline;}
                    }
                    &.metadata
                    {
                        display:block;height:39px;font-size:.85em;width:465px;
                        li{display:inline;line-height: 0.9em;&:first-child a:before{content:none}}
                        a
                        {
                            margin-top:5px;color:$darkergray;text-decoration:none;@include ellipsis(300,inline-block);
                            &:before{content:"";margin:0 1px 0 3px;border:4px solid transparent;border-left-color:$gray;display:inline-block;zoom:1;*display:inline;}
                            &:hover{color:$magenta;text-decoration:underline}
                        }
                    }
                    &.links
                    {
                        display:none;float:right;height:32px;
                        a{color:$darkergray;display:block;}
                        li
                        {
                            vertical-align:middle;display:inline-block;zoom:1;*display:inline;
                            &:nth-child(1){width:175px;span{@include icon(309,0,24)}a{@include states(309,24,1,0)}}
                            &:nth-child(2){width:50px;span{@include icon(309,0,16)}a{@include states(302,16,1,0)}}
                            &:nth-child(3){width:50px;span{@include icon(309,0,16)}a{@include states(308,16,1,0)}}
                            strong{display:block}
                        }
                    }
                }
                .thumblink
                {
                    background:image-url("img/search/no_image.png");position:relative;float:right;width:100px;height:75px;margin-top:-5px;margin-left:5px;overflow:hidden;
                    >img{min-width:100px;max-width:150px;min-height:75px;max-height:120px}
                    >span
                    {
                        @include icon(333,-1,$active:0);position:absolute;top:20px;left:32px;width:50px;height:50px;display:block;
                        &.play{@include states(330,50,$active:0)}
                        &.embed{@include sprite(330,1)}
                        &.streaming{@include sprite(331,1)}
                        &.direct_download{@include sprite(332,1)}
                        &.P2P{@include sprite(333,1)}
                    }
                }
            }
        }
        #loading
        {
            text-align:center;display:none;img{margin-top:10px}
            cursor:auto;border:none;
        }
    }

    #last_files {
        margin: 0px 10px;
    }
}
/* taming */
.ui-autocomplete
{
    background:#FFF;border:1px solid $darkergray;border-top:none;border-radius:0 0 5px 5px;font-size:1.6em;text-align:left;
    li{padding:2px;cursor:pointer}
    a{display:block;color:$lightestblack;padding-left:30px;&:hover{border-color:transparent}}
    #ui-active-menuitem{background:$magenta;color:#FFF}
}
/* mensajes de error */
.message, .success, .error{padding:.8em;margin:1em;border:1px solid #cd0069}
.message{background:#FBEFFB;color:#cd0069}
.success{background:#FBEFFB;color:#cd0069}
.error{background:#FBEFFB;color:#cd0069}
/* paginacion */
.pagination{clear:both;margin-bottom:60px;margin-top:30px;text-align:center;font-size:1.1em;display:block;width:auto;border:0;list-style:none;margin-right:2px}
.pagination li{display:inline;text-align:center}
.pagination li *{border:solid 1px #ccc;margin-right:2px;padding:4px}
.pagination a{text-decoration:none}
.pagination span{background-color:#df1279;color:#fff}
/* icons */
.icon50{@include icon()}
.archive{@include sprite(106,2)}
.software{@include sprite(106,2)}
.audio{@include sprite(102,2)}
.document{@include sprite(105,2)}
.image{@include sprite(104,2)}
.file{@include sprite(106,2)}
.video{@include sprite(103,2)}
/* user */
section#user
{
    .oauth{width:89px;height:21px;margin:5px;display:inline-block;zoom:1;*display:inline}
    .oauth span{display:none}
    .oauth.tw{background:image-url("img/users/oauth.png")}
    .oauth.fb{background:image-url("img/users/oauth.png") -89px 0 no-repeat}
    input[type="submit"],section#page input[type="submit"]{margin:10px 0;width:auto}
    fieldset{margin-bottom:10px}
}
/* dialog */
#dialog{
    position:fixed;
    display:none;
    width:auto;height:auto;
    left:0;top:0;bottom:0;right:0;
    background-color:rgba(50,50,50,0.5);
    line-height:625px; /* minimun body */
    text-align:center;
    font-size:1.7em;
    color:$darkergray;
    z-index:101;
    &.visible{display:block;}
    p {
        margin:0;
        padding:0;
    }
    .outer{
        border:1px solid rgba(0,0,0,0.5);
        background:white;

        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
        box-shadow: 0 0 20px rgba(0,0,0,0.5);

        width:500px;
        padding:1px;
        vertical-align:middle;
        line-height:1em;
        border-radius:6px;
        display:inline-block;
        zoom:1;*display:inline;
        }
    .inner{
        background:$darkwhite;
        border-radius:5px;
        text-align:left;
        }
    header{
        border-radius:2px;
        background:$darkerwhite;
        padding:15px;
        color:$lightblack;
        font-weight:bold;
        min-height:28px;
        p:first-child{
            font-size:1.3em;
            line-height:1.1em;
            }
        }
    section{
        padding:25px 60px 20px;
        line-height:1.2em;
        p{
            padding:10px 0;
            }

        }
    footer{
        text-align:center;
        white-space:nowrap;
        padding:15px;
        padding-top:10px;
    }
    .button{
        vertical-align:top;
        font-weight:bolder;
        white-space:normal;
        width:47.5%;
        cursor:pointer;
        background:$green;
        padding-left:8px;
        padding-right:8px;
        }
    .dialog_ok {

    }
    .dialog_no {
        margin-right:2.5%;

    }
    .dialog_yes {
        margin-left:2.5%;
        background:$magenta;
        color:#FFF;
    }
    .dialog_check {
        font-size:0.8em;
    }
}

section#downloader {
    color: $lightblack;
    margin:0 auto;
    width:800px;

    .thanks {
        font-size:1.75em; text-align:center
    }

    .column {
        float: left; padding: 0px;width: 800px; margin-top:4em;
        &.c2 {width:350px;padding:0px 25px;
            div {
                margin-top:0.6em;text-align:right;
                a + p {font-weight:bold;}
                strong {color:$magenta}
                p {
                    padding:0; line-height:1.5em; font-size:0.85em;
                }
                a { color: $lightblack;}

                a#download_button {
                    background:$magenta;border-radius:5px;color:white;padding:0.4em 0.5em;font-weight:bold;font-size:2.1em;float:right;text-decoration:none;margin-left:0.3em; display:inline-block; zoom:1; *display:inline;
                }
            }
        }
        &.c3 {width:220px;padding:0px 35px;font-size:0.9em;
            div {height:100px;text-align:center}
            ul li {
                @include check-icon();
            }
        }
        &.alpha {
            clear:left;
            padding-left:0px;
        }
        &.omega {
            clear:right;
            padding-right:0px;
        }

    }
    h1 + p {
        text-align:right;margin-top:-2.5em;font-style:italic;font-size:0.9em;
        span {
            color: $magenta;
            font-size:1.8em;
            font-weight:bold;
            font-style:normal;
            display:block;
        }
    }
    h3 {
        margin-bottom:0.2em;
    }

    .legal {
        margin: 2em 0;
        p {
            margin: 0em 0 3em;
            color: $gray;
            font-size:0.8em;
        }
    }
}

/* dialog downloader */
#dialog.downloader{
    header{
        background:$darkerwhite image-url("img/dialog_logo.png") left top no-repeat;
        padding-left:58px;
    }
    .button{
        font-weight:normal;
        font-size:0.75em;
    }
    .button p:first-child{
        font-weight:bolder;
        font-size:1.5em;
    }

}
