@import "main.css";
/* search ajax*/
@mixin button($icon,$size:50)
{
    a {float:left; padding-top:$size*.75px;height:$size*.3px;margin:0;text-decoration:none;@include states($icon,$size,$status4_color:#FFF)}
}
input#q{height:30px;font-size:1.6em;margin-top:5px;/*padding-right:85px para favoritos y compartir*/}
fieldset.small
{
    position:relative;
    input[type="text"]+span{top:12px}
    a
    {
        position:relative;left:-85px;top:-5px;@include icon(305,0,32);
        &:nth-of-type(1){@include states(305,32)}
        &:nth-of-type(2){@include states(306,32)}
    }
}
#search_submit{/*margin-left:-65px; para favoritos y compartir*/width:140px;height:40px}
#search_info
{
    height:1em;color:$darkgray;
    strong{color:$darkergray}
    em{color:$magenta;font-style:italic}
}
body{min-width:940px}
#container header
{
    h1{margin-top:4px}
    #search_file
    {
        display:inline-block;
        fieldset{width:100%;}
    }
}
section#files
{
    section
    {
        >aside
        {
            float:left;width:160px;
            dt{font-weight:bold;font-size:1.4em;margin:5px 0}
            a{outline:none}
            li
            {
                display:inline-block;font-size:.7em;text-align:center;text-transform:lowercase;margin:1px;line-height:.8em;height:47px;
                a{@include icon("001")}
                @include button("001");
            }
            #type li
            {
                @for $i from 2 through 6{&:nth-child($i){@include button("00"+$i)}}
            }
            #src li
            {
                @for $i from 2 through 4{&:nth-child($i){@include button("00"+($i+5))}}
                &:nth-child(3) a{padding-top:32.5px;height:20px;}
            }
            #size
            {
                width:135px;margin-left:8px;
                div
                {
                    background:$lightestgray;
                    div{background:$magenta}
                    a
                    {
                        background:$darkerwhite;border-color:$lightesblack;
                        &.ui-state-hover,&.ui-state-focus{background:$darkwhite;border-color:$magenta}
                    }
                }
                span
                {
                    margin:5px -10px 0 -7px;color:$lightblack;font-weight:bold;font-size:.9em;
                    &:first-of-type{float:left}
                    &:last-of-type{float:right}
                }
            }
        }
    }
    #fondo{opacity:0;display:none;background:#333;height:100%;width:100%;position:absolute;z-index:5;left:-10px;padding-right:10px}
    #subcontent{max-width:1490px;min-width:940px;position:relative;/*overflow:hidden;*/}
    #results
    {
        min-height:500px;width:640px;margin:0;
        >li
        {
            width:630px;margin:0 5px;overflow:hidden;position:relative;cursor:pointer;background:transparent;border-bottom:1px solid $lightestgray;
            &:hover>div,&.active>div
            {
                border-color:$magenta;background:$darkerwhite;
                >span:nth-of-type(2),>span:nth-of-type(3),h3 a{color:$magenta;span{border-left-color:$magenta}}
            }
            &.active{border-bottom-color:transparent;>div{border-radius:5px 0 0 5px}}
            &.archive{@include states(106,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.software{@include states(106,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.audio{@include states(102,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.document{@include states(105,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.image{@include states(104,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.file{@include states(106,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            &.video{@include states(103,50,2,true,'span:first-of-type',$status3:2,$status4:2)}
            /*&:nth-child(odd)>div{background:transparentize($darkgray,.9)}
            &:nth-child(even)>div{background:transparentize($darkgray,.95)}*/
            >div
            {
                height:70px;border:1px solid transparent;border-radius:2px;padding:10px 5px;margin:5px 0;
                h3 a{z-index:0;@include ellipsis(395);text-decoration:none;outline:none;strong{color:$magenta}}
                a{z-index:1}
                >span{float:left;margin-top:5px;font-size:1.1em;color:#000}
                >span:nth-of-type(1),.type{@include icon(101,0,50);margin-right:10px;margin-top:10px}
                >span:nth-of-type(2),.ext{}
                >span:nth-of-type(3),.size{width:90px;span{margin-left:5px;display:inline-block;border:5px solid transparent;border-left-color:$gray}}
                ul
                {
                    ul{float:left;margin-top:15px;}
                    &.source
                    {
                        float:right;width:148px;height:87px;
                        a{display:block}
                        @mixin icon_p2p($icon_size:32)
                        {
                            font-weight:bold;
                            span
                            {
                                span{@include icon(201,1,$icon_size);@if $icon_size>16{float:left}}
                                &.ed2k{@include states(201,$icon_size,2,$status1:2)}
                                &.gnutella{@include states(202,$icon_size,2,$status1:2)}
                                &.torrent{@include states(203,$icon_size,2,$status1:2)}
                                &.web{@include states(204,$icon_size,2,$status1:2)}
                            }
                            small
                            {
                                font-size:.9em;display:block;color:$darkergray;
                                & img{margin-right:1px;vertical-align:bottom}
                                a{color:$darkergray;text-decoration:none;&:hover{text-decoration:underline}}
                            }
                        }
                        .source_1
                        {
                            @include icon_p2p;margin-top:20px;
                            >img{margin-top:-5px;margin-left:3.5px;&+span{display:block;width:40px;text-align:center;font-weight:bold;color:$darkergray}}
                            .thumblink
                            {
                                position:relative;float:right;width:100px;height:75px;margin:0;margin-top:-23px;
                                >img{max-width:102px;}
                                >span{position:absolute;top:14px;left:26px;width:50px;height:50px;display:block;@include icon(315,-1,$active:false)}
                            }
                            .blacklink span{top:14px}
                        }
                        .source_2{font-size:.9em;margin-top:7px;@include icon_p2p(24)}
                        .source_3{@include icon_p2p(16);small{display:inline-block;font-size:.85em;margin:5px 0}}
                    }
                    &.metadata
                    {
                        display:block;height:30px;font-size:.9em;width:465px;
                        li{display:inline;&:first-child a:before{content:none}}
                        a
                        {
                            @include ellipsis(300,inline-block);color:$darkergray;
                            &:before{content:"";margin:0 1px 0 3px;display:inline-block;border:4px solid transparent;border-left-color:$gray}
                            &:hover{color:$magenta}
                        }
                    }
                    &.links
                    {
                        float:right;height:32px;/*width:320px;margin-left:120px;margin-top:-3px;*/
                        a{color:$darkergray;/*font-size:.9em;*/display:block;}
                        /*span{@include icon(309,0,24);float:left}
                        li
                        {
                            display:inline-block;width:100px;
                            &:nth-child(1){a{@include states(309,24,1)}}
                            &:nth-child(2){a{@include states(302,24,1)}}
                            &:nth-child(3){a{@include states(308,24,1)}}
                            strong{display:block}
                        }*/
                        li
                        {
                            /*position:relative;*/display:inline-block;vertical-align:middle;
                            &:nth-child(1){width:175px;span{/*float:left;*/@include icon(309,0,24)}a{@include states(309,24,1,false)}}
                            &:nth-child(2){width:50px;/*top:-28px;left:80px;*/span{@include icon(309,0,16)}a{@include states(302,16,1,false)}}
                            &:nth-child(3){width:50px;/*top:-28px;left:116px;*/span{@include icon(309,0,16)}a{@include states(308,16,1,false)}}
                            strong{display:block}
                        }
                    }
                }
            }
        }
        #no_results
        {
            cursor:auto;border:none;
            ul{list-style:disc inside none}
            li{display:list-item}
            em{font-style:italic;font-weight:normal}
            &:hover{border-color:#FFF;background:#FFF}
            &.loading{text-align:center;img{margin-top:10px}}
        }
    }
    #flecha
    {
        cursor:pointer;position:absolute;right:-150px;z-index:7;display:none;border:15px solid transparent;border-left-color:$magenta;margin-top:30px;
        &.return{@include states(300,$span:1)}
    }
    #download
    {
        overflow:hidden;display:none;background:$darkerwhite;width:560px;height:100%;position:fixed;z-index:6;right:-800px;border-radius:5px;box-shadow:inset 5px 5px 5px $lightestgray;padding:30px 40px 0;text-align:center;
        &.top{border-top-width:0;border-top-left-radius:0;border-top-right-radius:0}
        &.bottom{border-bottom-width:0;border-bottom-left-radius:0;border-bottom-right-radius:0;padding-bottom:3px}
        &.active{display:block;right:0}
        >a{float:right;color:$magenta;cursor:pointer;margin:5px;position:relative;z-index:8}
        article{height:100%;position:relative}
        header>a{@include icon(305,-1,24);float:left}
        h2{@include ellipsis(540,$white-space:pre-wrap);text-align:left;min-height:30px;color:$magenta}
        dl
        {
            margin:15px 0;text-align:left;color:#71726C;
            dt{float:left;width:24%;font-weight:bold;padding-right:1%;text-align:right}
            dd{padding-left:27%;margin-bottom:20px}
        }
        .download_button
        {
            background:#E2E2DA;/*padding:0 20px;*/top:0;float:none;text-align:center;min-height:315px;
            iframe,embed{display:block}
            /*>span{margin-top:20px}*/
            >a{margin:50px 0;width:465px}
        }
        .download_source
        {
            text-align:left;
            a{width:160px;text-align:right}
            input{padding-left:5px;width:340px;height:35px;float:none;display:inline-block;border-radius:10px}
        }
        .sharelinks{background:$lightestgray;padding:10px 0;text-align:left;padding-left:10px}
    }
    &+footer{position:fixed;z-index:100}
}
#more
{
    display:none;height:38px;background:url(/static/img/mas_resultados.png) no-repeat 12px 0;margin-left:160px;
    &:hover{background-position:12px -47px;border:none}
}
